In [21]:
import numpy as np
import pandas as pd

In [22]:
City=pd.read_csv('Hyderabad.csv')

In [23]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
0,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished
1,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished
2,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished
3,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished
4,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished
...,...,...,...,...,...,...,...,...,...,...
8675,Priya Rentals\nAGENT\n0,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished
8676,Ravi\nAGENT\n0,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished
8677,SG RENTALS\nAGENT\n0,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished
8678,VENKY\nAGENT\n0,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished
8679,ANU RENTALS\nAGENT\n0,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished

In [24]:
City['location']=City['Address'].str.split(',').apply(lambda x:x[0])

In [25]:
City['City']=City['Address'].str.split(',').apply(lambda x:x[-1])

In [26]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
0,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,Attapur,Hyderabad
1,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,Toli Chowki,Hyderabad
2,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,Shamshabad,Hyderabad
3,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,Nanakramguda,Hyderabad
4,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...,...
8675,Priya Rentals\nAGENT\n0,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8676,Ravi\nAGENT\n0,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,Kondapur,Hyderabad
8677,SG RENTALS\nAGENT\n0,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8678,VENKY\nAGENT\n0,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8679,ANU RENTALS\nAGENT\n0,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,Madhapur,Hyderabad

In [27]:
City.sample(15)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
7464,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad
7998,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
7181,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,Toli Chowki,Hyderabad
7900,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,Attapur,Hyderabad
5372,SYNERGY CONSULTANTS\nAGENT\n-,42000,1886,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Unfurnished,Nanakramguda,Hyderabad
4229,Ishaan\nAGENT\n0,50000,2050,3,No Deposit,3 bathrooms,East facing,"Shaikpet, Hyderabad",NaN,Semi-Furnished,Shaikpet,Hyderabad
5825,Seller\nVERIFIED OWNER,30000,2400,4,No Deposit,4 bathrooms,NaN,"Nizampet, Hyderabad",NaN,Unfurnished,Nizampet,Hyderabad
8492,SYNERGY CONSULTANTS\nAGENT\n0,42000,1886,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Unfurnished,Nanakramguda,Hyderabad
5947,Asif\nAGENT\n0,1.15 L,3130,3,No Deposit,3 bathrooms,NaN,"Banjara Hills, Hyderabad",Dream Valencia,Semi-Furnished,Banjara Hills,Hyderabad
4486,Seller\nVERIFIED OWNER,20000,1800,3,No Deposit,3 bathrooms,NaN,"Uppal, Hyderabad",NaN,Furnished,Uppal,Hyderabad
1434,Thirupathi Rentals\nAGENT\n-,17000,650,1,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
7775,Priya Rentals\nAGENT\n-,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8190,Datrika Enterprises\nAGENT\n-,56000,1885,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Semi-Furnished,Nanakramguda,Hyderabad
5537,SG RENTALS\nAGENT\n-,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
4178,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad

In [28]:
City.sample(50)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
3466,Seller\nVERIFIED OWNER,20000,1800,3,No Deposit,3 bathrooms,NaN,"Uppal, Hyderabad",NaN,Furnished,Uppal,Hyderabad
7390,Datrika Enterprises\nAGENT\n-,56000,1885,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Semi-Furnished,Nanakramguda,Hyderabad
7956,Ravi\nAGENT\n-,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,Kondapur,Hyderabad
1479,ANU RENTALS\nAGENT\n-,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,Madhapur,Hyderabad
7579,ANU RENTALS\nAGENT\n-,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,Madhapur,Hyderabad
394,Thirupathi Rentals\nAGENT\n-,17000,650,1,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
2918,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
6501,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,Toli Chowki,Hyderabad
4159,ANU RENTALS\nAGENT\n-,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,Madhapur,Hyderabad
5167,Asif\nAGENT\n0,1.15 L,3130,3,No Deposit,3 bathrooms,NaN,"Banjara Hills, Hyderabad",Dream Valencia,Semi-Furnished,Banjara Hills,Hyderabad
5973,SHIVA\nAGENT\n-,21000,1000,2,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
4313,SHIVA\nAGENT\n0,21000,1000,2,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
5799,ANU RENTALS\nAGENT\n0,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,Madhapur,Hyderabad
2751,Investors Hub\nAGENT\n-,95000,3070,4,No Deposit,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished,Kondapur,Hyderabad
1187,Asif\nAGENT\n-,1.15 L,3130,3,No Deposit,3 bathrooms,NaN,"Banjara Hills, Hyderabad",Dream Valencia,Semi-Furnished,Banjara Hills,Hyderabad
6455,Priya Rentals\nAGENT\n-,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
1426,Seller\nVERIFIED OWNER,20000,1800,3,No Deposit,3 bathrooms,NaN,"Uppal, Hyderabad",NaN,Furnished,Uppal,Hyderabad
3705,Seller\nVERIFIED OWNER,30000,2400,4,No Deposit,4 bathrooms,NaN,"Nizampet, Hyderabad",NaN,Unfurnished,Nizampet,Hyderabad
1994,Thirupathi Rentals\nAGENT\n-,17000,650,1,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
377,SG RENTALS\nAGENT\n-,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
1453,SHIVA\nAGENT\n-,21000,1000,2,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
3595,Priya Rentals\nAGENT\n-,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
4275,Priya Rentals\nAGENT\n-,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
6724,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad
7872,SYNERGY CONSULTANTS\nAGENT\n-,42000,1886,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Unfurnished,Nanakramguda,Hyderabad
7478,VENKY\nAGENT\n0,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
4356,Ravi\nAGENT\n0,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,Kondapur,Hyderabad
3084,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad
6385,Seller\nVERIFIED OWNER,30000,2400,4,No Deposit,4 bathrooms,NaN,"Nizampet, Hyderabad",NaN,Unfurnished,Nizampet,Hyderabad
3574,Thirupathi Rentals\nAGENT\n-,17000,650,1,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
451,Investors Hub\nAGENT\n-,95000,3070,4,No Deposit,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished,Kondapur,Hyderabad
7640,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,Attapur,Hyderabad
3300,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,Attapur,Hyderabad
4682,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,Shamshabad,Hyderabad
6451,Investors Hub\nAGENT\n-,95000,3070,4,No Deposit,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished,Kondapur,Hyderabad
4271,Investors Hub\nAGENT\n-,95000,3070,4,No Deposit,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished,Kondapur,Hyderabad
6546,Seller\nVERIFIED OWNER,20000,1800,3,No Deposit,3 bathrooms,NaN,"Uppal, Hyderabad",NaN,Furnished,Uppal,Hyderabad
4756,Ravi\nAGENT\n-,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,Kondapur,Hyderabad
6056,Ravi\nAGENT\n0,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,Kondapur,Hyderabad
158,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8424,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad
8023,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,Nanakramguda,Hyderabad
376,Ravi\nAGENT\n-,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,Kondapur,Hyderabad
1057,SG RENTALS\nAGENT\n-,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
5904,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad
1430,Datrika Enterprises\nAGENT\n-,56000,1885,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Semi-Furnished,Nanakramguda,Hyderabad
644,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad
2208,Individual Agent\nAGENT\n-,25000,1350,2,No Deposit,2 bathrooms,NaN,"Nallagandla Gachibowli, Hyderabad",NaN,Semi-Furnished,Nallagandla Gachibowli,Hyderabad
2001,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,Toli Chowki,Hyderabad
3433,SHIVA\nAGENT\n-,21000,1000,2,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad

In [29]:
## conversion of rentcolumn into numeric type:
def convert_rent(rent):
    if "L" in rent:
        return int(float(rent.replace('L','').replace(',','').strip())*100000)                                           
    else:
        return int(float(rent.replace(',','').strip()))

In [30]:
def Convert_rent(rent):
    # Check if the input is an integer, and handle it directly
    if isinstance(rent, int):
        return rent
    
    # Ensure the input is a string before using string operations
    if isinstance(rent, str):
        if "L" in rent:
            return int(float(rent.replace('L', '').replace(',', '').strip()) * 100000)
        else:
            return int(rent.replace(',', '').strip())
    
    # Handle unexpected types (e.g., NaN, None)
    return None

In [31]:
City['Rent']=City['Rent'].apply(Convert_rent)

In [32]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
0,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,Attapur,Hyderabad
1,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,Toli Chowki,Hyderabad
2,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,Shamshabad,Hyderabad
3,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,Nanakramguda,Hyderabad
4,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...,...
8675,Priya Rentals\nAGENT\n0,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8676,Ravi\nAGENT\n0,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,Kondapur,Hyderabad
8677,SG RENTALS\nAGENT\n0,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8678,VENKY\nAGENT\n0,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8679,ANU RENTALS\nAGENT\n0,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,Madhapur,Hyderabad

In [33]:
City['Rent']=City['Rent'].astype(int)

In [34]:
City.dtypes

broker_consultancy    object
Rent                   int64
Area                   int64
appartment_type        int64
Deposit               object
Bathrooms             object
Facing                object
Address               object
Apartment Name        object
Status                object
location              object
City                  object
dtype: object

In [35]:
City['Rent/sqfit']=City['Rent']/City['Area']

In [36]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City,Rent/sqfit
0,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,Attapur,Hyderabad,15.000000
1,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,Toli Chowki,Hyderabad,14.545455
2,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,Shamshabad,Hyderabad,15.000000
3,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,Nanakramguda,Hyderabad,25.764895
4,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad,15.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8675,Priya Rentals\nAGENT\n0,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad,20.000000
8676,Ravi\nAGENT\n0,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,Kondapur,Hyderabad,44.545455
8677,SG RENTALS\nAGENT\n0,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad,25.000000
8678,VENKY\nAGENT\n0,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad,15.000000
8679,ANU RENTALS\nAGENT\n0,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,Madhapur,Hyderabad,24.390244

In [37]:
City.sample(150)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City,Rent/sqfit
2563,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,Nanakramguda,Hyderabad,25.764895
8548,Individual Agent\nAGENT\n0,25000,1350,2,No Deposit,2 bathrooms,NaN,"Nallagandla Gachibowli, Hyderabad",NaN,Semi-Furnished,Nallagandla Gachibowli,Hyderabad,18.518519
6012,SYNERGY CONSULTANTS\nAGENT\n0,42000,1886,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Unfurnished,Nanakramguda,Hyderabad,22.269353
3529,Ishaan\nAGENT\n-,50000,2050,3,No Deposit,3 bathrooms,East facing,"Shaikpet, Hyderabad",NaN,Semi-Furnished,Shaikpet,Hyderabad,24.390244
4218,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad,15.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2174,Thirupathi Rentals\nAGENT\n-,17000,650,1,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad,26.153846
4657,SG RENTALS\nAGENT\n0,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad,25.000000
8546,Seller\nVERIFIED OWNER,20000,1800,3,No Deposit,3 bathrooms,NaN,"Uppal, Hyderabad",NaN,Furnished,Uppal,Hyderabad,11.111111
2697,SG RENTALS\nAGENT\n-,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad,25.000000
4967,Asif\nAGENT\n0,114999,3130,3,No Deposit,3 bathrooms,NaN,"Banjara Hills, Hyderabad",Dream Valencia,Semi-Furnished,Banjara Hills,Hyderabad,36.740895

In [38]:
City.describe()

                Rent         Area  appartment_type   Rent/sqfit
count    8680.000000  8680.000000      8680.000000  8680.000000
mean    38224.950000  1675.300000         2.500000    22.379143
std     27812.646682   843.948616         0.922008     8.341872
min      9000.000000   550.000000         1.000000    11.111111
25%     19500.000000  1075.000000         2.000000    15.000000
50%     28000.000000  1325.000000         2.500000    21.634677
75%     46250.000000  2137.500000         3.000000    25.862133
max    114999.000000  3130.000000         4.000000    44.545455

In [51]:
filtered_city = City[City['Rent/sqfit'] <=15]

In [52]:
filtered_city.location.unique()

array(['Attapur', 'Toli Chowki', 'Shamshabad', 'Malakpet', 'Nizampet',
       'Uppal', 'Kondapur'], dtype=object)

In [53]:
filtered_city1 = City[(City['Rent/sqfit'] > 15) & (City['Rent/sqfit'] <=25)]

In [54]:
filtered_city1.location.unique()

array(['Nallagandla Gachibowli', 'Shaikpet', 'Nanakramguda', 'Kondapur',
       'Madhapur'], dtype=object)

In [55]:
filtered_city2 = City[City['Rent/sqfit'] >25]

In [56]:
filtered_city2.location.unique()

array(['Nanakramguda', 'Banjara Hills', 'Kondapur'], dtype=object)

In [57]:
City.drop(columns=['location'],inplace=True)

In [58]:
City.drop(columns=['City'],inplace=True)

In [59]:
def add_rent_class(df):
    """
    Adds a 'class' column to the DataFrame based on the 'Rent/sqft' values.
    
    Parameters:
    df (pd.DataFrame): The DataFrame to which the 'class' column will be added.
    
    Returns:
    pd.DataFrame: The DataFrame with the new 'class' column.
    """
    def classify_rent(rent_sqfit):
        if rent_sqfit <= 25:
            return 'class3'
        elif 25 <= rent_sqfit <= 45:
            return 'class2'
        else:
            return 'class1'
    
    df['class'] = df['Rent/sqfit'].apply(classify_rent)
    return df

In [60]:
city_with_class = add_rent_class(City)

In [61]:
city_with_class

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
0,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,15.000000,class3
1,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,14.545455,class3
2,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,15.000000,class3
3,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,25.764895,class2
4,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,15.000000,class3
...,...,...,...,...,...,...,...,...,...,...,...,...
8675,Priya Rentals\nAGENT\n0,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,20.000000,class3
8676,Ravi\nAGENT\n0,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,44.545455,class2
8677,SG RENTALS\nAGENT\n0,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,25.000000,class3
8678,VENKY\nAGENT\n0,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,15.000000,class3
8679,ANU RENTALS\nAGENT\n0,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,24.390244,class3

In [58]:
city_with_class.sample(150)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
7117,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,6.500000,class3
3215,Seller\nVERIFIED OWNER,14000,450,1,No Deposit,1 bathrooms,NaN,"Munnekollal, Bangalore",NaN,Semi-Furnished,31.111111,class2
7223,Seller\nVERIFIED OWNER,32800,550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished,59.636364,class1
3997,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,6.500000,class3
4030,Seller\nVERIFIED OWNER,13000,600,2,No Deposit,2 bathrooms,NaN,"BTM Layout, Bangalore",NaN,Semi-Furnished,21.666667,class3
...,...,...,...,...,...,...,...,...,...,...,...,...
3720,Seller\nVERIFIED OWNER,21000,550,1,No Deposit,1 bathrooms,North facing,"Whitefield, Bangalore",NaN,Furnished,38.181818,class2
1137,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,6.500000,class3
8628,Seller\nVERIFIED OWNER,8000,300,1,No Deposit,1 bathrooms,NaN,"Kasavanahalli, Bangalore",NaN,Furnished,26.666667,class2
3144,Seller\nVERIFIED OWNER,18000,550,1,No Deposit,1 bathrooms,East facing,"Krishnarajapura, Bangalore",NaN,Furnished,32.727273,class2
3124,Seller\nVERIFIED OWNER,18000,550,1,No Deposit,1 bathrooms,East facing,"Krishnarajapura, Bangalore",NaN,Furnished,32.727273,class2

In [62]:
city_with_class.head(20)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
0,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,15.000000,class3
1,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,14.545455,class3
2,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,15.000000,class3
3,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,25.764895,class2
4,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,15.000000,class3
5,Seller\nVERIFIED OWNER,30000,2400,4,No Deposit,4 bathrooms,NaN,"Nizampet, Hyderabad",NaN,Unfurnished,12.500000,class3
6,Seller\nVERIFIED OWNER,20000,1800,3,No Deposit,3 bathrooms,NaN,"Uppal, Hyderabad",NaN,Furnished,11.111111,class3
7,Asif\nAGENT\n-,114999,3130,3,No Deposit,3 bathrooms,NaN,"Banjara Hills, Hyderabad",Dream Valencia,Semi-Furnished,36.740895,class2
8,Individual Agent\nAGENT\n-,25000,1350,2,No Deposit,2 bathrooms,NaN,"Nallagandla Gachibowli, Hyderabad",NaN,Semi-Furnished,18.518519,class3
9,Ishaan\nAGENT\n-,50000,2050,3,No Deposit,3 bathrooms,East facing,"Shaikpet, Hyderabad",NaN,Semi-Furnished,24.390244,class3
10,Datrika Enterprises\nAGENT\n-,56000,1885,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Semi-Furnished,29.708223,class2
11,Investors Hub\nAGENT\n-,95000,3070,4,No Deposit,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished,30.944625,class2
12,SYNERGY CONSULTANTS\nAGENT\n-,42000,1886,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Unfurnished,22.269353,class3
13,SHIVA\nAGENT\n-,21000,1000,2,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,21.000000,class3
14,Thirupathi Rentals\nAGENT\n-,17000,650,1,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,26.153846,class2
15,Priya Rentals\nAGENT\n-,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,20.000000,class3
16,Ravi\nAGENT\n-,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,44.545455,class2
17,SG RENTALS\nAGENT\n-,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,25.000000,class3
18,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,15.000000,class3
19,ANU RENTALS\nAGENT\n-,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,24.390244,class3

In [63]:
city_with_class.to_csv('Hydrabad_class.csv', index=False)