In [18]:
import numpy as np
import pandas as pd

In [19]:
City=pd.read_csv('banglore.csv')

In [20]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
0,Seller\nVERIFIED OWNER,21000,550,1,No Deposit,1 bathrooms,North facing,"Whitefield, Bangalore",NaN,Furnished
1,Seller\nVERIFIED OWNER,9500,1200,2,No Deposit,2 bathrooms,NorthEast facing,"Kithaganur Colony, Bangalore",NaN,Semi-Furnished
2,Seller\nVERIFIED OWNER,20000,550,1,No Deposit,1 bathrooms,West facing,"Whitefield, Bangalore",NaN,Furnished
3,Seller\nVERIFIED OWNER,32800,550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished
4,Seller\nVERIFIED OWNER,18000,550,1,No Deposit,1 bathrooms,East facing,"Krishnarajapura, Bangalore",NaN,Furnished
...,...,...,...,...,...,...,...,...,...,...
8675,Seller\nVERIFIED OWNER,14000,450,1,No Deposit,1 bathrooms,NaN,"Munnekollal, Bangalore",NaN,Semi-Furnished
8676,Seller\nVERIFIED OWNER,12000,840,2,No Deposit,2 bathrooms,NaN,"Nelamangala, Bangalore",Tata New Haven,Semi-Furnished
8677,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished
8678,Seller\nVERIFIED OWNER,13000,1200,1,No Deposit,2 bathrooms,NaN,"Margondanahalli, Bangalore",NaN,Semi-Furnished
8679,Seller\nVERIFIED OWNER,6500,350,1,No Deposit,1 bathrooms,NaN,"J. P. Nagar, Bangalore",NaN,Semi-Furnished

In [21]:
City['location']=City['Address'].str.split(',').apply(lambda x:x[0])

In [22]:
City['City']=City['Address'].str.split(',').apply(lambda x:x[-1])

In [23]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
0,Seller\nVERIFIED OWNER,21000,550,1,No Deposit,1 bathrooms,North facing,"Whitefield, Bangalore",NaN,Furnished,Whitefield,Bangalore
1,Seller\nVERIFIED OWNER,9500,1200,2,No Deposit,2 bathrooms,NorthEast facing,"Kithaganur Colony, Bangalore",NaN,Semi-Furnished,Kithaganur Colony,Bangalore
2,Seller\nVERIFIED OWNER,20000,550,1,No Deposit,1 bathrooms,West facing,"Whitefield, Bangalore",NaN,Furnished,Whitefield,Bangalore
3,Seller\nVERIFIED OWNER,32800,550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished,Bellandur,Bangalore
4,Seller\nVERIFIED OWNER,18000,550,1,No Deposit,1 bathrooms,East facing,"Krishnarajapura, Bangalore",NaN,Furnished,Krishnarajapura,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...
8675,Seller\nVERIFIED OWNER,14000,450,1,No Deposit,1 bathrooms,NaN,"Munnekollal, Bangalore",NaN,Semi-Furnished,Munnekollal,Bangalore
8676,Seller\nVERIFIED OWNER,12000,840,2,No Deposit,2 bathrooms,NaN,"Nelamangala, Bangalore",Tata New Haven,Semi-Furnished,Nelamangala,Bangalore
8677,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,Gottigere,Bangalore
8678,Seller\nVERIFIED OWNER,13000,1200,1,No Deposit,2 bathrooms,NaN,"Margondanahalli, Bangalore",NaN,Semi-Furnished,Margondanahalli,Bangalore
8679,Seller\nVERIFIED OWNER,6500,350,1,No Deposit,1 bathrooms,NaN,"J. P. Nagar, Bangalore",NaN,Semi-Furnished,J. P. Nagar,Bangalore

In [24]:
City.sample(15)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
6196,Seller\nVERIFIED OWNER,12000,840,2,No Deposit,2 bathrooms,NaN,"Nelamangala, Bangalore",Tata New Haven,Semi-Furnished,Nelamangala,Bangalore
3752,Seller\nVERIFIED OWNER,9500,600,1,No Deposit,1 bathrooms,NaN,"Electronics City, Bangalore",NaN,Semi-Furnished,Electronics City,Bangalore
1303,Seller\nVERIFIED OWNER,32800,550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished,Bellandur,Bangalore
8205,Seller\nVERIFIED OWNER,65000,1650,3,No Deposit,3 bathrooms,NaN,"Sarjapur Road Post Railway Crossing,",Ahad Euphoria,Semi-Furnished,Sarjapur Road Post Railway Crossing,
1017,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,Gottigere,Bangalore
1112,Seller\nVERIFIED OWNER,9500,600,1,No Deposit,1 bathrooms,NaN,"Electronics City, Bangalore",NaN,Semi-Furnished,Electronics City,Bangalore
7418,Seller\nVERIFIED OWNER,13000,1200,1,No Deposit,2 bathrooms,NaN,"Margondanahalli, Bangalore",NaN,Semi-Furnished,Margondanahalli,Bangalore
4112,Seller\nVERIFIED OWNER,9500,600,1,No Deposit,1 bathrooms,NaN,"Electronics City, Bangalore",NaN,Semi-Furnished,Electronics City,Bangalore
7568,Seller\nVERIFIED OWNER,8000,300,1,No Deposit,1 bathrooms,NaN,"Kasavanahalli, Bangalore",NaN,Furnished,Kasavanahalli,Bangalore
6188,Seller\nVERIFIED OWNER,8000,300,1,No Deposit,1 bathrooms,NaN,"Kasavanahalli, Bangalore",NaN,Furnished,Kasavanahalli,Bangalore
6734,Seller\nVERIFIED OWNER,11000,1250,2,No Deposit,1 bathrooms,North facing,"Ramamurthy Nagar, Bangalore",NaN,Semi-Furnished,Ramamurthy Nagar,Bangalore
2277,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,Gottigere,Bangalore
4850,Seller\nVERIFIED OWNER,13000,600,2,No Deposit,2 bathrooms,NaN,"BTM Layout, Bangalore",NaN,Semi-Furnished,BTM Layout,Bangalore
1353,Seller\nVERIFIED OWNER,15000,1300,2,No Deposit,2 bathrooms,East facing,"RR Nagar, Bangalore",NaN,Semi-Furnished,RR Nagar,Bangalore
5220,Seller\nVERIFIED OWNER,21000,550,1,No Deposit,1 bathrooms,North facing,"Whitefield, Bangalore",NaN,Furnished,Whitefield,Bangalore

In [25]:
City.sample(50)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
4141,Seller\nVERIFIED OWNER,9500,1200,2,No Deposit,2 bathrooms,NorthEast facing,"Kithaganur Colony, Bangalore",NaN,Semi-Furnished,Kithaganur Colony,Bangalore
4814,Seller\nVERIFIED OWNER,11000,1250,2,No Deposit,1 bathrooms,North facing,"Ramamurthy Nagar, Bangalore",NaN,Semi-Furnished,Ramamurthy Nagar,Bangalore
914,Seller\nVERIFIED OWNER,11000,1250,2,No Deposit,1 bathrooms,North facing,"Ramamurthy Nagar, Bangalore",NaN,Semi-Furnished,Ramamurthy Nagar,Bangalore
8514,Seller\nVERIFIED OWNER,11000,1250,2,No Deposit,1 bathrooms,North facing,"Ramamurthy Nagar, Bangalore",NaN,Semi-Furnished,Ramamurthy Nagar,Bangalore
6364,Seller\nVERIFIED OWNER,18000,550,1,No Deposit,1 bathrooms,East facing,"Krishnarajapura, Bangalore",NaN,Furnished,Krishnarajapura,Bangalore
2165,Seller\nVERIFIED OWNER,65000,1650,3,No Deposit,3 bathrooms,NaN,"Sarjapur Road Post Railway Crossing,",Ahad Euphoria,Semi-Furnished,Sarjapur Road Post Railway Crossing,
5583,Seller\nVERIFIED OWNER,32800,550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished,Bellandur,Bangalore
7303,Seller\nVERIFIED OWNER,32800,550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished,Bellandur,Bangalore
648,Seller\nVERIFIED OWNER,8000,300,1,No Deposit,1 bathrooms,NaN,"Kasavanahalli, Bangalore",NaN,Furnished,Kasavanahalli,Bangalore
6432,Seller\nVERIFIED OWNER,9500,600,1,No Deposit,1 bathrooms,NaN,"Electronics City, Bangalore",NaN,Semi-Furnished,Electronics City,Bangalore
3053,Seller\nVERIFIED OWNER,15000,1300,2,No Deposit,2 bathrooms,East facing,"RR Nagar, Bangalore",NaN,Semi-Furnished,RR Nagar,Bangalore
6097,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,Gottigere,Bangalore
2496,Seller\nVERIFIED OWNER,12000,840,2,No Deposit,2 bathrooms,NaN,"Nelamangala, Bangalore",Tata New Haven,Semi-Furnished,Nelamangala,Bangalore
3853,Seller\nVERIFIED OWNER,15000,1300,2,No Deposit,2 bathrooms,East facing,"RR Nagar, Bangalore",NaN,Semi-Furnished,RR Nagar,Bangalore
6711,Seller\nVERIFIED OWNER,15000,1100,2,No Deposit,2 bathrooms,NaN,"Koramangala, Bangalore",NaN,Semi-Furnished,Koramangala,Bangalore
3676,Seller\nVERIFIED OWNER,12000,840,2,No Deposit,2 bathrooms,NaN,"Nelamangala, Bangalore",Tata New Haven,Semi-Furnished,Nelamangala,Bangalore
6195,Seller\nVERIFIED OWNER,14000,450,1,No Deposit,1 bathrooms,NaN,"Munnekollal, Bangalore",NaN,Semi-Furnished,Munnekollal,Bangalore
564,Seller\nVERIFIED OWNER,18000,550,1,No Deposit,1 bathrooms,East facing,"Krishnarajapura, Bangalore",NaN,Furnished,Krishnarajapura,Bangalore
6802,Seller\nVERIFIED OWNER,20000,550,1,No Deposit,1 bathrooms,West facing,"Whitefield, Bangalore",NaN,Furnished,Whitefield,Bangalore
4999,Seller\nVERIFIED OWNER,6500,350,1,No Deposit,1 bathrooms,NaN,"J. P. Nagar, Bangalore",NaN,Semi-Furnished,J. P. Nagar,Bangalore
1356,Seller\nVERIFIED OWNER,12000,840,2,No Deposit,2 bathrooms,NaN,"Nelamangala, Bangalore",Tata New Haven,Semi-Furnished,Nelamangala,Bangalore
5549,Seller\nVERIFIED OWNER,7000,1000,1,No Deposit,1 bathrooms,NaN,"Domlur Layout, Bangalore",NaN,Semi-Furnished,Domlur Layout,Bangalore
1671,Seller\nVERIFIED OWNER,15000,1100,2,No Deposit,2 bathrooms,NaN,"Koramangala, Bangalore",NaN,Semi-Furnished,Koramangala,Bangalore
2833,Seller\nVERIFIED OWNER,15000,1300,2,No Deposit,2 bathrooms,East facing,"RR Nagar, Bangalore",NaN,Semi-Furnished,RR Nagar,Bangalore
7507,Seller\nVERIFIED OWNER,25000,850,2,No Deposit,2 bathrooms,East facing,"Kasavanahalli, Bangalore",NaN,Semi-Furnished,Kasavanahalli,Bangalore
1002,Seller\nVERIFIED OWNER,20000,550,1,No Deposit,1 bathrooms,West facing,"Whitefield, Bangalore",NaN,Furnished,Whitefield,Bangalore
6710,Seller\nVERIFIED OWNER,13000,600,2,No Deposit,2 bathrooms,NaN,"BTM Layout, Bangalore",NaN,Semi-Furnished,BTM Layout,Bangalore
2185,Seller\nVERIFIED OWNER,65000,1650,3,No Deposit,3 bathrooms,NaN,"Sarjapur Road Post Railway Crossing,",Ahad Euphoria,Semi-Furnished,Sarjapur Road Post Railway Crossing,
2215,Seller\nVERIFIED OWNER,14000,450,1,No Deposit,1 bathrooms,NaN,"Munnekollal, Bangalore",NaN,Semi-Furnished,Munnekollal,Bangalore
5409,Seller\nVERIFIED OWNER,7000,1000,1,No Deposit,1 bathrooms,NaN,"Domlur Layout, Bangalore",NaN,Semi-Furnished,Domlur Layout,Bangalore
1836,Seller\nVERIFIED OWNER,12000,840,2,No Deposit,2 bathrooms,NaN,"Nelamangala, Bangalore",Tata New Haven,Semi-Furnished,Nelamangala,Bangalore
6246,Seller\nVERIFIED OWNER,18000,1000,2,No Deposit,2 bathrooms,NaN,"byatarayanapura, Bangalore",NaN,Semi-Furnished,byatarayanapura,Bangalore
1389,Seller\nVERIFIED OWNER,7000,1000,1,No Deposit,1 bathrooms,NaN,"Domlur Layout, Bangalore",NaN,Semi-Furnished,Domlur Layout,Bangalore
4590,Seller\nVERIFIED OWNER,13000,600,2,No Deposit,2 bathrooms,NaN,"BTM Layout, Bangalore",NaN,Semi-Furnished,BTM Layout,Bangalore
6716,Seller\nVERIFIED OWNER,12000,840,2,No Deposit,2 bathrooms,NaN,"Nelamangala, Bangalore",Tata New Haven,Semi-Furnished,Nelamangala,Bangalore
1175,Seller\nVERIFIED OWNER,14000,450,1,No Deposit,1 bathrooms,NaN,"Munnekollal, Bangalore",NaN,Semi-Furnished,Munnekollal,Bangalore
6695,Seller\nVERIFIED OWNER,14000,450,1,No Deposit,1 bathrooms,NaN,"Munnekollal, Bangalore",NaN,Semi-Furnished,Munnekollal,Bangalore
1543,Seller\nVERIFIED OWNER,32800,550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished,Bellandur,Bangalore
4626,Seller\nVERIFIED OWNER,18000,1000,2,No Deposit,2 bathrooms,NaN,"byatarayanapura, Bangalore",NaN,Semi-Furnished,byatarayanapura,Bangalore
1717,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,Gottigere,Bangalore
3198,Seller\nVERIFIED OWNER,13000,1200,1,No Deposit,2 bathrooms,NaN,"Margondanahalli, Bangalore",NaN,Semi-Furnished,Margondanahalli,Bangalore
823,Seller\nVERIFIED OWNER,32800,550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished,Bellandur,Bangalore
5669,Seller\nVERIFIED OWNER,7000,1000,1,No Deposit,1 bathrooms,NaN,"Domlur Layout, Bangalore",NaN,Semi-Furnished,Domlur Layout,Bangalore
7900,Seller\nVERIFIED OWNER,21000,550,1,No Deposit,1 bathrooms,North facing,"Whitefield, Bangalore",NaN,Furnished,Whitefield,Bangalore
2033,Seller\nVERIFIED OWNER,15000,1300,2,No Deposit,2 bathrooms,East facing,"RR Nagar, Bangalore",NaN,Semi-Furnished,RR Nagar,Bangalore
1008,Seller\nVERIFIED OWNER,8000,300,1,No Deposit,1 bathrooms,NaN,"Kasavanahalli, Bangalore",NaN,Furnished,Kasavanahalli,Bangalore
6265,Seller\nVERIFIED OWNER,65000,1650,3,No Deposit,3 bathrooms,NaN,"Sarjapur Road Post Railway Crossing,",Ahad Euphoria,Semi-Furnished,Sarjapur Road Post Railway Crossing,
6503,Seller\nVERIFIED OWNER,32800,550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished,Bellandur,Bangalore
7357,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,Gottigere,Bangalore
3394,Seller\nVERIFIED OWNER,11000,1250,2,No Deposit,1 bathrooms,North facing,"Ramamurthy Nagar, Bangalore",NaN,Semi-Furnished,Ramamurthy Nagar,Bangalore

In [29]:
## conversion of rentcolumn into numeric type:
def convert_rent(rent):
    if "L" in rent:
        return int(float(rent.replace('L','').replace(',','').strip())*100000)                                           
    else:
        return int(float(rent.replace(',','').strip()))

In [31]:
def Convert_rent(rent):
    # Check if the input is an integer, and handle it directly
    if isinstance(rent, int):
        return rent
    
    # Ensure the input is a string before using string operations
    if isinstance(rent, str):
        if "L" in rent:
            return int(float(rent.replace('L', '').replace(',', '').strip()) * 100000)
        else:
            return int(rent.replace(',', '').strip())
    
    # Handle unexpected types (e.g., NaN, None)
    return None

In [32]:
City['Rent']=City['Rent'].apply(Convert_rent)

In [33]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
0,Seller\nVERIFIED OWNER,21000,550,1,No Deposit,1 bathrooms,North facing,"Whitefield, Bangalore",NaN,Furnished,Whitefield,Bangalore
1,Seller\nVERIFIED OWNER,9500,1200,2,No Deposit,2 bathrooms,NorthEast facing,"Kithaganur Colony, Bangalore",NaN,Semi-Furnished,Kithaganur Colony,Bangalore
2,Seller\nVERIFIED OWNER,20000,550,1,No Deposit,1 bathrooms,West facing,"Whitefield, Bangalore",NaN,Furnished,Whitefield,Bangalore
3,Seller\nVERIFIED OWNER,32800,550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished,Bellandur,Bangalore
4,Seller\nVERIFIED OWNER,18000,550,1,No Deposit,1 bathrooms,East facing,"Krishnarajapura, Bangalore",NaN,Furnished,Krishnarajapura,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...
8675,Seller\nVERIFIED OWNER,14000,450,1,No Deposit,1 bathrooms,NaN,"Munnekollal, Bangalore",NaN,Semi-Furnished,Munnekollal,Bangalore
8676,Seller\nVERIFIED OWNER,12000,840,2,No Deposit,2 bathrooms,NaN,"Nelamangala, Bangalore",Tata New Haven,Semi-Furnished,Nelamangala,Bangalore
8677,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,Gottigere,Bangalore
8678,Seller\nVERIFIED OWNER,13000,1200,1,No Deposit,2 bathrooms,NaN,"Margondanahalli, Bangalore",NaN,Semi-Furnished,Margondanahalli,Bangalore
8679,Seller\nVERIFIED OWNER,6500,350,1,No Deposit,1 bathrooms,NaN,"J. P. Nagar, Bangalore",NaN,Semi-Furnished,J. P. Nagar,Bangalore

In [34]:
City['Rent']=City['Rent'].astype(int)

In [36]:
City.dtypes

broker_consultancy    object
Rent                   int64
Area                   int64
appartment_type        int64
Deposit               object
Bathrooms             object
Facing                object
Address               object
Apartment Name        object
Status                object
location              object
City                  object
dtype: object

In [37]:
City['Rent/sqfit']=City['Rent']/City['Area']

In [38]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City,Rent/sqfit
0,Seller\nVERIFIED OWNER,21000,550,1,No Deposit,1 bathrooms,North facing,"Whitefield, Bangalore",NaN,Furnished,Whitefield,Bangalore,38.181818
1,Seller\nVERIFIED OWNER,9500,1200,2,No Deposit,2 bathrooms,NorthEast facing,"Kithaganur Colony, Bangalore",NaN,Semi-Furnished,Kithaganur Colony,Bangalore,7.916667
2,Seller\nVERIFIED OWNER,20000,550,1,No Deposit,1 bathrooms,West facing,"Whitefield, Bangalore",NaN,Furnished,Whitefield,Bangalore,36.363636
3,Seller\nVERIFIED OWNER,32800,550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished,Bellandur,Bangalore,59.636364
4,Seller\nVERIFIED OWNER,18000,550,1,No Deposit,1 bathrooms,East facing,"Krishnarajapura, Bangalore",NaN,Furnished,Krishnarajapura,Bangalore,32.727273
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8675,Seller\nVERIFIED OWNER,14000,450,1,No Deposit,1 bathrooms,NaN,"Munnekollal, Bangalore",NaN,Semi-Furnished,Munnekollal,Bangalore,31.111111
8676,Seller\nVERIFIED OWNER,12000,840,2,No Deposit,2 bathrooms,NaN,"Nelamangala, Bangalore",Tata New Haven,Semi-Furnished,Nelamangala,Bangalore,14.285714
8677,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,Gottigere,Bangalore,6.500000
8678,Seller\nVERIFIED OWNER,13000,1200,1,No Deposit,2 bathrooms,NaN,"Margondanahalli, Bangalore",NaN,Semi-Furnished,Margondanahalli,Bangalore,10.833333
8679,Seller\nVERIFIED OWNER,6500,350,1,No Deposit,1 bathrooms,NaN,"J. P. Nagar, Bangalore",NaN,Semi-Furnished,J. P. Nagar,Bangalore,18.571429

In [39]:
City.sample(150)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City,Rent/sqfit
2841,Seller\nVERIFIED OWNER,9500,1200,2,No Deposit,2 bathrooms,NorthEast facing,"Kithaganur Colony, Bangalore",NaN,Semi-Furnished,Kithaganur Colony,Bangalore,7.916667
5915,Seller\nVERIFIED OWNER,14000,450,1,No Deposit,1 bathrooms,NaN,"Munnekollal, Bangalore",NaN,Semi-Furnished,Munnekollal,Bangalore,31.111111
3741,Seller\nVERIFIED OWNER,9500,1200,2,No Deposit,2 bathrooms,NorthEast facing,"Kithaganur Colony, Bangalore",NaN,Semi-Furnished,Kithaganur Colony,Bangalore,7.916667
1407,Seller\nVERIFIED OWNER,25000,850,2,No Deposit,2 bathrooms,East facing,"Kasavanahalli, Bangalore",NaN,Semi-Furnished,Kasavanahalli,Bangalore,29.411765
2932,Seller\nVERIFIED OWNER,9500,600,1,No Deposit,1 bathrooms,NaN,"Electronics City, Bangalore",NaN,Semi-Furnished,Electronics City,Bangalore,15.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3774,Seller\nVERIFIED OWNER,11000,1250,2,No Deposit,1 bathrooms,North facing,"Ramamurthy Nagar, Bangalore",NaN,Semi-Furnished,Ramamurthy Nagar,Bangalore,8.800000
7481,Seller\nVERIFIED OWNER,9500,1200,2,No Deposit,2 bathrooms,NorthEast facing,"Kithaganur Colony, Bangalore",NaN,Semi-Furnished,Kithaganur Colony,Bangalore,7.916667
7721,Seller\nVERIFIED OWNER,9500,1200,2,No Deposit,2 bathrooms,NorthEast facing,"Kithaganur Colony, Bangalore",NaN,Semi-Furnished,Kithaganur Colony,Bangalore,7.916667
6001,Seller\nVERIFIED OWNER,9500,1200,2,No Deposit,2 bathrooms,NorthEast facing,"Kithaganur Colony, Bangalore",NaN,Semi-Furnished,Kithaganur Colony,Bangalore,7.916667
6974,Seller\nVERIFIED OWNER,11000,1250,2,No Deposit,1 bathrooms,North facing,"Ramamurthy Nagar, Bangalore",NaN,Semi-Furnished,Ramamurthy Nagar,Bangalore,8.800000

In [40]:
City.describe()

               Rent         Area  appartment_type   Rent/sqfit
count   8680.000000  8680.000000      8680.000000  8680.000000
mean   17315.000000   894.500000         1.500000    22.403727
std    12595.179686   437.946168         0.591642    13.650094
min     6500.000000   300.000000         1.000000     6.500000
25%    10625.000000   550.000000         1.000000    11.362179
50%    13500.000000   845.000000         1.000000    18.285714
75%    18500.000000  1200.000000         2.000000    31.515152
max    65000.000000  2000.000000         3.000000    59.636364

In [45]:
filtered_city = City[City['Rent/sqfit'] <=15]

In [46]:
filtered_city.location.unique()

array(['Kithaganur Colony', 'Domlur Layout', 'Koramangala', 'RR Nagar',
       'Ramamurthy Nagar', 'Nelamangala', 'Gottigere', 'Margondanahalli'],
      dtype=object)

In [47]:
filtered_city1 = City[(City['Rent/sqfit'] > 15) & (City['Rent/sqfit'] <=25)]

In [48]:
filtered_city1.location.unique()

array(['byatarayanapura', 'BTM Layout', 'Electronics City', 'J. P. Nagar'],
      dtype=object)

In [51]:
filtered_city2 = City[City['Rent/sqfit'] >25]

In [52]:
filtered_city2.location.unique()

array(['Whitefield', 'Bellandur', 'Krishnarajapura',
       'Sarjapur Road Post Railway Crossing', 'Kasavanahalli',
       'Munnekollal'], dtype=object)

In [53]:
City.drop(columns=['location'],inplace=True)

In [54]:
City.drop(columns=['City'],inplace=True)

In [55]:
def add_rent_class(df):
    """
    Adds a 'class' column to the DataFrame based on the 'Rent/sqft' values.
    
    Parameters:
    df (pd.DataFrame): The DataFrame to which the 'class' column will be added.
    
    Returns:
    pd.DataFrame: The DataFrame with the new 'class' column.
    """
    def classify_rent(rent_sqfit):
        if rent_sqfit <= 25:
            return 'class3'
        elif 25 <= rent_sqfit <= 45:
            return 'class2'
        else:
            return 'class1'
    
    df['class'] = df['Rent/sqfit'].apply(classify_rent)
    return df

In [56]:
city_with_class = add_rent_class(City)

In [57]:
city_with_class

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
0,Seller\nVERIFIED OWNER,21000,550,1,No Deposit,1 bathrooms,North facing,"Whitefield, Bangalore",NaN,Furnished,38.181818,class2
1,Seller\nVERIFIED OWNER,9500,1200,2,No Deposit,2 bathrooms,NorthEast facing,"Kithaganur Colony, Bangalore",NaN,Semi-Furnished,7.916667,class3
2,Seller\nVERIFIED OWNER,20000,550,1,No Deposit,1 bathrooms,West facing,"Whitefield, Bangalore",NaN,Furnished,36.363636,class2
3,Seller\nVERIFIED OWNER,32800,550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished,59.636364,class1
4,Seller\nVERIFIED OWNER,18000,550,1,No Deposit,1 bathrooms,East facing,"Krishnarajapura, Bangalore",NaN,Furnished,32.727273,class2
...,...,...,...,...,...,...,...,...,...,...,...,...
8675,Seller\nVERIFIED OWNER,14000,450,1,No Deposit,1 bathrooms,NaN,"Munnekollal, Bangalore",NaN,Semi-Furnished,31.111111,class2
8676,Seller\nVERIFIED OWNER,12000,840,2,No Deposit,2 bathrooms,NaN,"Nelamangala, Bangalore",Tata New Haven,Semi-Furnished,14.285714,class3
8677,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,6.500000,class3
8678,Seller\nVERIFIED OWNER,13000,1200,1,No Deposit,2 bathrooms,NaN,"Margondanahalli, Bangalore",NaN,Semi-Furnished,10.833333,class3
8679,Seller\nVERIFIED OWNER,6500,350,1,No Deposit,1 bathrooms,NaN,"J. P. Nagar, Bangalore",NaN,Semi-Furnished,18.571429,class3

In [58]:
city_with_class.sample(150)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
7117,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,6.500000,class3
3215,Seller\nVERIFIED OWNER,14000,450,1,No Deposit,1 bathrooms,NaN,"Munnekollal, Bangalore",NaN,Semi-Furnished,31.111111,class2
7223,Seller\nVERIFIED OWNER,32800,550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished,59.636364,class1
3997,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,6.500000,class3
4030,Seller\nVERIFIED OWNER,13000,600,2,No Deposit,2 bathrooms,NaN,"BTM Layout, Bangalore",NaN,Semi-Furnished,21.666667,class3
...,...,...,...,...,...,...,...,...,...,...,...,...
3720,Seller\nVERIFIED OWNER,21000,550,1,No Deposit,1 bathrooms,North facing,"Whitefield, Bangalore",NaN,Furnished,38.181818,class2
1137,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,6.500000,class3
8628,Seller\nVERIFIED OWNER,8000,300,1,No Deposit,1 bathrooms,NaN,"Kasavanahalli, Bangalore",NaN,Furnished,26.666667,class2
3144,Seller\nVERIFIED OWNER,18000,550,1,No Deposit,1 bathrooms,East facing,"Krishnarajapura, Bangalore",NaN,Furnished,32.727273,class2
3124,Seller\nVERIFIED OWNER,18000,550,1,No Deposit,1 bathrooms,East facing,"Krishnarajapura, Bangalore",NaN,Furnished,32.727273,class2

In [60]:
city_with_class.head(20)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
0,Seller\nVERIFIED OWNER,21000,550,1,No Deposit,1 bathrooms,North facing,"Whitefield, Bangalore",NaN,Furnished,38.181818,class2
1,Seller\nVERIFIED OWNER,9500,1200,2,No Deposit,2 bathrooms,NorthEast facing,"Kithaganur Colony, Bangalore",NaN,Semi-Furnished,7.916667,class3
2,Seller\nVERIFIED OWNER,20000,550,1,No Deposit,1 bathrooms,West facing,"Whitefield, Bangalore",NaN,Furnished,36.363636,class2
3,Seller\nVERIFIED OWNER,32800,550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished,59.636364,class1
4,Seller\nVERIFIED OWNER,18000,550,1,No Deposit,1 bathrooms,East facing,"Krishnarajapura, Bangalore",NaN,Furnished,32.727273,class2
5,Seller\nVERIFIED OWNER,65000,1650,3,No Deposit,3 bathrooms,NaN,"Sarjapur Road Post Railway Crossing,",Ahad Euphoria,Semi-Furnished,39.393939,class2
6,Seller\nVERIFIED OWNER,18000,1000,2,No Deposit,2 bathrooms,NaN,"byatarayanapura, Bangalore",NaN,Semi-Furnished,18.000000,class3
7,Seller\nVERIFIED OWNER,25000,850,2,No Deposit,2 bathrooms,East facing,"Kasavanahalli, Bangalore",NaN,Semi-Furnished,29.411765,class2
8,Seller\nVERIFIED OWNER,8000,300,1,No Deposit,1 bathrooms,NaN,"Kasavanahalli, Bangalore",NaN,Furnished,26.666667,class2
9,Seller\nVERIFIED OWNER,7000,1000,1,No Deposit,1 bathrooms,NaN,"Domlur Layout, Bangalore",NaN,Semi-Furnished,7.000000,class3
10,Seller\nVERIFIED OWNER,13000,600,2,No Deposit,2 bathrooms,NaN,"BTM Layout, Bangalore",NaN,Semi-Furnished,21.666667,class3
11,Seller\nVERIFIED OWNER,15000,1100,2,No Deposit,2 bathrooms,NaN,"Koramangala, Bangalore",NaN,Semi-Furnished,13.636364,class3
12,Seller\nVERIFIED OWNER,9500,600,1,No Deposit,1 bathrooms,NaN,"Electronics City, Bangalore",NaN,Semi-Furnished,15.833333,class3
13,Seller\nVERIFIED OWNER,15000,1300,2,No Deposit,2 bathrooms,East facing,"RR Nagar, Bangalore",NaN,Semi-Furnished,11.538462,class3
14,Seller\nVERIFIED OWNER,11000,1250,2,No Deposit,1 bathrooms,North facing,"Ramamurthy Nagar, Bangalore",NaN,Semi-Furnished,8.800000,class3
15,Seller\nVERIFIED OWNER,14000,450,1,No Deposit,1 bathrooms,NaN,"Munnekollal, Bangalore",NaN,Semi-Furnished,31.111111,class2
16,Seller\nVERIFIED OWNER,12000,840,2,No Deposit,2 bathrooms,NaN,"Nelamangala, Bangalore",Tata New Haven,Semi-Furnished,14.285714,class3
17,Seller\nVERIFIED OWNER,13000,2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished,6.500000,class3
18,Seller\nVERIFIED OWNER,13000,1200,1,No Deposit,2 bathrooms,NaN,"Margondanahalli, Bangalore",NaN,Semi-Furnished,10.833333,class3
19,Seller\nVERIFIED OWNER,6500,350,1,No Deposit,1 bathrooms,NaN,"J. P. Nagar, Bangalore",NaN,Semi-Furnished,18.571429,class3

In [61]:
city_with_class.to_csv('Banglore_class.csv', index=False)