In [1]:
import numpy as np
import pandas as pd

In [2]:
City=pd.read_csv('Hyderabad.csv')

In [3]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
0,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished
1,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished
2,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished
3,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished
4,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished
...,...,...,...,...,...,...,...,...,...,...
8675,Priya Rentals\nAGENT\n0,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished
8676,Ravi\nAGENT\n0,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished
8677,SG RENTALS\nAGENT\n0,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished
8678,VENKY\nAGENT\n0,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished
8679,ANU RENTALS\nAGENT\n0,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished

In [4]:
City['location']=City['Address'].str.split(',').apply(lambda x:x[0])

In [5]:
City['City']=City['Address'].str.split(',').apply(lambda x:x[-1])

In [6]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
0,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,Attapur,Hyderabad
1,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,Toli Chowki,Hyderabad
2,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,Shamshabad,Hyderabad
3,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,Nanakramguda,Hyderabad
4,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...,...
8675,Priya Rentals\nAGENT\n0,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8676,Ravi\nAGENT\n0,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,Kondapur,Hyderabad
8677,SG RENTALS\nAGENT\n0,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8678,VENKY\nAGENT\n0,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8679,ANU RENTALS\nAGENT\n0,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,Madhapur,Hyderabad

In [7]:
City.sample(15)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
7277,SG RENTALS\nAGENT\n-,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
1295,Priya Rentals\nAGENT\n-,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
2110,Datrika Enterprises\nAGENT\n-,56000,1885,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Semi-Furnished,Nanakramguda,Hyderabad
598,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
4072,SYNERGY CONSULTANTS\nAGENT\n0,42000,1886,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Unfurnished,Nanakramguda,Hyderabad
2498,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
2918,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
1701,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,Toli Chowki,Hyderabad
3562,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,Shamshabad,Hyderabad
352,SYNERGY CONSULTANTS\nAGENT\n-,42000,1886,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Unfurnished,Nanakramguda,Hyderabad
7410,Datrika Enterprises\nAGENT\n0,56000,1885,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Semi-Furnished,Nanakramguda,Hyderabad
6277,SG RENTALS\nAGENT\n-,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
4308,Individual Agent\nAGENT\n0,25000,1350,2,No Deposit,2 bathrooms,NaN,"Nallagandla Gachibowli, Hyderabad",NaN,Semi-Furnished,Nallagandla Gachibowli,Hyderabad
3612,SYNERGY CONSULTANTS\nAGENT\n-,42000,1886,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Unfurnished,Nanakramguda,Hyderabad
6619,ANU RENTALS\nAGENT\n-,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,Madhapur,Hyderabad

In [8]:
City.sample(50)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
6891,Investors Hub\nAGENT\n0,95000,3070,4,No Deposit,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished,Kondapur,Hyderabad
6976,Ravi\nAGENT\n0,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,Kondapur,Hyderabad
4491,Investors Hub\nAGENT\n0,95000,3070,4,No Deposit,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished,Kondapur,Hyderabad
3194,Thirupathi Rentals\nAGENT\n-,17000,650,1,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
4798,VENKY\nAGENT\n0,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
5655,Priya Rentals\nAGENT\n0,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
6181,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,Toli Chowki,Hyderabad
6594,Thirupathi Rentals\nAGENT\n-,17000,650,1,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
4328,Individual Agent\nAGENT\n0,25000,1350,2,No Deposit,2 bathrooms,NaN,"Nallagandla Gachibowli, Hyderabad",NaN,Semi-Furnished,Nallagandla Gachibowli,Hyderabad
2565,Seller\nVERIFIED OWNER,30000,2400,4,No Deposit,4 bathrooms,NaN,"Nizampet, Hyderabad",NaN,Unfurnished,Nizampet,Hyderabad
1524,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad
53,SHIVA\nAGENT\n-,21000,1000,2,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
449,Ishaan\nAGENT\n-,50000,2050,3,No Deposit,3 bathrooms,East facing,"Shaikpet, Hyderabad",NaN,Semi-Furnished,Shaikpet,Hyderabad
4680,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,Attapur,Hyderabad
3062,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,Shamshabad,Hyderabad
2252,SYNERGY CONSULTANTS\nAGENT\n-,42000,1886,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Unfurnished,Nanakramguda,Hyderabad
274,Thirupathi Rentals\nAGENT\n-,17000,650,1,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
4651,Investors Hub\nAGENT\n0,95000,3070,4,No Deposit,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished,Kondapur,Hyderabad
6729,Ishaan\nAGENT\n0,50000,2050,3,No Deposit,3 bathrooms,East facing,"Shaikpet, Hyderabad",NaN,Semi-Furnished,Shaikpet,Hyderabad
461,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,Toli Chowki,Hyderabad
316,Ravi\nAGENT\n-,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,Kondapur,Hyderabad
3437,SG RENTALS\nAGENT\n-,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8438,VENKY\nAGENT\n0,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
6144,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad
1209,Ishaan\nAGENT\n-,50000,2050,3,No Deposit,3 bathrooms,East facing,"Shaikpet, Hyderabad",NaN,Semi-Furnished,Shaikpet,Hyderabad
5187,Asif\nAGENT\n-,1.15 L,3130,3,No Deposit,3 bathrooms,NaN,"Banjara Hills, Hyderabad",Dream Valencia,Semi-Furnished,Banjara Hills,Hyderabad
890,Datrika Enterprises\nAGENT\n-,56000,1885,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Semi-Furnished,Nanakramguda,Hyderabad
5671,Investors Hub\nAGENT\n0,95000,3070,4,No Deposit,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished,Kondapur,Hyderabad
7901,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,Toli Chowki,Hyderabad
4508,Individual Agent\nAGENT\n-,25000,1350,2,No Deposit,2 bathrooms,NaN,"Nallagandla Gachibowli, Hyderabad",NaN,Semi-Furnished,Nallagandla Gachibowli,Hyderabad
2635,Priya Rentals\nAGENT\n-,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
3694,Thirupathi Rentals\nAGENT\n-,17000,650,1,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
6670,Datrika Enterprises\nAGENT\n0,56000,1885,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Semi-Furnished,Nanakramguda,Hyderabad
7926,Seller\nVERIFIED OWNER,20000,1800,3,No Deposit,3 bathrooms,NaN,"Uppal, Hyderabad",NaN,Furnished,Uppal,Hyderabad
6011,Investors Hub\nAGENT\n0,95000,3070,4,No Deposit,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished,Kondapur,Hyderabad
2709,Ishaan\nAGENT\n-,50000,2050,3,No Deposit,3 bathrooms,East facing,"Shaikpet, Hyderabad",NaN,Semi-Furnished,Shaikpet,Hyderabad
6661,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,Toli Chowki,Hyderabad
5324,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad
8633,SHIVA\nAGENT\n-,21000,1000,2,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
334,Thirupathi Rentals\nAGENT\n-,17000,650,1,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
3995,Priya Rentals\nAGENT\n-,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
1117,SG RENTALS\nAGENT\n-,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
3978,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
7603,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,Nanakramguda,Hyderabad
6387,Asif\nAGENT\n0,1.15 L,3130,3,No Deposit,3 bathrooms,NaN,"Banjara Hills, Hyderabad",Dream Valencia,Semi-Furnished,Banjara Hills,Hyderabad
2095,Priya Rentals\nAGENT\n-,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
7443,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,Nanakramguda,Hyderabad
506,Seller\nVERIFIED OWNER,20000,1800,3,No Deposit,3 bathrooms,NaN,"Uppal, Hyderabad",NaN,Furnished,Uppal,Hyderabad
3858,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
4600,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,Attapur,Hyderabad

In [9]:
## conversion of rentcolumn into numeric type:
def convert_rent(rent):
    if "L" in rent:
        return int(float(rent.replace('L','').replace(',','').strip())*100000)                                           
    else:
        return int(float(rent.replace(',','').strip()))

In [10]:
def Convert_rent(rent):
    # Check if the input is an integer, and handle it directly
    if isinstance(rent, int):
        return rent
    
    # Ensure the input is a string before using string operations
    if isinstance(rent, str):
        if "L" in rent:
            return int(float(rent.replace('L', '').replace(',', '').strip()) * 100000)
        else:
            return int(rent.replace(',', '').strip())
    
    # Handle unexpected types (e.g., NaN, None)
    return None

In [11]:
City['Rent']=City['Rent'].apply(Convert_rent)

In [12]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
0,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,Attapur,Hyderabad
1,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,Toli Chowki,Hyderabad
2,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,Shamshabad,Hyderabad
3,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,Nanakramguda,Hyderabad
4,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...,...
8675,Priya Rentals\nAGENT\n0,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8676,Ravi\nAGENT\n0,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,Kondapur,Hyderabad
8677,SG RENTALS\nAGENT\n0,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8678,VENKY\nAGENT\n0,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad
8679,ANU RENTALS\nAGENT\n0,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,Madhapur,Hyderabad

In [13]:
City['Rent']=City['Rent'].astype(int)

In [14]:
City.dtypes

broker_consultancy    object
Rent                   int64
Area                   int64
appartment_type        int64
Deposit               object
Bathrooms             object
Facing                object
Address               object
Apartment Name        object
Status                object
location              object
City                  object
dtype: object

In [15]:
City['Rent/sqfit']=City['Rent']/City['Area']

In [16]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City,Rent/sqfit
0,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,Attapur,Hyderabad,15.000000
1,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,Toli Chowki,Hyderabad,14.545455
2,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,Shamshabad,Hyderabad,15.000000
3,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,Nanakramguda,Hyderabad,25.764895
4,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,Malakpet,Hyderabad,15.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8675,Priya Rentals\nAGENT\n0,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad,20.000000
8676,Ravi\nAGENT\n0,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,Kondapur,Hyderabad,44.545455
8677,SG RENTALS\nAGENT\n0,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad,25.000000
8678,VENKY\nAGENT\n0,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad,15.000000
8679,ANU RENTALS\nAGENT\n0,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,Madhapur,Hyderabad,24.390244

In [17]:
City.sample(150)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City,Rent/sqfit
1058,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad,15.000000
2635,Priya Rentals\nAGENT\n-,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad,20.000000
2238,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad,15.000000
3312,SYNERGY CONSULTANTS\nAGENT\n-,42000,1886,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Unfurnished,Nanakramguda,Hyderabad,22.269353
3888,Individual Agent\nAGENT\n-,25000,1350,2,No Deposit,2 bathrooms,NaN,"Nallagandla Gachibowli, Hyderabad",NaN,Semi-Furnished,Nallagandla Gachibowli,Hyderabad,18.518519
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3343,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,Nanakramguda,Hyderabad,25.764895
2022,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,Shamshabad,Hyderabad,15.000000
3838,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,Kondapur,Hyderabad,15.000000
5572,SYNERGY CONSULTANTS\nAGENT\n-,42000,1886,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Unfurnished,Nanakramguda,Hyderabad,22.269353
7606,Seller\nVERIFIED OWNER,20000,1800,3,No Deposit,3 bathrooms,NaN,"Uppal, Hyderabad",NaN,Furnished,Uppal,Hyderabad,11.111111

In [18]:
City.describe()

                Rent         Area  appartment_type   Rent/sqfit
count    8680.000000  8680.000000      8680.000000  8680.000000
mean    38224.950000  1675.300000         2.500000    22.379143
std     27812.646682   843.948616         0.922008     8.341872
min      9000.000000   550.000000         1.000000    11.111111
25%     19500.000000  1075.000000         2.000000    15.000000
50%     28000.000000  1325.000000         2.500000    21.634677
75%     46250.000000  2137.500000         3.000000    25.862133
max    114999.000000  3130.000000         4.000000    44.545455

In [19]:
filtered_city = City[City['Rent/sqfit'] <=15]

In [20]:
filtered_city.location.unique()

array(['Attapur', 'Toli Chowki', 'Shamshabad', 'Malakpet', 'Nizampet',
       'Uppal', 'Kondapur'], dtype=object)

In [21]:
filtered_city1 = City[(City['Rent/sqfit'] > 15) & (City['Rent/sqfit'] <=25)]

In [22]:
filtered_city1.location.unique()

array(['Nallagandla Gachibowli', 'Shaikpet', 'Nanakramguda', 'Kondapur',
       'Madhapur'], dtype=object)

In [23]:
filtered_city2 = City[City['Rent/sqfit'] >25]

In [24]:
filtered_city2.location.unique()

array(['Nanakramguda', 'Banjara Hills', 'Kondapur'], dtype=object)

In [25]:
City.drop(columns=['location'],inplace=True)

In [26]:
City.drop(columns=['City'],inplace=True)

In [27]:
def add_rent_class(df):
    """
    Adds a 'class' column to the DataFrame based on the 'Rent/sqft' values.
    
    Parameters:
    df (pd.DataFrame): The DataFrame to which the 'class' column will be added.
    
    Returns:
    pd.DataFrame: The DataFrame with the new 'class' column.
    """
    def classify_rent(rent_sqfit):
        if rent_sqfit <= 15:
            return 'class3'
        elif 15<= rent_sqfit <= 25:
            return 'class2'
        else:
            return 'class1'
    
    df['class'] = df['Rent/sqfit'].apply(classify_rent)
    return df

In [28]:
city_with_class = add_rent_class(City)

In [29]:
city_with_class

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
0,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,15.000000,class3
1,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,14.545455,class3
2,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,15.000000,class3
3,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,25.764895,class1
4,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,15.000000,class3
...,...,...,...,...,...,...,...,...,...,...,...,...
8675,Priya Rentals\nAGENT\n0,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,20.000000,class2
8676,Ravi\nAGENT\n0,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,44.545455,class1
8677,SG RENTALS\nAGENT\n0,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,25.000000,class2
8678,VENKY\nAGENT\n0,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,15.000000,class3
8679,ANU RENTALS\nAGENT\n0,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,24.390244,class2

In [30]:
city_with_class.sample(150)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
7161,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,14.545455,class3
6295,Priya Rentals\nAGENT\n-,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,20.000000,class2
982,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,15.000000,class3
451,Investors Hub\nAGENT\n-,95000,3070,4,No Deposit,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished,30.944625,class1
6454,Thirupathi Rentals\nAGENT\n-,17000,650,1,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,26.153846,class1
...,...,...,...,...,...,...,...,...,...,...,...,...
2089,Ishaan\nAGENT\n-,50000,2050,3,No Deposit,3 bathrooms,East facing,"Shaikpet, Hyderabad",NaN,Semi-Furnished,24.390244,class2
7936,Ravi\nAGENT\n-,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,44.545455,class1
801,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,14.545455,class3
7834,Thirupathi Rentals\nAGENT\n-,17000,650,1,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,26.153846,class1
598,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,15.000000,class3

In [31]:
city_with_class.head(20)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
0,Seller\nVERIFIED OWNER,9000,600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished,15.000000,class3
1,Seller\nVERIFIED OWNER,16000,1100,2,No Deposit,2 bathrooms,NaN,"Toli Chowki, Hyderabad",GM Residency,Semi-Furnished,14.545455,class3
2,Seller\nVERIFIED OWNER,45000,3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished,15.000000,class3
3,Seller\nVERIFIED OWNER,80000,3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished,25.764895,class1
4,Seller\nVERIFIED OWNER,18000,1200,2,No Deposit,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished,15.000000,class3
5,Seller\nVERIFIED OWNER,30000,2400,4,No Deposit,4 bathrooms,NaN,"Nizampet, Hyderabad",NaN,Unfurnished,12.500000,class3
6,Seller\nVERIFIED OWNER,20000,1800,3,No Deposit,3 bathrooms,NaN,"Uppal, Hyderabad",NaN,Furnished,11.111111,class3
7,Asif\nAGENT\n-,114999,3130,3,No Deposit,3 bathrooms,NaN,"Banjara Hills, Hyderabad",Dream Valencia,Semi-Furnished,36.740895,class1
8,Individual Agent\nAGENT\n-,25000,1350,2,No Deposit,2 bathrooms,NaN,"Nallagandla Gachibowli, Hyderabad",NaN,Semi-Furnished,18.518519,class2
9,Ishaan\nAGENT\n-,50000,2050,3,No Deposit,3 bathrooms,East facing,"Shaikpet, Hyderabad",NaN,Semi-Furnished,24.390244,class2
10,Datrika Enterprises\nAGENT\n-,56000,1885,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Semi-Furnished,29.708223,class1
11,Investors Hub\nAGENT\n-,95000,3070,4,No Deposit,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished,30.944625,class1
12,SYNERGY CONSULTANTS\nAGENT\n-,42000,1886,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Pacifica Hillcrest,Unfurnished,22.269353,class2
13,SHIVA\nAGENT\n-,21000,1000,2,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,21.000000,class2
14,Thirupathi Rentals\nAGENT\n-,17000,650,1,No Deposit,1 bathrooms,East facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,26.153846,class1
15,Priya Rentals\nAGENT\n-,26000,1300,2,No Deposit,2 bathrooms,West facing,"Kondapur, Hyderabad",NaN,Semi-Furnished,20.000000,class2
16,Ravi\nAGENT\n-,24500,550,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Furnished,44.545455,class1
17,SG RENTALS\nAGENT\n-,30000,1200,2,No Deposit,2 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,25.000000,class2
18,VENKY\nAGENT\n-,15000,1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished,15.000000,class3
19,ANU RENTALS\nAGENT\n-,30000,1230,2,No Deposit,2 bathrooms,NaN,"Madhapur, Hyderabad",NaN,Semi-Furnished,24.390244,class2

In [32]:
city_with_class.to_csv('Hydrabad_class.csv', index=False)