In [1]:
import numpy as np
import pandas as pd

In [2]:
City=pd.read_csv('Noida.csv')

In [3]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
0,Seller\nVERIFIED OWNER,35000,1094,2,No Deposit,2 bathrooms,East facing,"Sector 150, Noida",ACE Group Parkway,Semi-Furnished
1,Seller\nVERIFIED OWNER,30000,1400,3,"60,000 deposit",3 bathrooms,NaN,"Sector 151, Noida",Jaypee Aman,Furnished
2,Seller\nVERIFIED OWNER,50000,1294,2,No Deposit,2 bathrooms,NaN,"Sector 75, Noida",Apex Buildcon Athena,Furnished
3,Seller\nVERIFIED OWNER,60000,3600,4,No Deposit,3 bathrooms,East facing,"Sector 92, Noida",NaN,Furnished
4,Seller\nVERIFIED OWNER,30500,1350,3,"61,000 deposit",2 bathrooms,NaN,"Sector 46, Noida",Gardenia AIMS MAX Gardenia Glory,Semi-Furnished
...,...,...,...,...,...,...,...,...,...,...
2815,Seller\nVERIFIED OWNER,60000,1880,3,1.2 L deposit,3 bathrooms,NaN,"Sector 79, Noida",Mahagun Mirabella,Semi-Furnished
2816,Seller\nVERIFIED OWNER,15000,500,2,"15,000 deposit",2 bathrooms,NaN,"Sector 128, Noida",NaN,Semi-Furnished
2817,Seller\nVERIFIED OWNER,9000,150,1,No Deposit,1 bathrooms,NorthEast facing,"Sector 52, Noida",NaN,Furnished
2818,Seller\nVERIFIED OWNER,9200,300,1,"4,000 deposit",1 bathrooms,NaN,"Sector 135, Noida",NaN,Furnished
2819,Seller\nVERIFIED OWNER,15000,225,1,"10,000 deposit",1 bathrooms,NaN,"Sector 44, Noida",NaN,Furnished

In [4]:
City['location']=City['Address'].str.split(',').apply(lambda x:x[0])

In [5]:
City['City']=City['Address'].str.split(',').apply(lambda x:x[-1])

In [6]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
0,Seller\nVERIFIED OWNER,35000,1094,2,No Deposit,2 bathrooms,East facing,"Sector 150, Noida",ACE Group Parkway,Semi-Furnished,Sector 150,Noida
1,Seller\nVERIFIED OWNER,30000,1400,3,"60,000 deposit",3 bathrooms,NaN,"Sector 151, Noida",Jaypee Aman,Furnished,Sector 151,Noida
2,Seller\nVERIFIED OWNER,50000,1294,2,No Deposit,2 bathrooms,NaN,"Sector 75, Noida",Apex Buildcon Athena,Furnished,Sector 75,Noida
3,Seller\nVERIFIED OWNER,60000,3600,4,No Deposit,3 bathrooms,East facing,"Sector 92, Noida",NaN,Furnished,Sector 92,Noida
4,Seller\nVERIFIED OWNER,30500,1350,3,"61,000 deposit",2 bathrooms,NaN,"Sector 46, Noida",Gardenia AIMS MAX Gardenia Glory,Semi-Furnished,Sector 46,Noida
...,...,...,...,...,...,...,...,...,...,...,...,...
2815,Seller\nVERIFIED OWNER,60000,1880,3,1.2 L deposit,3 bathrooms,NaN,"Sector 79, Noida",Mahagun Mirabella,Semi-Furnished,Sector 79,Noida
2816,Seller\nVERIFIED OWNER,15000,500,2,"15,000 deposit",2 bathrooms,NaN,"Sector 128, Noida",NaN,Semi-Furnished,Sector 128,Noida
2817,Seller\nVERIFIED OWNER,9000,150,1,No Deposit,1 bathrooms,NorthEast facing,"Sector 52, Noida",NaN,Furnished,Sector 52,Noida
2818,Seller\nVERIFIED OWNER,9200,300,1,"4,000 deposit",1 bathrooms,NaN,"Sector 135, Noida",NaN,Furnished,Sector 135,Noida
2819,Seller\nVERIFIED OWNER,15000,225,1,"10,000 deposit",1 bathrooms,NaN,"Sector 44, Noida",NaN,Furnished,Sector 44,Noida

In [7]:
City.sample(15)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
667,Seller\nVERIFIED OWNER,12000,200,1,No Deposit,1 bathrooms,East facing,"Sector 128, Noida",NaN,Furnished,Sector 128,Noida
2056,Seller\nVERIFIED OWNER,15000,500,2,"15,000 deposit",2 bathrooms,NaN,"Sector 128, Noida",NaN,Semi-Furnished,Sector 128,Noida
1092,Seller\nVERIFIED OWNER,38000,1400,3,"50,000 deposit",3 bathrooms,NaN,"Sector 71, Noida",NaN,Furnished,Sector 71,Noida
2472,Seller\nVERIFIED OWNER,50000,1548,3,1 L deposit,3 bathrooms,NaN,"Sector 11, Noida",NaN,Furnished,Sector 11,Noida
2265,Seller\nVERIFIED OWNER,3000,320,1,No Deposit,1 bathrooms,North facing,"Yeida, Noida",NaN,Unfurnished,Yeida,Noida
1157,Seller\nVERIFIED OWNER,15000,500,2,"15,000 deposit",2 bathrooms,NaN,"Sector 128, Noida",NaN,Semi-Furnished,Sector 128,Noida
965,Seller\nVERIFIED OWNER,3000,320,1,No Deposit,1 bathrooms,North facing,"Yeida, Noida",NaN,Unfurnished,Yeida,Noida
412,Seller\nVERIFIED OWNER,38000,1400,3,"50,000 deposit",3 bathrooms,NaN,"Sector 71, Noida",NaN,Furnished,Sector 71,Noida
51,Seller\nVERIFIED OWNER,15000,225,1,"10,000 deposit",1 bathrooms,NaN,"Sector 44, Noida",NaN,Furnished,Sector 44,Noida
1493,Seller\nVERIFIED OWNER,38000,1400,3,"50,000 deposit",3 bathrooms,NaN,"Sector 71, Noida",NaN,Furnished,Sector 71,Noida
2248,Seller\nVERIFIED OWNER,40000,2230,3,No Deposit,4 bathrooms,NaN,"Sector 168, Noida",Sunworld Arista,Semi-Furnished,Sector 168,Noida
2529,Seller\nVERIFIED OWNER,20000,952,2,No Deposit,1 bathrooms,East facing,"Sector 151, Noida",Jaypee Aman,Furnished,Sector 151,Noida
1533,Seller\nVERIFIED OWNER,38000,1400,3,"50,000 deposit",3 bathrooms,NaN,"Sector 71, Noida",NaN,Furnished,Sector 71,Noida
1362,Seller\nVERIFIED OWNER,50000,1294,2,No Deposit,2 bathrooms,NaN,"Sector 75, Noida",Apex Buildcon Athena,Furnished,Sector 75,Noida
1026,Seller\nVERIFIED OWNER,25000,1082,2,No Deposit,2 bathrooms,NaN,"Sector 74, Noida",Supertech Cape Town,Semi-Furnished,Sector 74,Noida

In [8]:
City.sample(50)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
1717,Seller\nVERIFIED OWNER,9000,150,1,No Deposit,1 bathrooms,NorthEast facing,"Sector 52, Noida",NaN,Furnished,Sector 52,Noida
833,Seller\nVERIFIED OWNER,21000,1150,2,No Deposit,2 bathrooms,North facing,"Sector 116, Noida",NaN,Semi-Furnished,Sector 116,Noida
452,Seller\nVERIFIED OWNER,38000,1400,3,"50,000 deposit",3 bathrooms,NaN,"Sector 71, Noida",NaN,Furnished,Sector 71,Noida
2262,Seller\nVERIFIED OWNER,50000,1294,2,No Deposit,2 bathrooms,NaN,"Sector 75, Noida",Apex Buildcon Athena,Furnished,Sector 75,Noida
842,Seller\nVERIFIED OWNER,50000,1294,2,No Deposit,2 bathrooms,NaN,"Sector 75, Noida",Apex Buildcon Athena,Furnished,Sector 75,Noida
1315,Seller\nVERIFIED OWNER,50000,1548,3,1 L deposit,3 bathrooms,NaN,"Sector 11, Noida",NaN,Furnished,Sector 11,Noida
2737,Seller\nVERIFIED OWNER,9000,150,1,No Deposit,1 bathrooms,NorthEast facing,"Sector 52, Noida",NaN,Furnished,Sector 52,Noida
755,Seller\nVERIFIED OWNER,50000,1548,3,1 L deposit,3 bathrooms,NaN,"Sector 11, Noida",NaN,Furnished,Sector 11,Noida
327,Seller\nVERIFIED OWNER,12000,200,1,No Deposit,1 bathrooms,East facing,"Sector 128, Noida",NaN,Furnished,Sector 128,Noida
2079,Seller\nVERIFIED OWNER,15000,225,1,"10,000 deposit",1 bathrooms,NaN,"Sector 44, Noida",NaN,Furnished,Sector 44,Noida
1707,Seller\nVERIFIED OWNER,12000,200,1,No Deposit,1 bathrooms,East facing,"Sector 128, Noida",NaN,Furnished,Sector 128,Noida
60,Seller\nVERIFIED OWNER,35000,1094,2,No Deposit,2 bathrooms,East facing,"Sector 150, Noida",ACE Group Parkway,Semi-Furnished,Sector 150,Noida
1255,Seller\nVERIFIED OWNER,50000,1548,3,1 L deposit,3 bathrooms,NaN,"Sector 11, Noida",NaN,Furnished,Sector 11,Noida
2561,Seller\nVERIFIED OWNER,30000,1400,3,"60,000 deposit",3 bathrooms,NaN,"Sector 151, Noida",Jaypee Aman,Furnished,Sector 151,Noida
825,Seller\nVERIFIED OWNER,3000,320,1,No Deposit,1 bathrooms,North facing,"Yeida, Noida",NaN,Unfurnished,Yeida,Noida
242,Seller\nVERIFIED OWNER,50000,1294,2,No Deposit,2 bathrooms,NaN,"Sector 75, Noida",Apex Buildcon Athena,Furnished,Sector 75,Noida
31,Seller\nVERIFIED OWNER,15000,225,1,"10,000 deposit",1 bathrooms,NaN,"Sector 44, Noida",NaN,Furnished,Sector 44,Noida
2392,Seller\nVERIFIED OWNER,50000,1548,3,1 L deposit,3 bathrooms,NaN,"Sector 11, Noida",NaN,Furnished,Sector 11,Noida
1259,Seller\nVERIFIED OWNER,28000,1590,3,"56,000 deposit",3 bathrooms,NaN,"Sector 137, Noida",Paras Tierea,Semi-Furnished,Sector 137,Noida
1726,Seller\nVERIFIED OWNER,25000,1082,2,No Deposit,2 bathrooms,NaN,"Sector 74, Noida",Supertech Cape Town,Semi-Furnished,Sector 74,Noida
519,Seller\nVERIFIED OWNER,28000,1590,3,"56,000 deposit",3 bathrooms,NaN,"Sector 137, Noida",Paras Tierea,Semi-Furnished,Sector 137,Noida
861,Seller\nVERIFIED OWNER,30000,1400,3,"60,000 deposit",3 bathrooms,NaN,"Sector 151, Noida",Jaypee Aman,Furnished,Sector 151,Noida
2488,Seller\nVERIFIED OWNER,40000,2230,3,No Deposit,4 bathrooms,NaN,"Sector 168, Noida",Sunworld Arista,Semi-Furnished,Sector 168,Noida
586,Seller\nVERIFIED OWNER,25000,1082,2,No Deposit,2 bathrooms,NaN,"Sector 74, Noida",Supertech Cape Town,Semi-Furnished,Sector 74,Noida
415,Seller\nVERIFIED OWNER,50000,1548,3,1 L deposit,3 bathrooms,NaN,"Sector 11, Noida",NaN,Furnished,Sector 11,Noida
962,Seller\nVERIFIED OWNER,50000,1294,2,No Deposit,2 bathrooms,NaN,"Sector 75, Noida",Apex Buildcon Athena,Furnished,Sector 75,Noida
10,Seller\nVERIFIED OWNER,13500,1100,1,No Deposit,1 bathrooms,East facing,"Sector 62, Noida",Elixir Harmony Apartments,Furnished,Sector 62,Noida
1203,Seller\nVERIFIED OWNER,60000,3600,4,No Deposit,3 bathrooms,East facing,"Sector 92, Noida",NaN,Furnished,Sector 92,Noida
1772,Seller\nVERIFIED OWNER,50000,1548,3,1 L deposit,3 bathrooms,NaN,"Sector 11, Noida",NaN,Furnished,Sector 11,Noida
840,Seller\nVERIFIED OWNER,35000,1094,2,No Deposit,2 bathrooms,East facing,"Sector 150, Noida",ACE Group Parkway,Semi-Furnished,Sector 150,Noida
1946,Seller\nVERIFIED OWNER,25000,1082,2,No Deposit,2 bathrooms,NaN,"Sector 74, Noida",Supertech Cape Town,Semi-Furnished,Sector 74,Noida
35,Seller\nVERIFIED OWNER,50000,1548,3,1 L deposit,3 bathrooms,NaN,"Sector 11, Noida",NaN,Furnished,Sector 11,Noida
2430,Seller\nVERIFIED OWNER,13500,1100,1,No Deposit,1 bathrooms,East facing,"Sector 62, Noida",Elixir Harmony Apartments,Furnished,Sector 62,Noida
2128,Seller\nVERIFIED OWNER,40000,2230,3,No Deposit,4 bathrooms,NaN,"Sector 168, Noida",Sunworld Arista,Semi-Furnished,Sector 168,Noida
56,Seller\nVERIFIED OWNER,60000,1880,3,1.2 L deposit,3 bathrooms,NaN,"Sector 79, Noida",Mahagun Mirabella,Semi-Furnished,Sector 79,Noida
2594,Seller\nVERIFIED OWNER,21000,1150,2,No Deposit,2 bathrooms,North facing,"Sector 116, Noida",NaN,Semi-Furnished,Sector 116,Noida
1734,Seller\nVERIFIED OWNER,21000,1150,2,No Deposit,2 bathrooms,North facing,"Sector 116, Noida",NaN,Semi-Furnished,Sector 116,Noida
325,Seller\nVERIFIED OWNER,3000,320,1,No Deposit,1 bathrooms,North facing,"Yeida, Noida",NaN,Unfurnished,Yeida,Noida
2186,Seller\nVERIFIED OWNER,25000,1082,2,No Deposit,2 bathrooms,NaN,"Sector 74, Noida",Supertech Cape Town,Semi-Furnished,Sector 74,Noida
771,Seller\nVERIFIED OWNER,15000,225,1,"10,000 deposit",1 bathrooms,NaN,"Sector 44, Noida",NaN,Furnished,Sector 44,Noida
1048,Seller\nVERIFIED OWNER,40000,2230,3,No Deposit,4 bathrooms,NaN,"Sector 168, Noida",Sunworld Arista,Semi-Furnished,Sector 168,Noida
204,Seller\nVERIFIED OWNER,30500,1350,3,"61,000 deposit",2 bathrooms,NaN,"Sector 46, Noida",Gardenia AIMS MAX Gardenia Glory,Semi-Furnished,Sector 46,Noida
666,Seller\nVERIFIED OWNER,25000,1082,2,No Deposit,2 bathrooms,NaN,"Sector 74, Noida",Supertech Cape Town,Semi-Furnished,Sector 74,Noida
693,Seller\nVERIFIED OWNER,21000,1150,2,No Deposit,2 bathrooms,North facing,"Sector 116, Noida",NaN,Semi-Furnished,Sector 116,Noida
98,Seller\nVERIFIED OWNER,24000,506,1,No Deposit,1 bathrooms,East facing,"Sector 168, Noida",Nimbus The Golden Palms,Furnished,Sector 168,Noida
2172,Seller\nVERIFIED OWNER,50000,1548,3,1 L deposit,3 bathrooms,NaN,"Sector 11, Noida",NaN,Furnished,Sector 11,Noida
1507,Seller\nVERIFIED OWNER,12000,200,1,No Deposit,1 bathrooms,East facing,"Sector 128, Noida",NaN,Furnished,Sector 128,Noida
652,Seller\nVERIFIED OWNER,38000,1400,3,"50,000 deposit",3 bathrooms,NaN,"Sector 71, Noida",NaN,Furnished,Sector 71,Noida
1706,Seller\nVERIFIED OWNER,25000,1082,2,No Deposit,2 bathrooms,NaN,"Sector 74, Noida",Supertech Cape Town,Semi-Furnished,Sector 74,Noida
2129,Seller\nVERIFIED OWNER,20000,952,2,No Deposit,1 bathrooms,East facing,"Sector 151, Noida",Jaypee Aman,Furnished,Sector 151,Noida

In [9]:
## conversion of rentcolumn into numeric type:
def convert_rent(rent):
    if "L" in rent:
        return int(float(rent.replace('L','').replace(',','').strip())*100000)                                           
    else:
        return int(float(rent.replace(',','').strip()))

In [10]:
def Convert_rent(rent):
    # Check if the input is an integer, and handle it directly
    if isinstance(rent, int):
        return rent
    
    # Ensure the input is a string before using string operations
    if isinstance(rent, str):
        if "L" in rent:
            return int(float(rent.replace('L', '').replace(',', '').strip()) * 100000)
        else:
            return int(rent.replace(',', '').strip())
    
    # Handle unexpected types (e.g., NaN, None)
    return None

In [11]:
City['Rent']=City['Rent'].apply(Convert_rent)

In [12]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
0,Seller\nVERIFIED OWNER,35000,1094,2,No Deposit,2 bathrooms,East facing,"Sector 150, Noida",ACE Group Parkway,Semi-Furnished,Sector 150,Noida
1,Seller\nVERIFIED OWNER,30000,1400,3,"60,000 deposit",3 bathrooms,NaN,"Sector 151, Noida",Jaypee Aman,Furnished,Sector 151,Noida
2,Seller\nVERIFIED OWNER,50000,1294,2,No Deposit,2 bathrooms,NaN,"Sector 75, Noida",Apex Buildcon Athena,Furnished,Sector 75,Noida
3,Seller\nVERIFIED OWNER,60000,3600,4,No Deposit,3 bathrooms,East facing,"Sector 92, Noida",NaN,Furnished,Sector 92,Noida
4,Seller\nVERIFIED OWNER,30500,1350,3,"61,000 deposit",2 bathrooms,NaN,"Sector 46, Noida",Gardenia AIMS MAX Gardenia Glory,Semi-Furnished,Sector 46,Noida
...,...,...,...,...,...,...,...,...,...,...,...,...
2815,Seller\nVERIFIED OWNER,60000,1880,3,1.2 L deposit,3 bathrooms,NaN,"Sector 79, Noida",Mahagun Mirabella,Semi-Furnished,Sector 79,Noida
2816,Seller\nVERIFIED OWNER,15000,500,2,"15,000 deposit",2 bathrooms,NaN,"Sector 128, Noida",NaN,Semi-Furnished,Sector 128,Noida
2817,Seller\nVERIFIED OWNER,9000,150,1,No Deposit,1 bathrooms,NorthEast facing,"Sector 52, Noida",NaN,Furnished,Sector 52,Noida
2818,Seller\nVERIFIED OWNER,9200,300,1,"4,000 deposit",1 bathrooms,NaN,"Sector 135, Noida",NaN,Furnished,Sector 135,Noida
2819,Seller\nVERIFIED OWNER,15000,225,1,"10,000 deposit",1 bathrooms,NaN,"Sector 44, Noida",NaN,Furnished,Sector 44,Noida

In [13]:
City['Rent']=City['Rent'].astype(int)

In [14]:
City.dtypes

broker_consultancy    object
Rent                   int64
Area                   int64
appartment_type        int64
Deposit               object
Bathrooms             object
Facing                object
Address               object
Apartment Name        object
Status                object
location              object
City                  object
dtype: object

In [15]:
City['Rent/sqfit']=City['Rent']/City['Area']

In [16]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City,Rent/sqfit
0,Seller\nVERIFIED OWNER,35000,1094,2,No Deposit,2 bathrooms,East facing,"Sector 150, Noida",ACE Group Parkway,Semi-Furnished,Sector 150,Noida,31.992687
1,Seller\nVERIFIED OWNER,30000,1400,3,"60,000 deposit",3 bathrooms,NaN,"Sector 151, Noida",Jaypee Aman,Furnished,Sector 151,Noida,21.428571
2,Seller\nVERIFIED OWNER,50000,1294,2,No Deposit,2 bathrooms,NaN,"Sector 75, Noida",Apex Buildcon Athena,Furnished,Sector 75,Noida,38.639876
3,Seller\nVERIFIED OWNER,60000,3600,4,No Deposit,3 bathrooms,East facing,"Sector 92, Noida",NaN,Furnished,Sector 92,Noida,16.666667
4,Seller\nVERIFIED OWNER,30500,1350,3,"61,000 deposit",2 bathrooms,NaN,"Sector 46, Noida",Gardenia AIMS MAX Gardenia Glory,Semi-Furnished,Sector 46,Noida,22.592593
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2815,Seller\nVERIFIED OWNER,60000,1880,3,1.2 L deposit,3 bathrooms,NaN,"Sector 79, Noida",Mahagun Mirabella,Semi-Furnished,Sector 79,Noida,31.914894
2816,Seller\nVERIFIED OWNER,15000,500,2,"15,000 deposit",2 bathrooms,NaN,"Sector 128, Noida",NaN,Semi-Furnished,Sector 128,Noida,30.000000
2817,Seller\nVERIFIED OWNER,9000,150,1,No Deposit,1 bathrooms,NorthEast facing,"Sector 52, Noida",NaN,Furnished,Sector 52,Noida,60.000000
2818,Seller\nVERIFIED OWNER,9200,300,1,"4,000 deposit",1 bathrooms,NaN,"Sector 135, Noida",NaN,Furnished,Sector 135,Noida,30.666667
2819,Seller\nVERIFIED OWNER,15000,225,1,"10,000 deposit",1 bathrooms,NaN,"Sector 44, Noida",NaN,Furnished,Sector 44,Noida,66.666667

In [17]:
City.sample(150)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City,Rent/sqfit
422,Seller\nVERIFIED OWNER,50000,1294,2,No Deposit,2 bathrooms,NaN,"Sector 75, Noida",Apex Buildcon Athena,Furnished,Sector 75,Noida,38.639876
698,Seller\nVERIFIED OWNER,24000,506,1,No Deposit,1 bathrooms,East facing,"Sector 168, Noida",Nimbus The Golden Palms,Furnished,Sector 168,Noida,47.430830
1041,Seller\nVERIFIED OWNER,30000,1400,3,"60,000 deposit",3 bathrooms,NaN,"Sector 151, Noida",Jaypee Aman,Furnished,Sector 151,Noida,21.428571
1521,Seller\nVERIFIED OWNER,30000,1400,3,"60,000 deposit",3 bathrooms,NaN,"Sector 151, Noida",Jaypee Aman,Furnished,Sector 151,Noida,21.428571
1931,Seller\nVERIFIED OWNER,70000,2604,4,No Deposit,4 bathrooms,NaN,"Sector 44, Noida",NaN,Semi-Furnished,Sector 44,Noida,26.881720
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2517,Seller\nVERIFIED OWNER,9000,150,1,No Deposit,1 bathrooms,NorthEast facing,"Sector 52, Noida",NaN,Furnished,Sector 52,Noida,60.000000
1655,Seller\nVERIFIED OWNER,60000,1880,3,1.2 L deposit,3 bathrooms,NaN,"Sector 79, Noida",Mahagun Mirabella,Semi-Furnished,Sector 79,Noida,31.914894
1287,Seller\nVERIFIED OWNER,12000,200,1,No Deposit,1 bathrooms,East facing,"Sector 128, Noida",NaN,Furnished,Sector 128,Noida,60.000000
2733,Seller\nVERIFIED OWNER,38000,1400,3,"50,000 deposit",3 bathrooms,NaN,"Sector 71, Noida",NaN,Furnished,Sector 71,Noida,27.142857
2290,Seller\nVERIFIED OWNER,13500,1100,1,No Deposit,1 bathrooms,East facing,"Sector 62, Noida",Elixir Harmony Apartments,Furnished,Sector 62,Noida,12.272727

In [18]:
City.describe()

               Rent         Area  appartment_type   Rent/sqfit
count   2820.000000  2820.000000      2820.000000  2820.000000
mean   31113.049645  1258.057092         2.247518    29.333787
std    18473.841028   837.961003         0.969055    14.983291
min     3000.000000   150.000000         1.000000     9.375000
25%    15000.000000   500.000000         1.000000    18.260870
50%    29000.000000  1150.000000         2.000000    26.881720
75%    42500.000000  1548.000000         3.000000    32.069451
max    70000.000000  3600.000000         4.000000    66.666667

In [21]:
filtered_city = City[City['Rent/sqfit'] <=18]

In [22]:
filtered_city.location.unique()

array(['Sector 92', 'Yeida', 'Sector 168', 'Sector 62', 'Sector 137'],
      dtype=object)

In [27]:
filtered_city1 = City[(City['Rent/sqfit'] > 18) & (City['Rent/sqfit'] <=30)]

In [28]:
filtered_city1.location.unique()

array(['Sector 151', 'Sector 46', 'Sector 74', 'Sector 71', 'Sector 116',
       'Sector 44', 'Sector 128'], dtype=object)

In [29]:
filtered_city2 = City[City['Rent/sqfit'] >30]

In [30]:
filtered_city2.location.unique()

array(['Sector 150', 'Sector 75', 'Sector 128', 'Sector 44', 'Sector 11',
       'Sector 79', 'Sector 168', 'Sector 52', 'Sector 135'], dtype=object)

In [31]:
City.drop(columns=['location'],inplace=True)

In [32]:
City.drop(columns=['City'],inplace=True)

In [33]:
def add_rent_class(df):
    """
    Adds a 'class' column to the DataFrame based on the 'Rent/sqft' values.
    
    Parameters:
    df (pd.DataFrame): The DataFrame to which the 'class' column will be added.
    
    Returns:
    pd.DataFrame: The DataFrame with the new 'class' column.
    """
    def classify_rent(rent_sqfit):
        if rent_sqfit <= 18:
            return 'class3'
        elif 18 <= rent_sqfit <= 30:
            return 'class2'
        else:
            return 'class1'
    
    df['class'] = df['Rent/sqfit'].apply(classify_rent)
    return df

In [34]:
city_with_class = add_rent_class(City)

In [35]:
city_with_class

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
0,Seller\nVERIFIED OWNER,35000,1094,2,No Deposit,2 bathrooms,East facing,"Sector 150, Noida",ACE Group Parkway,Semi-Furnished,31.992687,class1
1,Seller\nVERIFIED OWNER,30000,1400,3,"60,000 deposit",3 bathrooms,NaN,"Sector 151, Noida",Jaypee Aman,Furnished,21.428571,class2
2,Seller\nVERIFIED OWNER,50000,1294,2,No Deposit,2 bathrooms,NaN,"Sector 75, Noida",Apex Buildcon Athena,Furnished,38.639876,class1
3,Seller\nVERIFIED OWNER,60000,3600,4,No Deposit,3 bathrooms,East facing,"Sector 92, Noida",NaN,Furnished,16.666667,class3
4,Seller\nVERIFIED OWNER,30500,1350,3,"61,000 deposit",2 bathrooms,NaN,"Sector 46, Noida",Gardenia AIMS MAX Gardenia Glory,Semi-Furnished,22.592593,class2
...,...,...,...,...,...,...,...,...,...,...,...,...
2815,Seller\nVERIFIED OWNER,60000,1880,3,1.2 L deposit,3 bathrooms,NaN,"Sector 79, Noida",Mahagun Mirabella,Semi-Furnished,31.914894,class1
2816,Seller\nVERIFIED OWNER,15000,500,2,"15,000 deposit",2 bathrooms,NaN,"Sector 128, Noida",NaN,Semi-Furnished,30.000000,class2
2817,Seller\nVERIFIED OWNER,9000,150,1,No Deposit,1 bathrooms,NorthEast facing,"Sector 52, Noida",NaN,Furnished,60.000000,class1
2818,Seller\nVERIFIED OWNER,9200,300,1,"4,000 deposit",1 bathrooms,NaN,"Sector 135, Noida",NaN,Furnished,30.666667,class1
2819,Seller\nVERIFIED OWNER,15000,225,1,"10,000 deposit",1 bathrooms,NaN,"Sector 44, Noida",NaN,Furnished,66.666667,class1

In [36]:
city_with_class.sample(150)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
942,Seller\nVERIFIED OWNER,50000,1294,2,No Deposit,2 bathrooms,NaN,"Sector 75, Noida",Apex Buildcon Athena,Furnished,38.639876,class1
711,Seller\nVERIFIED OWNER,15000,225,1,"10,000 deposit",1 bathrooms,NaN,"Sector 44, Noida",NaN,Furnished,66.666667,class1
410,Seller\nVERIFIED OWNER,13500,1100,1,No Deposit,1 bathrooms,East facing,"Sector 62, Noida",Elixir Harmony Apartments,Furnished,12.272727,class3
2230,Seller\nVERIFIED OWNER,13500,1100,1,No Deposit,1 bathrooms,East facing,"Sector 62, Noida",Elixir Harmony Apartments,Furnished,12.272727,class3
2659,Seller\nVERIFIED OWNER,15000,225,1,"10,000 deposit",1 bathrooms,NaN,"Sector 44, Noida",NaN,Furnished,66.666667,class1
...,...,...,...,...,...,...,...,...,...,...,...,...
792,Seller\nVERIFIED OWNER,38000,1400,3,"50,000 deposit",3 bathrooms,NaN,"Sector 71, Noida",NaN,Furnished,27.142857,class2
344,Seller\nVERIFIED OWNER,30500,1350,3,"61,000 deposit",2 bathrooms,NaN,"Sector 46, Noida",Gardenia AIMS MAX Gardenia Glory,Semi-Furnished,22.592593,class2
2689,Seller\nVERIFIED OWNER,20000,952,2,No Deposit,1 bathrooms,East facing,"Sector 151, Noida",Jaypee Aman,Furnished,21.008403,class2
2774,Seller\nVERIFIED OWNER,21000,1150,2,No Deposit,2 bathrooms,North facing,"Sector 116, Noida",NaN,Semi-Furnished,18.260870,class2
1081,Seller\nVERIFIED OWNER,30000,1400,3,"60,000 deposit",3 bathrooms,NaN,"Sector 151, Noida",Jaypee Aman,Furnished,21.428571,class2

In [37]:
city_with_class.head(20)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
0,Seller\nVERIFIED OWNER,35000,1094,2,No Deposit,2 bathrooms,East facing,"Sector 150, Noida",ACE Group Parkway,Semi-Furnished,31.992687,class1
1,Seller\nVERIFIED OWNER,30000,1400,3,"60,000 deposit",3 bathrooms,NaN,"Sector 151, Noida",Jaypee Aman,Furnished,21.428571,class2
2,Seller\nVERIFIED OWNER,50000,1294,2,No Deposit,2 bathrooms,NaN,"Sector 75, Noida",Apex Buildcon Athena,Furnished,38.639876,class1
3,Seller\nVERIFIED OWNER,60000,3600,4,No Deposit,3 bathrooms,East facing,"Sector 92, Noida",NaN,Furnished,16.666667,class3
4,Seller\nVERIFIED OWNER,30500,1350,3,"61,000 deposit",2 bathrooms,NaN,"Sector 46, Noida",Gardenia AIMS MAX Gardenia Glory,Semi-Furnished,22.592593,class2
5,Seller\nVERIFIED OWNER,3000,320,1,No Deposit,1 bathrooms,North facing,"Yeida, Noida",NaN,Unfurnished,9.375000,class3
6,Seller\nVERIFIED OWNER,25000,1082,2,No Deposit,2 bathrooms,NaN,"Sector 74, Noida",Supertech Cape Town,Semi-Furnished,23.105360,class2
7,Seller\nVERIFIED OWNER,12000,200,1,No Deposit,1 bathrooms,East facing,"Sector 128, Noida",NaN,Furnished,60.000000,class1
8,Seller\nVERIFIED OWNER,40000,2230,3,No Deposit,4 bathrooms,NaN,"Sector 168, Noida",Sunworld Arista,Semi-Furnished,17.937220,class3
9,Seller\nVERIFIED OWNER,20000,952,2,No Deposit,1 bathrooms,East facing,"Sector 151, Noida",Jaypee Aman,Furnished,21.008403,class2
10,Seller\nVERIFIED OWNER,13500,1100,1,No Deposit,1 bathrooms,East facing,"Sector 62, Noida",Elixir Harmony Apartments,Furnished,12.272727,class3
11,Seller\nVERIFIED OWNER,15000,225,1,"10,000 deposit",1 bathrooms,NaN,"Sector 44, Noida",NaN,Furnished,66.666667,class1
12,Seller\nVERIFIED OWNER,38000,1400,3,"50,000 deposit",3 bathrooms,NaN,"Sector 71, Noida",NaN,Furnished,27.142857,class2
13,Seller\nVERIFIED OWNER,21000,1150,2,No Deposit,2 bathrooms,North facing,"Sector 116, Noida",NaN,Semi-Furnished,18.260870,class2
14,Seller\nVERIFIED OWNER,70000,2604,4,No Deposit,4 bathrooms,NaN,"Sector 44, Noida",NaN,Semi-Furnished,26.881720,class2
15,Seller\nVERIFIED OWNER,50000,1548,3,1 L deposit,3 bathrooms,NaN,"Sector 11, Noida",NaN,Furnished,32.299742,class1
16,Seller\nVERIFIED OWNER,60000,1880,3,1.2 L deposit,3 bathrooms,NaN,"Sector 79, Noida",Mahagun Mirabella,Semi-Furnished,31.914894,class1
17,Seller\nVERIFIED OWNER,15000,500,2,"15,000 deposit",2 bathrooms,NaN,"Sector 128, Noida",NaN,Semi-Furnished,30.000000,class2
18,Seller\nVERIFIED OWNER,24000,506,1,No Deposit,1 bathrooms,East facing,"Sector 168, Noida",Nimbus The Golden Palms,Furnished,47.430830,class1
19,Seller\nVERIFIED OWNER,28000,1590,3,"56,000 deposit",3 bathrooms,NaN,"Sector 137, Noida",Paras Tierea,Semi-Furnished,17.610063,class3

In [38]:
city_with_class.to_csv('Noida_class.csv', index=False)