In [2]:
import numpy as np
import pandas as pd

In [3]:
city=pd.read_csv('pune.csv')

In [4]:
city

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
0,Seller\nVERIFIED OWNER,7500,500,1,No Deposit,1 bathrooms,North facing,"Lohegaon, Pune",NaN,Semi-Furnished
1,Seller\nVERIFIED OWNER,12000,906,2,No Deposit,2 bathrooms,NaN,"Lohegaon, Pune",Jayshree Boulevard,Unfurnished
2,Seller\nVERIFIED OWNER,11000,650,1,No Deposit,1 bathrooms,NaN,"Anand Nagar, Pune",NaN,Semi-Furnished
3,Seller\nVERIFIED OWNER,4500,350,1,No Deposit,1 bathrooms,NaN,"Wagholi, Pune",NaN,Unfurnished
4,Seller\nVERIFIED OWNER,35000,1500,3,No Deposit,2 bathrooms,North facing,"Sangamvadi, Pune",NaN,Furnished
...,...,...,...,...,...,...,...,...,...,...
7215,Melange Consultancy\nAGENT\n-,48000,1300,2,No Deposit,2 bathrooms,NaN,"Hadapsar, Pune",Marvel Arco,Furnished
7216,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,"Dhanori, Pune",Goel Ganga Ganga Newtown Ph 02,Semi-Furnished
7217,KDH REALITY\nAGENT\n-,24000,1250,2,No Deposit,2 bathrooms,NaN,"Wagholi, Pune",Kolte Patil Ivy Apartment E V And VI,Semi-Furnished
7218,FS Realty\nAGENT\n-,26000,950,2,No Deposit,2 bathrooms,East facing,"Dhanori, Pune",Raojee Palladium Homes,Unfurnished
7219,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3 bathrooms,NaN,"Hinjewadi, Pune",Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished

In [5]:
city['location']=city['Address'].str.split(',').apply(lambda x:x[0])

In [6]:
city['City']=city['Address'].str.split(',').apply(lambda x:x[-1])

In [7]:
city

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
0,Seller\nVERIFIED OWNER,7500,500,1,No Deposit,1 bathrooms,North facing,"Lohegaon, Pune",NaN,Semi-Furnished,Lohegaon,Pune
1,Seller\nVERIFIED OWNER,12000,906,2,No Deposit,2 bathrooms,NaN,"Lohegaon, Pune",Jayshree Boulevard,Unfurnished,Lohegaon,Pune
2,Seller\nVERIFIED OWNER,11000,650,1,No Deposit,1 bathrooms,NaN,"Anand Nagar, Pune",NaN,Semi-Furnished,Anand Nagar,Pune
3,Seller\nVERIFIED OWNER,4500,350,1,No Deposit,1 bathrooms,NaN,"Wagholi, Pune",NaN,Unfurnished,Wagholi,Pune
4,Seller\nVERIFIED OWNER,35000,1500,3,No Deposit,2 bathrooms,North facing,"Sangamvadi, Pune",NaN,Furnished,Sangamvadi,Pune
...,...,...,...,...,...,...,...,...,...,...,...,...
7215,Melange Consultancy\nAGENT\n-,48000,1300,2,No Deposit,2 bathrooms,NaN,"Hadapsar, Pune",Marvel Arco,Furnished,Hadapsar,Pune
7216,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,"Dhanori, Pune",Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Dhanori,Pune
7217,KDH REALITY\nAGENT\n-,24000,1250,2,No Deposit,2 bathrooms,NaN,"Wagholi, Pune",Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Wagholi,Pune
7218,FS Realty\nAGENT\n-,26000,950,2,No Deposit,2 bathrooms,East facing,"Dhanori, Pune",Raojee Palladium Homes,Unfurnished,Dhanori,Pune
7219,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3 bathrooms,NaN,"Hinjewadi, Pune",Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished,Hinjewadi,Pune

In [8]:
city.drop(columns=['Address'],inplace=True)

In [9]:
city

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,location,City
0,Seller\nVERIFIED OWNER,7500,500,1,No Deposit,1 bathrooms,North facing,NaN,Semi-Furnished,Lohegaon,Pune
1,Seller\nVERIFIED OWNER,12000,906,2,No Deposit,2 bathrooms,NaN,Jayshree Boulevard,Unfurnished,Lohegaon,Pune
2,Seller\nVERIFIED OWNER,11000,650,1,No Deposit,1 bathrooms,NaN,NaN,Semi-Furnished,Anand Nagar,Pune
3,Seller\nVERIFIED OWNER,4500,350,1,No Deposit,1 bathrooms,NaN,NaN,Unfurnished,Wagholi,Pune
4,Seller\nVERIFIED OWNER,35000,1500,3,No Deposit,2 bathrooms,North facing,NaN,Furnished,Sangamvadi,Pune
...,...,...,...,...,...,...,...,...,...,...,...
7215,Melange Consultancy\nAGENT\n-,48000,1300,2,No Deposit,2 bathrooms,NaN,Marvel Arco,Furnished,Hadapsar,Pune
7216,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Dhanori,Pune
7217,KDH REALITY\nAGENT\n-,24000,1250,2,No Deposit,2 bathrooms,NaN,Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Wagholi,Pune
7218,FS Realty\nAGENT\n-,26000,950,2,No Deposit,2 bathrooms,East facing,Raojee Palladium Homes,Unfurnished,Dhanori,Pune
7219,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3 bathrooms,NaN,Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished,Hinjewadi,Pune

In [10]:
city.sample(15)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,location,City
599,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3 bathrooms,NaN,Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished,Hinjewadi,Pune
5123,Seller\nVERIFIED OWNER,4500,350,1,No Deposit,1 bathrooms,NaN,NaN,Unfurnished,Wagholi,Pune
6216,A Realities\nAGENT\n0,23000,1000,2,No Deposit,2 bathrooms,West facing,Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Dhanori,Pune
3597,KDH REALITY\nAGENT\n0,24000,1250,2,No Deposit,2 bathrooms,NaN,Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Wagholi,Pune
4277,KDH REALITY\nAGENT\n0,24000,1250,2,No Deposit,2 bathrooms,NaN,Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Wagholi,Pune
2672,Sai Real Estate\nAGENT\n0,41000,1250,2,No Deposit,2 bathrooms,NaN,Vascon Forest County,Semi-Furnished,Kharadi,Pune
930,Vastupurti Real Estate\nAGENT\n0,30000,1300,3,No Deposit,3 bathrooms,East facing,Tirupati Welworth Bluescapes,Semi-Furnished,Vadgaon Budruk,Pune
2251,MY HOMES GATEWAY\nAGENT\n0,36000,1560,3,No Deposit,3 bathrooms,East facing,Karan Madhupushpa,Semi-Furnished,Wakad,Pune
6936,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Dhanori,Pune
1272,Sai Real Estate\nAGENT\n-,41000,1250,2,No Deposit,2 bathrooms,NaN,Vascon Forest County,Semi-Furnished,Kharadi,Pune
410,Vastupurti Real Estate\nAGENT\n0,30000,1300,3,No Deposit,3 bathrooms,East facing,Tirupati Welworth Bluescapes,Semi-Furnished,Vadgaon Budruk,Pune
6886,Seller\nVERIFIED OWNER,15500,975,2,No Deposit,2 bathrooms,NaN,Legacy Twin Arcs,Semi-Furnished,Tathawade,Pune
2205,Seller\nVERIFIED OWNER,1.1 L,5000,5,No Deposit,5 bathrooms,NaN,NaN,Unfurnished,Wadgaon Sheri,Pune
2688,NISHA SINGH\nAGENT\n0,51000,2500,5,No Deposit,5 bathrooms,West facing,Pharande Puneville Phase I,Semi-Furnished,Tathawade,Pune
6575,Melange Consultancy\nAGENT\n0,48000,1300,2,No Deposit,2 bathrooms,NaN,Marvel Arco,Furnished,Hadapsar,Pune

In [33]:
city.sample(50)

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,City,locality
17254,FS Realty\nAGENT\n0,26000,950,2,0,2.0,East facing,Raojee Palladium Homes,Unfurnished,Pune,Dhanori
21477,Seller\nVERIFIED OWNER,12000,906,2,0,2.0,NaN,Jayshree Boulevard,Unfurnished,Pune,Lohegaon
9140,Anjali Estate Agency\nAGENT\n-,"60,000",1200,2,0,1.0,East facing,Kanakia Kanakia Sevens,Unfurnished,Mumbai,Andheri East
14869,Seller\nOWNER,2.75 L,2250,4,0,4.0,East facing,NaN,Semi-Furnished,Mumbai,Juhu
3010,Shree Aniruddha Real Estate\nAGENT\n-,"37,000",1000,2,0,2.0,East facing,Laxmi Aangan,Furnished,Mumbai,Kharghar
10242,Jugyah\nAGENT\n-,"10,473",300,1,0,1.0,NaN,NaN,Unfurnished,Mumbai,Dombivli (West)
20027,MY HOMES GATEWAY\nAGENT\n0,36000,1560,3,0,3.0,East facing,Karan Madhupushpa,Semi-Furnished,Pune,Wakad
2160,UK Reality\nAGENT\n-,"80,000",600,1,0,2.0,NaN,NaN,Furnished,Mumbai,Worli
6477,Saproperties\nAGENT\n-,1.6 L,2100,4,0,4.0,East facing,DB Woods,Furnished,Mumbai,Goregaon East
18907,MY HOMES GATEWAY\nAGENT\n0,36000,1560,3,0,3.0,East facing,Karan Madhupushpa,Semi-Furnished,Pune,Wakad
11098,Prema Housing\nAGENT\n-,"40,000",1000,2,200000.0,2.0,NaN,Krishiv Heritage,Unfurnished,Mumbai,Borivali East
8825,Mahalaxmi Properties\nAGENT\n-,1.4 L,1500,3,0,3.0,East facing,Godrej The Trees,Unfurnished,Mumbai,Vikhroli
15300,Amresh Property Ghansoli\nBUILDER\n-,"11,390",670,1,0,2.0,NaN,Mag Mallhar Ghansoli Navi Mumbai,Unfurnished,Mumbai,Ghansoli
7663,Rupali Property Consultancy\nAGENT\n-,"27,000",530,1,0,2.0,NaN,Swaraj Homes Kannamwar Nagar Matoshree CHS,Semi-Furnished,Mumbai,Vikhroli
4885,Vishal Estate\nAGENT\n-,"25,000",500,1,0,1.0,East facing,Mayfair Marve Queen,Furnished,Mumbai,Malad West
13641,Western Property Consultants\nAGENT\n-,"25,000",650,1,100000.0,2.0,NaN,Aashiyana Tower,Unfurnished,Mumbai,Jogeshwari West
2133,Seller\nVERIFIED OWNER,"8,500",650,1,0,2.0,East facing,Platinum Frenny Platinum Tower,Semi-Furnished,Mumbai,Vasai
17114,FS Realty\nAGENT\n-,26000,950,2,0,2.0,East facing,Raojee Palladium Homes,Unfurnished,Pune,Dhanori
723,Sales Office\nAGENT\n-,"56,000",1550,3,0,3.0,East facing,Tricity Panache,Semi-Furnished,Mumbai,Seawoods
8584,Indramani Pandey\nAGENT\n-,"13,966",705,1,0,2.0,NorthWest facing,JVM Shubham,Semi-Furnished,Mumbai,Thane West
511,Mihir Desai\nAGENT\n-,1.2 L,1282,2,0,2.0,NaN,Hiranandani Castle Rock C And D Wing,Semi-Furnished,Mumbai,Powai
19669,Happiness Realtors\nAGENT\n0,18000,950,2,0,2.0,NaN,Majestique Manhattan Wing C,Semi-Furnished,Pune,Wagholi
1743,Aarya Enterprises\nAGENT\n-,"24,000",560,1,0,1.0,North facing,NaN,Unfurnished,Mumbai,Ghansoli
14700,Seller\nOWNER,"25,000",1200,2,0,2.0,NaN,Godrej The Trees,Semi-Furnished,Mumbai,Vikhroli
9353,Mumbai Space\nAGENT\n-,"67,000",850,2,0,2.0,East facing,Shapoorji Pallonji Vicinia,Semi-Furnished,Mumbai,Powai
20232,A Realities\nAGENT\n0,23000,1000,2,0,2.0,West facing,Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Pune,Dhanori
11371,Nidhi Realtors\nAGENT\n-,"8,000",360,1,0,1.0,NaN,NaN,Unfurnished,Mumbai,Dombivli (West)
6810,Jeet Realtors\nAGENT\n-,"85,000",1950,4,0,3.0,NaN,Shah Mahavir Ornate,Semi-Furnished,Mumbai,Koper Khairane
609,Rana Enterprises\nAGENT\n-,"10,700",950,2,0,2.0,NaN,NaN,Semi-Furnished,Mumbai,Antarli
10515,Prema Housing\nAGENT\n-,"45,000",1200,2,100000.0,2.0,NaN,Ekta Woods,Unfurnished,Mumbai,Borivali East
19924,NISHA SINGH\nAGENT\n0,51000,2500,5,0,5.0,West facing,Pharande Puneville Phase I,Semi-Furnished,Pune,Tathawade
19264,NISHA SINGH\nAGENT\n0,51000,2500,5,0,5.0,West facing,Pharande Puneville Phase I,Semi-Furnished,Pune,Tathawade
14887,Seller\nOWNER,2.75 L,2250,4,0,4.0,East facing,NaN,Semi-Furnished,Mumbai,Juhu
5596,Right Properties\nAGENT\n-,3 L,2000,3,0,3.0,West facing,NaN,Furnished,Mumbai,Bandra West
17834,FS Realty\nAGENT\n-,26000,950,2,0,2.0,East facing,Raojee Palladium Homes,Unfurnished,Pune,Dhanori
12848,Ugam Property\nAGENT\n-,"30,000",1017,3,100000.0,3.0,NaN,Bhagwati Greens 3,Semi-Furnished,Mumbai,Kharghar
19153,KDH REALITY\nAGENT\n0,24000,1250,2,0,2.0,NaN,Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Pune,Wagholi
7189,Ansh Realty Govind Gupta\nAGENT\n-,1.7 L,1950,3,0,3.0,NaN,Piramal Aranya Ahan 2,Furnished,Mumbai,Byculla
8297,BEST DEAL Real Estate VIRAR\nAGENT\n-,"8,990",580,1,0,2.0,East facing,NaN,Semi-Furnished,Mumbai,Virar West
12578,Makaan\nAGENT\n-,"32,000",700,2,0,1.0,West facing,NaN,Semi-Furnished,Mumbai,Bhandup East
6851,Mars Properties\nAGENT\n-,"35,000",700,2,0,2.0,NorthEast facing,Piramal Vaikunth Cluster 2,Semi-Furnished,Mumbai,Thane West
6528,Naina Enterprises\nAGENT\n-,"16,000",600,1,0,1.0,North facing,Lodha Casa Bella Gold,Semi-Furnished,Mumbai,Dombivali
5063,Seller\nVERIFIED OWNER,"10,000",700,1,0,1.0,NaN,NaN,Unfurnished,Mumbai,Kalamboli
22808,Sai Real Estate\nAGENT\n0,41000,1250,2,0,2.0,NaN,Vascon Forest County,Semi-Furnished,Pune,Kharadi
13632,DREAM PROPERTIES\nAGENT\n-,"47,000",600,1,0,2.0,West facing,Spark Shree Madhusudan CHSL,Unfurnished,Mumbai,Ville Parle East
20654,FS Realty\nAGENT\n0,26000,950,2,0,2.0,East facing,Raojee Palladium Homes,Unfurnished,Pune,Dhanori
19911,Melange Consultancy\nAGENT\n0,48000,1300,2,0,2.0,NaN,Marvel Arco,Furnished,Pune,Hadapsar
7571,Nest Properties\nAGENT\n-,"65,000",1200,3,0,2.0,NaN,Neelam Solstice Phase I,Unfurnished,Mumbai,Ghatkopar East
17101,Seller\nVERIFIED OWNER,1.1 L,5000,5,0,5.0,NaN,NaN,Unfurnished,Pune,Wadgaon Sheri
7966,EASY TO MOVE IN\nAGENT\n-,2.08 L,1150,3,0,2.0,NorthEast facing,Lodha Park,Unfurnished,Mumbai,Lower Parel

In [11]:
## conversion of rentcolumn into numeric type:
def convert_rent(rent):
    if "L" in rent:
        return int(float(rent.replace('L','').replace(',','').strip())*100000)                                           
    else:
        return int(float(rent.replace(',','').strip()))

In [12]:
city['Rent']=city['Rent'].apply(convert_rent)

In [13]:
city

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,location,City
0,Seller\nVERIFIED OWNER,7500,500,1,No Deposit,1 bathrooms,North facing,NaN,Semi-Furnished,Lohegaon,Pune
1,Seller\nVERIFIED OWNER,12000,906,2,No Deposit,2 bathrooms,NaN,Jayshree Boulevard,Unfurnished,Lohegaon,Pune
2,Seller\nVERIFIED OWNER,11000,650,1,No Deposit,1 bathrooms,NaN,NaN,Semi-Furnished,Anand Nagar,Pune
3,Seller\nVERIFIED OWNER,4500,350,1,No Deposit,1 bathrooms,NaN,NaN,Unfurnished,Wagholi,Pune
4,Seller\nVERIFIED OWNER,35000,1500,3,No Deposit,2 bathrooms,North facing,NaN,Furnished,Sangamvadi,Pune
...,...,...,...,...,...,...,...,...,...,...,...
7215,Melange Consultancy\nAGENT\n-,48000,1300,2,No Deposit,2 bathrooms,NaN,Marvel Arco,Furnished,Hadapsar,Pune
7216,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Dhanori,Pune
7217,KDH REALITY\nAGENT\n-,24000,1250,2,No Deposit,2 bathrooms,NaN,Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Wagholi,Pune
7218,FS Realty\nAGENT\n-,26000,950,2,No Deposit,2 bathrooms,East facing,Raojee Palladium Homes,Unfurnished,Dhanori,Pune
7219,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3 bathrooms,NaN,Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished,Hinjewadi,Pune

In [14]:
city['Rent']=city['Rent'].astype(int)

In [15]:
city.dtypes

broker_consultancy    object
Rent                   int64
Area                   int64
appartment_type        int64
Deposit               object
Bathrooms             object
Facing                object
Apartment Name        object
Status                object
location              object
City                  object
dtype: object

In [16]:
city['Rent/sqfit']=city['Rent']/city['Area']

In [17]:
city

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,location,City,Rent/sqfit
0,Seller\nVERIFIED OWNER,7500,500,1,No Deposit,1 bathrooms,North facing,NaN,Semi-Furnished,Lohegaon,Pune,15.000000
1,Seller\nVERIFIED OWNER,12000,906,2,No Deposit,2 bathrooms,NaN,Jayshree Boulevard,Unfurnished,Lohegaon,Pune,13.245033
2,Seller\nVERIFIED OWNER,11000,650,1,No Deposit,1 bathrooms,NaN,NaN,Semi-Furnished,Anand Nagar,Pune,16.923077
3,Seller\nVERIFIED OWNER,4500,350,1,No Deposit,1 bathrooms,NaN,NaN,Unfurnished,Wagholi,Pune,12.857143
4,Seller\nVERIFIED OWNER,35000,1500,3,No Deposit,2 bathrooms,North facing,NaN,Furnished,Sangamvadi,Pune,23.333333
...,...,...,...,...,...,...,...,...,...,...,...,...
7215,Melange Consultancy\nAGENT\n-,48000,1300,2,No Deposit,2 bathrooms,NaN,Marvel Arco,Furnished,Hadapsar,Pune,36.923077
7216,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Dhanori,Pune,23.000000
7217,KDH REALITY\nAGENT\n-,24000,1250,2,No Deposit,2 bathrooms,NaN,Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Wagholi,Pune,19.200000
7218,FS Realty\nAGENT\n-,26000,950,2,No Deposit,2 bathrooms,East facing,Raojee Palladium Homes,Unfurnished,Dhanori,Pune,27.368421
7219,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3 bathrooms,NaN,Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished,Hinjewadi,Pune,33.636364

In [18]:
city.sample(150)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,location,City,Rent/sqfit
3497,KDH REALITY\nAGENT\n0,24000,1250,2,No Deposit,2 bathrooms,NaN,Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Wagholi,Pune,19.200000
6065,Seller\nVERIFIED OWNER,110000,5000,5,No Deposit,5 bathrooms,NaN,NaN,Unfurnished,Wadgaon Sheri,Pune,22.000000
3325,Seller\nVERIFIED OWNER,110000,5000,5,No Deposit,5 bathrooms,NaN,NaN,Unfurnished,Wadgaon Sheri,Pune,22.000000
4453,Happiness Realtors\nAGENT\n0,18000,950,2,No Deposit,2 bathrooms,NaN,Majestique Manhattan Wing C,Semi-Furnished,Wagholi,Pune,18.947368
6558,FS Realty\nAGENT\n0,26000,950,2,No Deposit,2 bathrooms,East facing,Raojee Palladium Homes,Unfurnished,Dhanori,Pune,27.368421
...,...,...,...,...,...,...,...,...,...,...,...,...
2202,Seller\nVERIFIED OWNER,11000,650,1,No Deposit,1 bathrooms,NaN,NaN,Semi-Furnished,Anand Nagar,Pune,16.923077
6002,Seller\nVERIFIED OWNER,11000,650,1,No Deposit,1 bathrooms,NaN,NaN,Semi-Furnished,Anand Nagar,Pune,16.923077
268,NISHA SINGH\nAGENT\n0,51000,2500,5,No Deposit,5 bathrooms,West facing,Pharande Puneville Phase I,Semi-Furnished,Tathawade,Pune,20.400000
2153,Happiness Realtors\nAGENT\n-,18000,950,2,No Deposit,2 bathrooms,NaN,Majestique Manhattan Wing C,Semi-Furnished,Wagholi,Pune,18.947368
956,A Realities\nAGENT\n0,23000,1000,2,No Deposit,2 bathrooms,West facing,Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Dhanori,Pune,23.000000

In [31]:
city.describe()

                Rent         Area  appartment_type   Rent/sqfit
count    7220.000000  7220.000000      7220.000000  7220.000000
mean    33775.000000  1447.050000         2.500000    22.486227
std     24036.782191   988.824946         1.072455     6.510431
min      4500.000000   350.000000         1.000000    12.857143
25%     17375.000000   950.000000         2.000000    18.441296
50%     30000.000000  1250.000000         2.000000    22.500000
75%     41000.000000  1562.500000         3.000000    25.707136
max    110000.000000  5000.000000         5.000000    36.923077

In [25]:
filtered_city = city[city['Rent/sqfit'] <=15]

In [26]:
filtered_city.location.unique()

array(['Lohegaon', 'Wagholi'], dtype=object)

In [27]:
filtered_city1 = city[(city['Rent/sqfit'] > 15) & (city['Rent/sqfit'] <=25)]

In [28]:
filtered_city1.location.unique()

array(['Anand Nagar', 'Sangamvadi', 'Wadgaon Sheri', 'Tathawade',
       'Vadgaon Budruk', 'Wakad', 'Wagholi', 'NIBM Annex Mohammadwadi',
       'Dhanori'], dtype=object)

In [29]:
filtered_city2 = city[city['Rent/sqfit'] >25]

In [30]:
filtered_city2.location.unique()

array(['Mohammed wadi', 'NIBM Annex Mohammadwadi', 'Kharadi', 'Hadapsar',
       'Dhanori', 'Hinjewadi'], dtype=object)

In [32]:
def add_rent_class(df):
    """
    Adds a 'class' column to the DataFrame based on the 'Rent/sqft' values.
    
    Parameters:
    df (pd.DataFrame): The DataFrame to which the 'class' column will be added.
    
    Returns:
    pd.DataFrame: The DataFrame with the new 'class' column.
    """
    def classify_rent(rent_sqfit):
        if rent_sqfit < 15:
            return 'class3'
        elif 15 <= rent_sqfit <= 25:
            return 'class2'
        else:
            return 'class1'
    
    df['class'] = df['Rent/sqfit'].apply(classify_rent)
    return df

In [33]:
city_with_class = add_rent_class(city)

In [34]:
city_with_class

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,location,City,Rent/sqfit,class
0,Seller\nVERIFIED OWNER,7500,500,1,No Deposit,1 bathrooms,North facing,NaN,Semi-Furnished,Lohegaon,Pune,15.000000,class2
1,Seller\nVERIFIED OWNER,12000,906,2,No Deposit,2 bathrooms,NaN,Jayshree Boulevard,Unfurnished,Lohegaon,Pune,13.245033,class3
2,Seller\nVERIFIED OWNER,11000,650,1,No Deposit,1 bathrooms,NaN,NaN,Semi-Furnished,Anand Nagar,Pune,16.923077,class2
3,Seller\nVERIFIED OWNER,4500,350,1,No Deposit,1 bathrooms,NaN,NaN,Unfurnished,Wagholi,Pune,12.857143,class3
4,Seller\nVERIFIED OWNER,35000,1500,3,No Deposit,2 bathrooms,North facing,NaN,Furnished,Sangamvadi,Pune,23.333333,class2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7215,Melange Consultancy\nAGENT\n-,48000,1300,2,No Deposit,2 bathrooms,NaN,Marvel Arco,Furnished,Hadapsar,Pune,36.923077,class1
7216,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Dhanori,Pune,23.000000,class2
7217,KDH REALITY\nAGENT\n-,24000,1250,2,No Deposit,2 bathrooms,NaN,Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Wagholi,Pune,19.200000,class2
7218,FS Realty\nAGENT\n-,26000,950,2,No Deposit,2 bathrooms,East facing,Raojee Palladium Homes,Unfurnished,Dhanori,Pune,27.368421,class1
7219,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3 bathrooms,NaN,Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished,Hinjewadi,Pune,33.636364,class1

In [35]:
city_with_class.sample(150)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,location,City,Rent/sqfit,class
3009,Isahh Realtors\nAGENT\n0,75000,2700,3,No Deposit,4 bathrooms,East facing,Marvel Sangria,Semi-Furnished,NIBM Annex Mohammadwadi,Pune,27.777778,class1
545,Seller\nVERIFIED OWNER,110000,5000,5,No Deposit,5 bathrooms,NaN,NaN,Unfurnished,Wadgaon Sheri,Pune,22.000000,class2
6735,Melange Consultancy\nAGENT\n0,48000,1300,2,No Deposit,2 bathrooms,NaN,Marvel Arco,Furnished,Hadapsar,Pune,36.923077,class1
6051,MY HOMES GATEWAY\nAGENT\n0,36000,1560,3,No Deposit,3 bathrooms,East facing,Karan Madhupushpa,Semi-Furnished,Wakad,Pune,23.076923,class2
1416,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Dhanori,Pune,23.000000,class2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6897,KDH REALITY\nAGENT\n0,24000,1250,2,No Deposit,2 bathrooms,NaN,Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Wagholi,Pune,19.200000,class2
2433,Happiness Realtors\nAGENT\n0,18000,950,2,No Deposit,2 bathrooms,NaN,Majestique Manhattan Wing C,Semi-Furnished,Wagholi,Pune,18.947368,class2
3405,Seller\nVERIFIED OWNER,110000,5000,5,No Deposit,5 bathrooms,NaN,NaN,Unfurnished,Wadgaon Sheri,Pune,22.000000,class2
125,Seller\nVERIFIED OWNER,110000,5000,5,No Deposit,5 bathrooms,NaN,NaN,Unfurnished,Wadgaon Sheri,Pune,22.000000,class2
4388,NISHA SINGH\nAGENT\n0,51000,2500,5,No Deposit,5 bathrooms,West facing,Pharande Puneville Phase I,Semi-Furnished,Tathawade,Pune,20.400000,class2

In [36]:
city_with_class.head(20)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,location,City,Rent/sqfit,class
0,Seller\nVERIFIED OWNER,7500,500,1,No Deposit,1 bathrooms,North facing,NaN,Semi-Furnished,Lohegaon,Pune,15.000000,class2
1,Seller\nVERIFIED OWNER,12000,906,2,No Deposit,2 bathrooms,NaN,Jayshree Boulevard,Unfurnished,Lohegaon,Pune,13.245033,class3
2,Seller\nVERIFIED OWNER,11000,650,1,No Deposit,1 bathrooms,NaN,NaN,Semi-Furnished,Anand Nagar,Pune,16.923077,class2
3,Seller\nVERIFIED OWNER,4500,350,1,No Deposit,1 bathrooms,NaN,NaN,Unfurnished,Wagholi,Pune,12.857143,class3
4,Seller\nVERIFIED OWNER,35000,1500,3,No Deposit,2 bathrooms,North facing,NaN,Furnished,Sangamvadi,Pune,23.333333,class2
5,Seller\nVERIFIED OWNER,110000,5000,5,No Deposit,5 bathrooms,NaN,NaN,Unfurnished,Wadgaon Sheri,Pune,22.000000,class2
6,Seller\nVERIFIED OWNER,15500,975,2,No Deposit,2 bathrooms,NaN,Legacy Twin Arcs,Semi-Furnished,Tathawade,Pune,15.897436,class2
7,Primus Realty\nAGENT\n-,41000,1630,3,No Deposit,3 bathrooms,NaN,NaN,Semi-Furnished,Mohammed wadi,Pune,25.153374,class1
8,NISHA SINGH\nAGENT\n-,51000,2500,5,No Deposit,5 bathrooms,West facing,Pharande Puneville Phase I,Semi-Furnished,Tathawade,Pune,20.400000,class2
9,Isahh Realtors\nAGENT\n-,75000,2700,3,No Deposit,4 bathrooms,East facing,Marvel Sangria,Semi-Furnished,NIBM Annex Mohammadwadi,Pune,27.777778,class1
10,Vastupurti Real Estate\nAGENT\n-,30000,1300,3,No Deposit,3 bathrooms,East facing,Tirupati Welworth Bluescapes,Semi-Furnished,Vadgaon Budruk,Pune,23.076923,class2
11,MY HOMES GATEWAY\nAGENT\n-,36000,1560,3,No Deposit,3 bathrooms,East facing,Karan Madhupushpa,Semi-Furnished,Wakad,Pune,23.076923,class2
12,Sai Real Estate\nAGENT\n-,41000,1250,2,No Deposit,2 bathrooms,NaN,Vascon Forest County,Semi-Furnished,Kharadi,Pune,32.800000,class1
13,Happiness Realtors\nAGENT\n-,18000,950,2,No Deposit,2 bathrooms,NaN,Majestique Manhattan Wing C,Semi-Furnished,Wagholi,Pune,18.947368,class2
14,Vision Realty\nAGENT\n-,30000,1570,3,No Deposit,3 bathrooms,NaN,Kumar Palmspring Towers,Semi-Furnished,NIBM Annex Mohammadwadi,Pune,19.108280,class2
15,Melange Consultancy\nAGENT\n-,48000,1300,2,No Deposit,2 bathrooms,NaN,Marvel Arco,Furnished,Hadapsar,Pune,36.923077,class1
16,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Dhanori,Pune,23.000000,class2
17,KDH REALITY\nAGENT\n-,24000,1250,2,No Deposit,2 bathrooms,NaN,Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Wagholi,Pune,19.200000,class2
18,FS Realty\nAGENT\n-,26000,950,2,No Deposit,2 bathrooms,East facing,Raojee Palladium Homes,Unfurnished,Dhanori,Pune,27.368421,class1
19,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3 bathrooms,NaN,Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished,Hinjewadi,Pune,33.636364,class1

In [37]:
city_with_class.to_csv('pune_class.csv', index=False)