In [1]:
import numpy as np
import pandas as pd

In [2]:
City=pd.read_csv('gurgaon.csv')

In [3]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
0,Seller\nVERIFIED OWNER,16000,500,1,No Deposit,1 bathrooms,NaN,"Sector 31, Gurgaon",NaN,Furnished
1,Seller\nVERIFIED OWNER,45000,2100,3,No Deposit,3 bathrooms,NaN,"Sector 48, Gurgaon",Vipul World Plots,Furnished
2,Seller\nVERIFIED OWNER,10000,300,1,No Deposit,1 bathrooms,NaN,"Sector 9, Gurgaon",NaN,Furnished
3,Seller\nVERIFIED OWNER,30000,850,1,No Deposit,1 bathrooms,NorthEast facing,"Sushant LOK I, Gurgaon",NaN,Furnished
4,Seller\nVERIFIED OWNER,15000,400,1,No Deposit,1 bathrooms,NaN,"Sector 24, Gurgaon",DLF Phase 3,Furnished
...,...,...,...,...,...,...,...,...,...,...
6055,Seller\nVERIFIED OWNER,22000,700,1,No Deposit,1 bathrooms,NaN,"Sushant LOK I, Gurgaon",NaN,Furnished
6056,Seller\nVERIFIED OWNER,12000,700,1,No Deposit,1 bathrooms,East facing,"Sector 46, Gurgaon",NaN,Unfurnished
6057,Seller\nVERIFIED OWNER,11500,750,2,No Deposit,2 bathrooms,NaN,"Sector 102, Gurgaon",ROF Aalayas,Semi-Furnished
6058,Seller\nVERIFIED OWNER,18000,300,1,No Deposit,1 bathrooms,NaN,"Sector 46, Gurgaon",NaN,Semi-Furnished
6059,Seller\nVERIFIED OWNER,35000,2400,3,No Deposit,2 bathrooms,NaN,"Sector 30, Gurgaon",NaN,Semi-Furnished

In [4]:
City['location']=City['Address'].str.split(',').apply(lambda x:x[0])

In [5]:
City['City']=City['Address'].str.split(',').apply(lambda x:x[-1])

In [6]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
0,Seller\nVERIFIED OWNER,16000,500,1,No Deposit,1 bathrooms,NaN,"Sector 31, Gurgaon",NaN,Furnished,Sector 31,Gurgaon
1,Seller\nVERIFIED OWNER,45000,2100,3,No Deposit,3 bathrooms,NaN,"Sector 48, Gurgaon",Vipul World Plots,Furnished,Sector 48,Gurgaon
2,Seller\nVERIFIED OWNER,10000,300,1,No Deposit,1 bathrooms,NaN,"Sector 9, Gurgaon",NaN,Furnished,Sector 9,Gurgaon
3,Seller\nVERIFIED OWNER,30000,850,1,No Deposit,1 bathrooms,NorthEast facing,"Sushant LOK I, Gurgaon",NaN,Furnished,Sushant LOK I,Gurgaon
4,Seller\nVERIFIED OWNER,15000,400,1,No Deposit,1 bathrooms,NaN,"Sector 24, Gurgaon",DLF Phase 3,Furnished,Sector 24,Gurgaon
...,...,...,...,...,...,...,...,...,...,...,...,...
6055,Seller\nVERIFIED OWNER,22000,700,1,No Deposit,1 bathrooms,NaN,"Sushant LOK I, Gurgaon",NaN,Furnished,Sushant LOK I,Gurgaon
6056,Seller\nVERIFIED OWNER,12000,700,1,No Deposit,1 bathrooms,East facing,"Sector 46, Gurgaon",NaN,Unfurnished,Sector 46,Gurgaon
6057,Seller\nVERIFIED OWNER,11500,750,2,No Deposit,2 bathrooms,NaN,"Sector 102, Gurgaon",ROF Aalayas,Semi-Furnished,Sector 102,Gurgaon
6058,Seller\nVERIFIED OWNER,18000,300,1,No Deposit,1 bathrooms,NaN,"Sector 46, Gurgaon",NaN,Semi-Furnished,Sector 46,Gurgaon
6059,Seller\nVERIFIED OWNER,35000,2400,3,No Deposit,2 bathrooms,NaN,"Sector 30, Gurgaon",NaN,Semi-Furnished,Sector 30,Gurgaon

In [7]:
City.sample(15)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
521,Seller\nVERIFIED OWNER,45000,2100,3,No Deposit,3 bathrooms,NaN,"Sector 48, Gurgaon",Vipul World Plots,Furnished,Sector 48,Gurgaon
2117,Seller\nVERIFIED OWNER,11500,750,2,No Deposit,2 bathrooms,NaN,"Sector 102, Gurgaon",ROF Aalayas,Semi-Furnished,Sector 102,Gurgaon
3538,Seller\nVERIFIED OWNER,18000,300,1,No Deposit,1 bathrooms,NaN,"Sector 46, Gurgaon",NaN,Semi-Furnished,Sector 46,Gurgaon
2352,Seller\nVERIFIED OWNER,22000,1200,2,No Deposit,2 bathrooms,NaN,"Sector 47, Gurgaon",NaN,Semi-Furnished,Sector 47,Gurgaon
6,Seller\nVERIFIED OWNER,13000,350,1,No Deposit,1 bathrooms,NorthWest facing,"Sector 24, Gurgaon",NaN,Furnished,Sector 24,Gurgaon
2041,Seller\nVERIFIED OWNER,45000,2100,3,No Deposit,3 bathrooms,NaN,"Sector 48, Gurgaon",Vipul World Plots,Furnished,Sector 48,Gurgaon
2436,Seller\nVERIFIED OWNER,12000,700,1,No Deposit,1 bathrooms,East facing,"Sector 46, Gurgaon",NaN,Unfurnished,Sector 46,Gurgaon
5017,Seller\nVERIFIED OWNER,11500,750,2,No Deposit,2 bathrooms,NaN,"Sector 102, Gurgaon",ROF Aalayas,Semi-Furnished,Sector 102,Gurgaon
1355,Seller\nVERIFIED OWNER,22000,700,1,No Deposit,1 bathrooms,NaN,"Sushant LOK I, Gurgaon",NaN,Furnished,Sushant LOK I,Gurgaon
2451,Seller\nVERIFIED OWNER,15000,1250,2,No Deposit,2 bathrooms,East facing,"Sector 69, Gurgaon",NaN,Semi-Furnished,Sector 69,Gurgaon
3940,Seller\nVERIFIED OWNER,16000,500,1,No Deposit,1 bathrooms,NaN,"Sector 31, Gurgaon",NaN,Furnished,Sector 31,Gurgaon
5424,Seller\nVERIFIED OWNER,15000,400,1,No Deposit,1 bathrooms,NaN,"Sector 24, Gurgaon",DLF Phase 3,Furnished,Sector 24,Gurgaon
581,Seller\nVERIFIED OWNER,45000,2100,3,No Deposit,3 bathrooms,NaN,"Sector 48, Gurgaon",Vipul World Plots,Furnished,Sector 48,Gurgaon
3534,Seller\nVERIFIED OWNER,16000,1000,1,No Deposit,1 bathrooms,NaN,"Sector 14, Gurgaon",NaN,Furnished,Sector 14,Gurgaon
2819,Seller\nVERIFIED OWNER,35000,2400,3,No Deposit,2 bathrooms,NaN,"Sector 30, Gurgaon",NaN,Semi-Furnished,Sector 30,Gurgaon

In [8]:
City.sample(50)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
1713,Seller\nVERIFIED OWNER,13000,1000,1,No Deposit,1 bathrooms,NaN,"Sector 4, Gurgaon",HUDA RWA Swaran Jayanti,Semi-Furnished,Sector 4,Gurgaon
4624,Seller\nVERIFIED OWNER,15000,400,1,No Deposit,1 bathrooms,NaN,"Sector 24, Gurgaon",DLF Phase 3,Furnished,Sector 24,Gurgaon
5952,Seller\nVERIFIED OWNER,22000,1200,2,No Deposit,2 bathrooms,NaN,"Sector 47, Gurgaon",NaN,Semi-Furnished,Sector 47,Gurgaon
1383,Seller\nVERIFIED OWNER,30000,850,1,No Deposit,1 bathrooms,NorthEast facing,"Sushant LOK I, Gurgaon",NaN,Furnished,Sushant LOK I,Gurgaon
112,Seller\nVERIFIED OWNER,22000,1200,2,No Deposit,2 bathrooms,NaN,"Sector 47, Gurgaon",NaN,Semi-Furnished,Sector 47,Gurgaon
4272,Seller\nVERIFIED OWNER,22000,1200,2,No Deposit,2 bathrooms,NaN,"Sector 47, Gurgaon",NaN,Semi-Furnished,Sector 47,Gurgaon
5269,Seller\nVERIFIED OWNER,16000,1020,1,No Deposit,NaN,NaN,"PALAM VIHAR, Gurgaon",NaN,Semi-Furnished,PALAM VIHAR,Gurgaon
433,Seller\nVERIFIED OWNER,13000,1000,1,No Deposit,1 bathrooms,NaN,"Sector 4, Gurgaon",HUDA RWA Swaran Jayanti,Semi-Furnished,Sector 4,Gurgaon
5562,Seller\nVERIFIED OWNER,10000,300,1,No Deposit,1 bathrooms,NaN,"Sector 9, Gurgaon",NaN,Furnished,Sector 9,Gurgaon
57,Seller\nVERIFIED OWNER,11500,750,2,No Deposit,2 bathrooms,NaN,"Sector 102, Gurgaon",ROF Aalayas,Semi-Furnished,Sector 102,Gurgaon
1869,Seller\nVERIFIED OWNER,16000,1020,1,No Deposit,NaN,NaN,"PALAM VIHAR, Gurgaon",NaN,Semi-Furnished,PALAM VIHAR,Gurgaon
6033,Seller\nVERIFIED OWNER,13000,1000,1,No Deposit,1 bathrooms,NaN,"Sector 4, Gurgaon",HUDA RWA Swaran Jayanti,Semi-Furnished,Sector 4,Gurgaon
2256,Seller\nVERIFIED OWNER,12000,700,1,No Deposit,1 bathrooms,East facing,"Sector 46, Gurgaon",NaN,Unfurnished,Sector 46,Gurgaon
4810,Seller\nVERIFIED OWNER,60000,2300,4,No Deposit,4 bathrooms,East facing,"Sector 24, Gurgaon",DLF Belvedere Tower,Semi-Furnished,Sector 24,Gurgaon
2316,Seller\nVERIFIED OWNER,12000,700,1,No Deposit,1 bathrooms,East facing,"Sector 46, Gurgaon",NaN,Unfurnished,Sector 46,Gurgaon
3986,Seller\nVERIFIED OWNER,13000,350,1,No Deposit,1 bathrooms,NorthWest facing,"Sector 24, Gurgaon",NaN,Furnished,Sector 24,Gurgaon
7,Seller\nVERIFIED OWNER,19000,450,1,No Deposit,1 bathrooms,West facing,"Sector 36A, Gurgaon",AVL 36,Furnished,Sector 36A,Gurgaon
3755,Seller\nVERIFIED OWNER,22000,700,1,No Deposit,1 bathrooms,NaN,"Sushant LOK I, Gurgaon",NaN,Furnished,Sushant LOK I,Gurgaon
1625,Seller\nVERIFIED OWNER,14000,900,3,No Deposit,2 bathrooms,NorthEast facing,"Sector 105, Gurgaon",Deewan Rajendra Park Sector 105,Semi-Furnished,Sector 105,Gurgaon
4966,Seller\nVERIFIED OWNER,13000,350,1,No Deposit,1 bathrooms,NorthWest facing,"Sector 24, Gurgaon",NaN,Furnished,Sector 24,Gurgaon
3789,Seller\nVERIFIED OWNER,16000,1020,1,No Deposit,NaN,NaN,"PALAM VIHAR, Gurgaon",NaN,Semi-Furnished,PALAM VIHAR,Gurgaon
4458,Seller\nVERIFIED OWNER,18000,300,1,No Deposit,1 bathrooms,NaN,"Sector 46, Gurgaon",NaN,Semi-Furnished,Sector 46,Gurgaon
964,Seller\nVERIFIED OWNER,15000,400,1,No Deposit,1 bathrooms,NaN,"Sector 24, Gurgaon",DLF Phase 3,Furnished,Sector 24,Gurgaon
757,Seller\nVERIFIED OWNER,11500,750,2,No Deposit,2 bathrooms,NaN,"Sector 102, Gurgaon",ROF Aalayas,Semi-Furnished,Sector 102,Gurgaon
2052,Seller\nVERIFIED OWNER,22000,1200,2,No Deposit,2 bathrooms,NaN,"Sector 47, Gurgaon",NaN,Semi-Furnished,Sector 47,Gurgaon
3470,Seller\nVERIFIED OWNER,60000,2300,4,No Deposit,4 bathrooms,East facing,"Sector 24, Gurgaon",DLF Belvedere Tower,Semi-Furnished,Sector 24,Gurgaon
2092,Seller\nVERIFIED OWNER,22000,1200,2,No Deposit,2 bathrooms,NaN,"Sector 47, Gurgaon",NaN,Semi-Furnished,Sector 47,Gurgaon
5676,Seller\nVERIFIED OWNER,12000,700,1,No Deposit,1 bathrooms,East facing,"Sector 46, Gurgaon",NaN,Unfurnished,Sector 46,Gurgaon
2090,Seller\nVERIFIED OWNER,60000,2300,4,No Deposit,4 bathrooms,East facing,"Sector 24, Gurgaon",DLF Belvedere Tower,Semi-Furnished,Sector 24,Gurgaon
5171,Seller\nVERIFIED OWNER,15000,1250,2,No Deposit,2 bathrooms,East facing,"Sector 69, Gurgaon",NaN,Semi-Furnished,Sector 69,Gurgaon
4080,Seller\nVERIFIED OWNER,16000,500,1,No Deposit,1 bathrooms,NaN,"Sector 31, Gurgaon",NaN,Furnished,Sector 31,Gurgaon
856,Seller\nVERIFIED OWNER,12000,700,1,No Deposit,1 bathrooms,East facing,"Sector 46, Gurgaon",NaN,Unfurnished,Sector 46,Gurgaon
4022,Seller\nVERIFIED OWNER,10000,300,1,No Deposit,1 bathrooms,NaN,"Sector 9, Gurgaon",NaN,Furnished,Sector 9,Gurgaon
3031,Seller\nVERIFIED OWNER,15000,1250,2,No Deposit,2 bathrooms,East facing,"Sector 69, Gurgaon",NaN,Semi-Furnished,Sector 69,Gurgaon
2643,Seller\nVERIFIED OWNER,30000,850,1,No Deposit,1 bathrooms,NorthEast facing,"Sushant LOK I, Gurgaon",NaN,Furnished,Sushant LOK I,Gurgaon
4057,Seller\nVERIFIED OWNER,11500,750,2,No Deposit,2 bathrooms,NaN,"Sector 102, Gurgaon",ROF Aalayas,Semi-Furnished,Sector 102,Gurgaon
5292,Seller\nVERIFIED OWNER,22000,1200,2,No Deposit,2 bathrooms,NaN,"Sector 47, Gurgaon",NaN,Semi-Furnished,Sector 47,Gurgaon
513,Seller\nVERIFIED OWNER,13000,1000,1,No Deposit,1 bathrooms,NaN,"Sector 4, Gurgaon",HUDA RWA Swaran Jayanti,Semi-Furnished,Sector 4,Gurgaon
5118,Seller\nVERIFIED OWNER,18000,300,1,No Deposit,1 bathrooms,NaN,"Sector 46, Gurgaon",NaN,Semi-Furnished,Sector 46,Gurgaon
2611,Seller\nVERIFIED OWNER,15000,1250,2,No Deposit,2 bathrooms,East facing,"Sector 69, Gurgaon",NaN,Semi-Furnished,Sector 69,Gurgaon
4225,Seller\nVERIFIED OWNER,14000,900,3,No Deposit,2 bathrooms,NorthEast facing,"Sector 105, Gurgaon",Deewan Rajendra Park Sector 105,Semi-Furnished,Sector 105,Gurgaon
4488,Seller\nVERIFIED OWNER,8500,600,1,No Deposit,1 bathrooms,East facing,"Sector 24, Gurgaon",NaN,Furnished,Sector 24,Gurgaon
280,Seller\nVERIFIED OWNER,16000,500,1,No Deposit,1 bathrooms,NaN,"Sector 31, Gurgaon",NaN,Furnished,Sector 31,Gurgaon
3460,Seller\nVERIFIED OWNER,16000,500,1,No Deposit,1 bathrooms,NaN,"Sector 31, Gurgaon",NaN,Furnished,Sector 31,Gurgaon
3386,Seller\nVERIFIED OWNER,13000,350,1,No Deposit,1 bathrooms,NorthWest facing,"Sector 24, Gurgaon",NaN,Furnished,Sector 24,Gurgaon
698,Seller\nVERIFIED OWNER,18000,300,1,No Deposit,1 bathrooms,NaN,"Sector 46, Gurgaon",NaN,Semi-Furnished,Sector 46,Gurgaon
2792,Seller\nVERIFIED OWNER,22000,1200,2,No Deposit,2 bathrooms,NaN,"Sector 47, Gurgaon",NaN,Semi-Furnished,Sector 47,Gurgaon
2704,Seller\nVERIFIED OWNER,15000,400,1,No Deposit,1 bathrooms,NaN,"Sector 24, Gurgaon",DLF Phase 3,Furnished,Sector 24,Gurgaon
3474,Seller\nVERIFIED OWNER,16000,1000,1,No Deposit,1 bathrooms,NaN,"Sector 14, Gurgaon",NaN,Furnished,Sector 14,Gurgaon
3798,Seller\nVERIFIED OWNER,18000,300,1,No Deposit,1 bathrooms,NaN,"Sector 46, Gurgaon",NaN,Semi-Furnished,Sector 46,Gurgaon

In [9]:
## conversion of rentcolumn into numeric type:
def convert_rent(rent):
    if "L" in rent:
        return int(float(rent.replace('L','').replace(',','').strip())*100000)                                           
    else:
        return int(float(rent.replace(',','').strip()))

In [10]:
def Convert_rent(rent):
    # Check if the input is an integer, and handle it directly
    if isinstance(rent, int):
        return rent
    
    # Ensure the input is a string before using string operations
    if isinstance(rent, str):
        if "L" in rent:
            return int(float(rent.replace('L', '').replace(',', '').strip()) * 100000)
        else:
            return int(rent.replace(',', '').strip())
    
    # Handle unexpected types (e.g., NaN, None)
    return None

In [11]:
City['Rent']=City['Rent'].apply(Convert_rent)

In [12]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City
0,Seller\nVERIFIED OWNER,16000,500,1,No Deposit,1 bathrooms,NaN,"Sector 31, Gurgaon",NaN,Furnished,Sector 31,Gurgaon
1,Seller\nVERIFIED OWNER,45000,2100,3,No Deposit,3 bathrooms,NaN,"Sector 48, Gurgaon",Vipul World Plots,Furnished,Sector 48,Gurgaon
2,Seller\nVERIFIED OWNER,10000,300,1,No Deposit,1 bathrooms,NaN,"Sector 9, Gurgaon",NaN,Furnished,Sector 9,Gurgaon
3,Seller\nVERIFIED OWNER,30000,850,1,No Deposit,1 bathrooms,NorthEast facing,"Sushant LOK I, Gurgaon",NaN,Furnished,Sushant LOK I,Gurgaon
4,Seller\nVERIFIED OWNER,15000,400,1,No Deposit,1 bathrooms,NaN,"Sector 24, Gurgaon",DLF Phase 3,Furnished,Sector 24,Gurgaon
...,...,...,...,...,...,...,...,...,...,...,...,...
6055,Seller\nVERIFIED OWNER,22000,700,1,No Deposit,1 bathrooms,NaN,"Sushant LOK I, Gurgaon",NaN,Furnished,Sushant LOK I,Gurgaon
6056,Seller\nVERIFIED OWNER,12000,700,1,No Deposit,1 bathrooms,East facing,"Sector 46, Gurgaon",NaN,Unfurnished,Sector 46,Gurgaon
6057,Seller\nVERIFIED OWNER,11500,750,2,No Deposit,2 bathrooms,NaN,"Sector 102, Gurgaon",ROF Aalayas,Semi-Furnished,Sector 102,Gurgaon
6058,Seller\nVERIFIED OWNER,18000,300,1,No Deposit,1 bathrooms,NaN,"Sector 46, Gurgaon",NaN,Semi-Furnished,Sector 46,Gurgaon
6059,Seller\nVERIFIED OWNER,35000,2400,3,No Deposit,2 bathrooms,NaN,"Sector 30, Gurgaon",NaN,Semi-Furnished,Sector 30,Gurgaon

In [13]:
City['Rent']=City['Rent'].astype(int)

In [14]:
City.dtypes

broker_consultancy    object
Rent                   int64
Area                   int64
appartment_type        int64
Deposit               object
Bathrooms             object
Facing                object
Address               object
Apartment Name        object
Status                object
location              object
City                  object
dtype: object

In [15]:
City['Rent/sqfit']=City['Rent']/City['Area']

In [16]:
City

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City,Rent/sqfit
0,Seller\nVERIFIED OWNER,16000,500,1,No Deposit,1 bathrooms,NaN,"Sector 31, Gurgaon",NaN,Furnished,Sector 31,Gurgaon,32.000000
1,Seller\nVERIFIED OWNER,45000,2100,3,No Deposit,3 bathrooms,NaN,"Sector 48, Gurgaon",Vipul World Plots,Furnished,Sector 48,Gurgaon,21.428571
2,Seller\nVERIFIED OWNER,10000,300,1,No Deposit,1 bathrooms,NaN,"Sector 9, Gurgaon",NaN,Furnished,Sector 9,Gurgaon,33.333333
3,Seller\nVERIFIED OWNER,30000,850,1,No Deposit,1 bathrooms,NorthEast facing,"Sushant LOK I, Gurgaon",NaN,Furnished,Sushant LOK I,Gurgaon,35.294118
4,Seller\nVERIFIED OWNER,15000,400,1,No Deposit,1 bathrooms,NaN,"Sector 24, Gurgaon",DLF Phase 3,Furnished,Sector 24,Gurgaon,37.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6055,Seller\nVERIFIED OWNER,22000,700,1,No Deposit,1 bathrooms,NaN,"Sushant LOK I, Gurgaon",NaN,Furnished,Sushant LOK I,Gurgaon,31.428571
6056,Seller\nVERIFIED OWNER,12000,700,1,No Deposit,1 bathrooms,East facing,"Sector 46, Gurgaon",NaN,Unfurnished,Sector 46,Gurgaon,17.142857
6057,Seller\nVERIFIED OWNER,11500,750,2,No Deposit,2 bathrooms,NaN,"Sector 102, Gurgaon",ROF Aalayas,Semi-Furnished,Sector 102,Gurgaon,15.333333
6058,Seller\nVERIFIED OWNER,18000,300,1,No Deposit,1 bathrooms,NaN,"Sector 46, Gurgaon",NaN,Semi-Furnished,Sector 46,Gurgaon,60.000000
6059,Seller\nVERIFIED OWNER,35000,2400,3,No Deposit,2 bathrooms,NaN,"Sector 30, Gurgaon",NaN,Semi-Furnished,Sector 30,Gurgaon,14.583333

In [17]:
City.sample(150)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,location,City,Rent/sqfit
4093,Seller\nVERIFIED OWNER,13000,1000,1,No Deposit,1 bathrooms,NaN,"Sector 4, Gurgaon",HUDA RWA Swaran Jayanti,Semi-Furnished,Sector 4,Gurgaon,13.000000
1725,Seller\nVERIFIED OWNER,14000,900,3,No Deposit,2 bathrooms,NorthEast facing,"Sector 105, Gurgaon",Deewan Rajendra Park Sector 105,Semi-Furnished,Sector 105,Gurgaon,15.555556
2486,Seller\nVERIFIED OWNER,13000,350,1,No Deposit,1 bathrooms,NorthWest facing,"Sector 24, Gurgaon",NaN,Furnished,Sector 24,Gurgaon,37.142857
882,Seller\nVERIFIED OWNER,10000,300,1,No Deposit,1 bathrooms,NaN,"Sector 9, Gurgaon",NaN,Furnished,Sector 9,Gurgaon,33.333333
943,Seller\nVERIFIED OWNER,30000,850,1,No Deposit,1 bathrooms,NorthEast facing,"Sushant LOK I, Gurgaon",NaN,Furnished,Sushant LOK I,Gurgaon,35.294118
...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,Seller\nVERIFIED OWNER,13000,350,1,No Deposit,1 bathrooms,NorthWest facing,"Sector 24, Gurgaon",NaN,Furnished,Sector 24,Gurgaon,37.142857
5729,Seller\nVERIFIED OWNER,16000,1020,1,No Deposit,NaN,NaN,"PALAM VIHAR, Gurgaon",NaN,Semi-Furnished,PALAM VIHAR,Gurgaon,15.686275
5887,Seller\nVERIFIED OWNER,19000,450,1,No Deposit,1 bathrooms,West facing,"Sector 36A, Gurgaon",AVL 36,Furnished,Sector 36A,Gurgaon,42.222222
2612,Seller\nVERIFIED OWNER,22000,1200,2,No Deposit,2 bathrooms,NaN,"Sector 47, Gurgaon",NaN,Semi-Furnished,Sector 47,Gurgaon,18.333333
1803,Seller\nVERIFIED OWNER,30000,850,1,No Deposit,1 bathrooms,NorthEast facing,"Sushant LOK I, Gurgaon",NaN,Furnished,Sushant LOK I,Gurgaon,35.294118

In [18]:
City.describe()

               Rent         Area  appartment_type   Rent/sqfit
count   6060.000000  6060.000000      6060.000000  6060.000000
mean   20550.000000   953.500000         1.600000    25.411899
std    12565.769211   619.310941         0.916591    12.444945
min     8500.000000   300.000000         1.000000    12.000000
25%    13000.000000   487.500000         1.000000    15.500000
50%    16000.000000   800.000000         1.000000    19.880952
75%    22000.000000  1065.000000         2.000000    33.823529
max    60000.000000  2400.000000         4.000000    60.000000

In [19]:
filtered_city = City[City['Rent/sqfit'] <=15]

In [20]:
filtered_city.location.unique()

array(['Sector 24', 'Sector 69', 'Sector 4', 'Sector 30'], dtype=object)

In [21]:
filtered_city1 = City[(City['Rent/sqfit'] > 15) & (City['Rent/sqfit'] <=25)]

In [22]:
filtered_city1.location.unique()

array(['Sector 48', 'Sector 105', 'PALAM VIHAR', 'Sector 47', 'Sector 14',
       'Sector 46', 'Sector 102'], dtype=object)

In [23]:
filtered_city2 = City[City['Rent/sqfit'] >25]

In [24]:
filtered_city2.location.unique()

array(['Sector 31', 'Sector 9', 'Sushant LOK I', 'Sector 24',
       'Sector 36A', 'Sector 46'], dtype=object)

In [25]:
City.drop(columns=['location'],inplace=True)

In [26]:
City.drop(columns=['City'],inplace=True)

In [27]:
def add_rent_class(df):
    """
    Adds a 'class' column to the DataFrame based on the 'Rent/sqft' values.
    
    Parameters:
    df (pd.DataFrame): The DataFrame to which the 'class' column will be added.
    
    Returns:
    pd.DataFrame: The DataFrame with the new 'class' column.
    """
    def classify_rent(rent_sqfit):
        if rent_sqfit <= 15:
            return 'class3'
        elif 15 <= rent_sqfit <= 25:
            return 'class2'
        else:
            return 'class1'
    
    df['class'] = df['Rent/sqfit'].apply(classify_rent)
    return df

In [28]:
city_with_class = add_rent_class(City)

In [29]:
city_with_class

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
0,Seller\nVERIFIED OWNER,16000,500,1,No Deposit,1 bathrooms,NaN,"Sector 31, Gurgaon",NaN,Furnished,32.000000,class1
1,Seller\nVERIFIED OWNER,45000,2100,3,No Deposit,3 bathrooms,NaN,"Sector 48, Gurgaon",Vipul World Plots,Furnished,21.428571,class2
2,Seller\nVERIFIED OWNER,10000,300,1,No Deposit,1 bathrooms,NaN,"Sector 9, Gurgaon",NaN,Furnished,33.333333,class1
3,Seller\nVERIFIED OWNER,30000,850,1,No Deposit,1 bathrooms,NorthEast facing,"Sushant LOK I, Gurgaon",NaN,Furnished,35.294118,class1
4,Seller\nVERIFIED OWNER,15000,400,1,No Deposit,1 bathrooms,NaN,"Sector 24, Gurgaon",DLF Phase 3,Furnished,37.500000,class1
...,...,...,...,...,...,...,...,...,...,...,...,...
6055,Seller\nVERIFIED OWNER,22000,700,1,No Deposit,1 bathrooms,NaN,"Sushant LOK I, Gurgaon",NaN,Furnished,31.428571,class1
6056,Seller\nVERIFIED OWNER,12000,700,1,No Deposit,1 bathrooms,East facing,"Sector 46, Gurgaon",NaN,Unfurnished,17.142857,class2
6057,Seller\nVERIFIED OWNER,11500,750,2,No Deposit,2 bathrooms,NaN,"Sector 102, Gurgaon",ROF Aalayas,Semi-Furnished,15.333333,class2
6058,Seller\nVERIFIED OWNER,18000,300,1,No Deposit,1 bathrooms,NaN,"Sector 46, Gurgaon",NaN,Semi-Furnished,60.000000,class1
6059,Seller\nVERIFIED OWNER,35000,2400,3,No Deposit,2 bathrooms,NaN,"Sector 30, Gurgaon",NaN,Semi-Furnished,14.583333,class3

In [30]:
city_with_class.sample(150)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
1900,Seller\nVERIFIED OWNER,16000,500,1,No Deposit,1 bathrooms,NaN,"Sector 31, Gurgaon",NaN,Furnished,32.000000,class1
5434,Seller\nVERIFIED OWNER,16000,1000,1,No Deposit,1 bathrooms,NaN,"Sector 14, Gurgaon",NaN,Furnished,16.000000,class2
2965,Seller\nVERIFIED OWNER,14000,900,3,No Deposit,2 bathrooms,NorthEast facing,"Sector 105, Gurgaon",Deewan Rajendra Park Sector 105,Semi-Furnished,15.555556,class2
2821,Seller\nVERIFIED OWNER,45000,2100,3,No Deposit,3 bathrooms,NaN,"Sector 48, Gurgaon",Vipul World Plots,Furnished,21.428571,class2
5969,Seller\nVERIFIED OWNER,16000,1020,1,No Deposit,NaN,NaN,"PALAM VIHAR, Gurgaon",NaN,Semi-Furnished,15.686275,class2
...,...,...,...,...,...,...,...,...,...,...,...,...
1734,Seller\nVERIFIED OWNER,16000,1000,1,No Deposit,1 bathrooms,NaN,"Sector 14, Gurgaon",NaN,Furnished,16.000000,class2
5166,Seller\nVERIFIED OWNER,13000,350,1,No Deposit,1 bathrooms,NorthWest facing,"Sector 24, Gurgaon",NaN,Furnished,37.142857,class1
234,Seller\nVERIFIED OWNER,16000,1000,1,No Deposit,1 bathrooms,NaN,"Sector 14, Gurgaon",NaN,Furnished,16.000000,class2
1226,Seller\nVERIFIED OWNER,13000,350,1,No Deposit,1 bathrooms,NorthWest facing,"Sector 24, Gurgaon",NaN,Furnished,37.142857,class1
4306,Seller\nVERIFIED OWNER,13000,350,1,No Deposit,1 bathrooms,NorthWest facing,"Sector 24, Gurgaon",NaN,Furnished,37.142857,class1

In [31]:
city_with_class.head(20)

,broker_consultancy,Rent,Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,Rent/sqfit,class
0,Seller\nVERIFIED OWNER,16000,500,1,No Deposit,1 bathrooms,NaN,"Sector 31, Gurgaon",NaN,Furnished,32.000000,class1
1,Seller\nVERIFIED OWNER,45000,2100,3,No Deposit,3 bathrooms,NaN,"Sector 48, Gurgaon",Vipul World Plots,Furnished,21.428571,class2
2,Seller\nVERIFIED OWNER,10000,300,1,No Deposit,1 bathrooms,NaN,"Sector 9, Gurgaon",NaN,Furnished,33.333333,class1
3,Seller\nVERIFIED OWNER,30000,850,1,No Deposit,1 bathrooms,NorthEast facing,"Sushant LOK I, Gurgaon",NaN,Furnished,35.294118,class1
4,Seller\nVERIFIED OWNER,15000,400,1,No Deposit,1 bathrooms,NaN,"Sector 24, Gurgaon",DLF Phase 3,Furnished,37.500000,class1
5,Seller\nVERIFIED OWNER,14000,900,3,No Deposit,2 bathrooms,NorthEast facing,"Sector 105, Gurgaon",Deewan Rajendra Park Sector 105,Semi-Furnished,15.555556,class2
6,Seller\nVERIFIED OWNER,13000,350,1,No Deposit,1 bathrooms,NorthWest facing,"Sector 24, Gurgaon",NaN,Furnished,37.142857,class1
7,Seller\nVERIFIED OWNER,19000,450,1,No Deposit,1 bathrooms,West facing,"Sector 36A, Gurgaon",AVL 36,Furnished,42.222222,class1
8,Seller\nVERIFIED OWNER,8500,600,1,No Deposit,1 bathrooms,East facing,"Sector 24, Gurgaon",NaN,Furnished,14.166667,class3
9,Seller\nVERIFIED OWNER,16000,1020,1,No Deposit,NaN,NaN,"PALAM VIHAR, Gurgaon",NaN,Semi-Furnished,15.686275,class2
10,Seller\nVERIFIED OWNER,60000,2300,4,No Deposit,4 bathrooms,East facing,"Sector 24, Gurgaon",DLF Belvedere Tower,Semi-Furnished,26.086957,class1
11,Seller\nVERIFIED OWNER,15000,1250,2,No Deposit,2 bathrooms,East facing,"Sector 69, Gurgaon",NaN,Semi-Furnished,12.000000,class3
12,Seller\nVERIFIED OWNER,22000,1200,2,No Deposit,2 bathrooms,NaN,"Sector 47, Gurgaon",NaN,Semi-Furnished,18.333333,class2
13,Seller\nVERIFIED OWNER,13000,1000,1,No Deposit,1 bathrooms,NaN,"Sector 4, Gurgaon",HUDA RWA Swaran Jayanti,Semi-Furnished,13.000000,class3
14,Seller\nVERIFIED OWNER,16000,1000,1,No Deposit,1 bathrooms,NaN,"Sector 14, Gurgaon",NaN,Furnished,16.000000,class2
15,Seller\nVERIFIED OWNER,22000,700,1,No Deposit,1 bathrooms,NaN,"Sushant LOK I, Gurgaon",NaN,Furnished,31.428571,class1
16,Seller\nVERIFIED OWNER,12000,700,1,No Deposit,1 bathrooms,East facing,"Sector 46, Gurgaon",NaN,Unfurnished,17.142857,class2
17,Seller\nVERIFIED OWNER,11500,750,2,No Deposit,2 bathrooms,NaN,"Sector 102, Gurgaon",ROF Aalayas,Semi-Furnished,15.333333,class2
18,Seller\nVERIFIED OWNER,18000,300,1,No Deposit,1 bathrooms,NaN,"Sector 46, Gurgaon",NaN,Semi-Furnished,60.000000,class1
19,Seller\nVERIFIED OWNER,35000,2400,3,No Deposit,2 bathrooms,NaN,"Sector 30, Gurgaon",NaN,Semi-Furnished,14.583333,class3

In [32]:
city_with_class.to_csv('Gurgaon_class.csv', index=False)