### problem statement:

##### import Required library

In [94]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

###### load the cvs files

In [95]:
# mumbai city csv file:
mumbai=pd.read_csv('mumbai.csv')

In [96]:
# pune city csv file:
pune=pd.read_csv('pune.csv')

In [97]:
# Banglore city csv file:
Banglore=pd.read_csv('Banglore.csv')

In [98]:
# Chennai city csv file:
Chennai=pd.read_csv('Chennai.csv')

In [99]:
# Delhi city csv file:
Delhi=pd.read_csv('Delhi.csv')

In [100]:
# gurgaoncity csv file:
gurgaon=pd.read_csv('gurgaon.csv')

In [101]:
# gurgaoncity csv file:
hyderabad=pd.read_csv('hyderabad.csv')

In [102]:
# kolkata city csv file:
kolkata=pd.read_csv('kolkata.csv')

In [103]:
### merge alll above city into one dataframe:
city=pd.concat([mumbai,pune,Banglore,Chennai,Delhi,gurgaon,hyderabad,kolkata],ignore_index=True)

In [104]:
city

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
0,Kasturi Developers\nBUILDER\n-,"20,000",1132,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",EV Castle,Unfurnished
1,Kasturi Developers\nBUILDER\n-,"20,000",1200,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Unfurnished
2,Kasturi Developers\nBUILDER\n-,"30,000",1700,3,No Deposit,3 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Semi-Furnished
3,Seller\nVERIFIED OWNER,"28,500",750,2,No Deposit,2 bathrooms,NaN,"Kandivali West, Mumbai",Atul Blue Arch,Unfurnished
4,Seller\nVERIFIED OWNER,"50,000",1400,3,No Deposit,3 bathrooms,East facing,"Chembur, Mumbai",Godrej Prime,Semi-Furnished
...,...,...,...,...,...,...,...,...,...,...
67311,Samim Baidya\nAGENT\n0,"35,000",1250,2,No Deposit,2 bathrooms,North facing,"Salt Lake City, Kolkata",NaN,Semi-Furnished
67312,Houseindia\nAGENT\n0,"10,000",1100,3,No Deposit,2 bathrooms,South facing,"Kalyani, Kolkata",NaN,Unfurnished
67313,TGE PROPERTIES\nAGENT\n0,"6,500",500,1,No Deposit,1 bathrooms,NaN,"Baghajatin, Kolkata",NaN,Unfurnished
67314,Vikas Kumar\nAGENT\n0,"44,000",2750,3,No Deposit,3 bathrooms,North facing,"Sector 22, Kolkata",NaN,Semi-Furnished
67315,Sagar Realty\nAGENT\n0,"30,000",1100,3,No Deposit,2 bathrooms,SouthEast facing,"Haltu, Kolkata",Reputed Builder Avishikta 2,Semi-Furnished

## Data Preprossing

In [105]:
## taking random sample from dataset:
city.sample(50)

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
9629,Mangal Murti Enterprises\nAGENT\n-,"36,500",1150,2,No Deposit,2 bathrooms,East facing,"Airoli, Mumbai",NaN,Furnished
11276,Prema Housing\nAGENT\n-,"40,000",832,1,1.5 L deposit,1 bathrooms,NaN,"Borivali East, Mumbai",Kaustubh Platinum,Unfurnished
51056,Seller\nVERIFIED OWNER,"16,000",500,1,No Deposit,1 bathrooms,NaN,"Sector 31, Gurgaon",NaN,Furnished
56514,VENKY\nAGENT\n-,"15,000",1000,1,No Deposit,1 bathrooms,NaN,"Kondapur, Hyderabad",NaN,Semi-Furnished
21229,Happiness Realtors\nAGENT\n0,18000,950,2,No Deposit,2 bathrooms,NaN,"Wagholi, Pune",Majestique Manhattan Wing C,Semi-Furnished
66103,Seller\nVERIFIED OWNER,"9,500",150,1,No Deposit,1 bathrooms,NaN,"Sector 22, Kolkata",NaN,Furnished
950,Star Properties Real Estate Consultant\nAGENT\n-,"59,000",1000,2,No Deposit,2 bathrooms,NaN,"Santacruz East, Mumbai",Swaraj Homes Sai Complex CHS,Furnished
47337,Seller\nVERIFIED OWNER,"48,000",1020,3,No Deposit,3 bathrooms,South facing,"Model Town, Delhi",NaN,Furnished
38792,CK Home Solutions\nAGENT\n-,"15,000",850,2,"15,000 deposit",2 bathrooms,NaN,"Shahdara, Delhi",NaN,Semi-Furnished
12539,Naina Enterprises\nAGENT\n-,"13,000",585,1,No Deposit,1 bathrooms,East facing,"Dombivali, Mumbai",Lodha Casa Bella Gold,Semi-Furnished
61564,Individual Agent\nAGENT\n0,"25,000",1350,2,No Deposit,2 bathrooms,NaN,"Nallagandla Gachibowli, Hyderabad",NaN,Semi-Furnished
8106,Asian Properties\nAGENT\n-,"48,000",1250,3,No Deposit,2 bathrooms,North facing,"Kandivali East, Mumbai",Lokhandwala Sapphire Heights,Unfurnished
9289,Jas Realtors\nAGENT\n-,"90,000",1200,2,No Deposit,1 bathrooms,NorthWest facing,"Chembur, Mumbai",Godrej Central,Furnished
33427,Krish Realty\nAGENT\n0,"26,000",600,1,No Deposit,1 bathrooms,NaN,"Iyappanthangal, Chennai",Prestige Bella Vista,Furnished
2957,VSESTATES\nAGENT\n-,"48,000",750,2,No Deposit,2 bathrooms,NaN,"Malad West, Mumbai",Maitree Avalon Paradise,Unfurnished
58038,Seller\nVERIFIED OWNER,"45,000",3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished
8296,BEST DEAL Real Estate VIRAR\nAGENT\n-,"16,000",900,3,No Deposit,2 bathrooms,NaN,"Virar, Mumbai",Rustomjee Global City Virar Avenue D1,Semi-Furnished
1074,Sai Iccha Enterprises\nAGENT\n-,"15,000",623,1,No Deposit,1 bathrooms,East facing,"Dombivli (West), Mumbai",NaN,Semi-Furnished
52991,Seller\nVERIFIED OWNER,"22,000",700,1,No Deposit,1 bathrooms,NaN,"Sushant LOK I, Gurgaon",NaN,Furnished
39696,Seller\nVERIFIED OWNER,"8,500",500,2,No Deposit,1 bathrooms,NorthWest facing,"Uttam Nagar, Delhi",NaN,Semi-Furnished
10577,Nikhil Parelkar\nAGENT\n-,"75,000",1100,2,2 L deposit,2 bathrooms,NaN,"Parel Village, Mumbai",Sudarshan CHS Parel,Furnished
25273,Seller\nVERIFIED OWNER,"13,000",2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished
4775,Individual Agent\nAGENT\n-,"35,000",750,2,No Deposit,2 bathrooms,East facing,"Malad West, Mumbai",Reputed Builder Lubna Apartments,Semi-Furnished
51652,Seller\nVERIFIED OWNER,"12,000",700,1,No Deposit,1 bathrooms,East facing,"Sector 46, Gurgaon",NaN,Unfurnished
43083,Neon Properties\nAGENT\n0,"65,000",1500,2,No Deposit,2 bathrooms,NorthEast facing,"Neeti Bagh, Delhi",NaN,Semi-Furnished
24603,Seller\nVERIFIED OWNER,"25,000",850,2,No Deposit,2 bathrooms,East facing,"Kasavanahalli, Bangalore",NaN,Semi-Furnished
22932,Seller\nVERIFIED OWNER,"12,000",840,2,No Deposit,2 bathrooms,NaN,"Nelamangala, Bangalore",Tata New Haven,Semi-Furnished
48333,Access India\nAGENT\n0,2.75 L,3200,3,8.25 L deposit,4 bathrooms,NaN,"Sundar Nagar, Delhi",NaN,Semi-Furnished
20081,Seller\nVERIFIED OWNER,1.1 L,5000,5,No Deposit,5 bathrooms,NaN,"Wadgaon Sheri, Pune",NaN,Unfurnished
51137,Seller\nVERIFIED OWNER,"45,000",2100,3,No Deposit,3 bathrooms,NaN,"Sector 48, Gurgaon",Vipul World Plots,Furnished
38686,World Wide Infra\nAGENT\n0,"90,000",2800,4,No Deposit,4 bathrooms,NaN,"Vasant Kunj, Delhi",DDA DDA Sector B Pocket 9,Semi-Furnished
42755,Adarsh Associates\nAGENT\n0,"67,000",1000,2,No Deposit,2 bathrooms,NaN,"Sarvodaya Enclave, Delhi",NaN,Furnished
66960,Seller\nVERIFIED OWNER,"30,000",1800,3,No Deposit,3 bathrooms,NaN,"Mourigram, Kolkata",NaN,Furnished
19433,KDH REALITY\nAGENT\n0,24000,1250,2,No Deposit,2 bathrooms,NaN,"Wagholi, Pune",Kolte Patil Ivy Apartment E V And VI,Semi-Furnished
20138,Seller\nVERIFIED OWNER,11000,650,1,No Deposit,1 bathrooms,NaN,"Anand Nagar, Pune",NaN,Semi-Furnished
49064,Seller\nVERIFIED OWNER,"8,500",600,1,No Deposit,1 bathrooms,East facing,"Sector 24, Gurgaon",NaN,Furnished
21384,NISHA SINGH\nAGENT\n0,51000,2500,5,No Deposit,5 bathrooms,West facing,"Tathawade, Pune",Pharande Puneville Phase I,Semi-Furnished
30657,Seller\nVERIFIED OWNER,"9,500",1200,2,No Deposit,2 bathrooms,NorthEast facing,"Kithaganur Colony, Bangalore",NaN,Semi-Furnished
41519,Seller\nVERIFIED OWNER,"11,000",750,3,No Deposit,1 bathrooms,NaN,"DLF Farms, Delhi",NaN,Semi-Furnished
41663,Neon Properties\nAGENT\n-,"65,000",1500,2,No Deposit,2 bathrooms,NorthEast facing,"Neeti Bagh, Delhi",NaN,Semi-Furnished
47525,Mahadev Renting Expert\nAGENT\n-,"32,500",1100,3,No Deposit,2 bathrooms,NaN,"Janakpuri, Delhi",DDA Flat Janakpuri,Semi-Furnished
27073,Seller\nVERIFIED OWNER,"13,000",2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished
24058,Seller\nVERIFIED OWNER,"20,000",550,1,No Deposit,1 bathrooms,West facing,"Whitefield, Bangalore",NaN,Furnished
3272,Om Property Dealer\nAGENT\n-,"74,000",1376,3,No Deposit,2 bathrooms,NorthEast facing,"Borivali East, Mumbai",Gitanjali Tatva,Furnished
35798,Seller\nVERIFIED OWNER,"20,000",810,2,No Deposit,2 bathrooms,NaN,"Sector 13 Rohini, Delhi",Reputed Builder GS Apartment,Unfurnished
46551,Modern Spaces\nAGENT\n-,"85,000",2000,3,No Deposit,4 bathrooms,NaN,"Vasant Kunj, Delhi",DDA Flats Vasant Kunj,Unfurnished
5156,Siddhi Vinayak Enterprises\nAGENT\n-,"45,000",1850,3,No Deposit,3 bathrooms,NaN,"Kharghar, Mumbai",NaN,Semi-Furnished
38254,Sweet Homes Real Estate\nAGENT\n-,"50,000",2000,4,No Deposit,4 bathrooms,South facing,"Saket, Delhi",NaN,Semi-Furnished
31567,Seller\nVERIFIED OWNER,"15,000",1100,2,No Deposit,2 bathrooms,NaN,"Koramangala, Bangalore",NaN,Semi-Furnished
63798,Seller\nVERIFIED OWNER,"7,000",460,1,No Deposit,1 bathrooms,NaN,"Jadavpur, Kolkata",NaN,Unfurnished

In [106]:
### In rent column data contain alphanumeric values like 1.5L,3.5L values we need to convert this into the numeric value

In [107]:
## conversion of rentcolumn into numeri type:
def convert_rent(rent):
    if "L" in rent:
        return int(float(rent.replace('L','').replace(',','').strip())*100000)                                           
    else:
        return int(float(rent.replace(',','').strip()))

In [108]:
city['Rent']=city['Rent'].apply(convert_rent)

In [109]:
city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67316 entries, 0 to 67315
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   broker_consultancy  67315 non-null  object
 1   Rent                67316 non-null  int64
 2   Builtup Area        67316 non-null  int64
 3   appartment_type     67316 non-null  int64
 4   Deposit             67316 non-null  object
 5   Bathrooms           66972 non-null  object
 6   Facing              23820 non-null  object
 7   Address             67316 non-null  object
 8   Apartment Name      27288 non-null  object
 9   Status              67316 non-null  object
dtypes: int64(3), object(7)
memory usage: 5.1+ MB

In [115]:
## conversion of Deposit column into the numeric type:
def convert_deposit(deposit):
    if deposit == "No Deposit":
        return 0
    elif isinstance(deposit, str) and 'L' in deposit:
        # Split on 'L', take the first part, convert to float, and multiply by 100000
        return float(deposit.split('L')[0]) * 100000
    else:
        # Handle other cases as needed
        return deposit

city['Deposit'] = city['Deposit'].apply(convert_deposit)

In [116]:
city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67316 entries, 0 to 67315
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   broker_consultancy  67315 non-null  object
 1   Rent                67316 non-null  int64
 2   Builtup Area        67316 non-null  int64
 3   appartment_type     67316 non-null  int64
 4   Deposit             67316 non-null  object
 5   Bathrooms           66972 non-null  object
 6   Facing              23820 non-null  object
 7   Address             67316 non-null  object
 8   Apartment Name      27288 non-null  object
 9   Status              67316 non-null  object
dtypes: int64(3), object(7)
memory usage: 5.1+ MB

In [112]:
## conversion of Deposit column into the numeric type:
def convert_deposit(deposit):
    if deposit == "No Deposit":
        return 0
    elif isinstance(deposit, str) and 'L' in deposit:
        # Split on 'L', take the first part, convert to float, and multiply by 100000
        return float(deposit.split('L')[0]) * 100000
    else:
        # Handle other cases as needed
        return deposit

city['Deposit'] = city['Deposit'].apply(convert_deposit)

In [113]:
city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67316 entries, 0 to 67315
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   broker_consultancy  67315 non-null  object
 1   Rent                67316 non-null  int64
 2   Builtup Area        67316 non-null  int64
 3   appartment_type     67316 non-null  int64
 4   Deposit             67316 non-null  object
 5   Bathrooms           66972 non-null  object
 6   Facing              23820 non-null  object
 7   Address             67316 non-null  object
 8   Apartment Name      27288 non-null  object
 9   Status              67316 non-null  object
dtypes: int64(3), object(7)
memory usage: 5.1+ MB

In [114]:
city(50)

TypeError: 'DataFrame' object is not callable

In [ ]:
city.sample(50)

In [ ]:

## remove bathrooms from no_of bathroom:
def extract_first_number(x):
    if isinstance(x, str):
        # Split the string and convert the first part to float
        return float(x.split(' ')[0])
    elif isinstance(x, float):
        # If it's already a float, return it as is
        return x
    else:
        # Handle other cases (if any) or return NaN
        return float('nan')

city['Bathrooms'] = city['Bathrooms'].apply(extract_first_number)

In [ ]:
city.info()

In [ ]:
### spliting the adaress into the locality and city

In [ ]:
city['City']=city['Address'].str.split(',').apply(lambda x:x[1])

In [ ]:
city

In [ ]:
city['locality']=city['Address'].str.split(',').apply(lambda x:x[0])

In [ ]:
city.drop(columns=['Address'],inplace=True)

In [ ]:
city

In [ ]:
city.sample(15)

In [ ]:
city['City'].value_counts().plot(kind='bar')

In [ ]:
city['Status'].value_counts().plot(kind='bar')

In [ ]:
city['Facing'].value_counts().plot(kind='bar')

In [ ]:
city.describe()

In [ ]:
city.drop(columns=['broker_consultancy'],inplace=True)

In [ ]:
city

In [ ]:
city.isna().sum()

In [ ]:
city.drop(columns=['Address'],inplace=True)

In [ ]:
city

In [ ]:
city.sample(50
           )

In [ ]:
def convert_deposit(deposit):
    if deposit == "No Deposit":
        return 0
    elif isinstance(deposit, str):
        # Remove commas and the word 'deposit', then strip any extra spaces
        deposit = deposit.replace(',', '').replace('deposit', '').strip()
        if 'L' in deposit:
            return int(float(deposit.replace('L', '').strip()) * 100000)
        else:
            return int(float(deposit))
    else:
        return int(deposit)  # Convert already numeric values to int

# Apply the function to the Deposit column
city['Deposit'] = city['Deposit'].apply(convert_deposit)

In [ ]:
city

In [ ]:
city.describe()

In [ ]:
city.info()

In [ ]:
city.isna().sum()

In [ ]:
city.shape[0]