In [2]:
import numpy as np
import pandas as pd

In [3]:
mumbai=pd.read_csv('mumbai.csv')

In [4]:
pune=pd.read_csv('pune.csv')

In [5]:
city=pd.concat([mumbai,pune],ignore_index=True)

In [6]:
city

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
0,Kasturi Developers\nBUILDER\n-,"20,000",1132,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",EV Castle,Unfurnished
1,Kasturi Developers\nBUILDER\n-,"20,000",1200,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Unfurnished
2,Kasturi Developers\nBUILDER\n-,"30,000",1700,3,No Deposit,3 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Semi-Furnished
3,Seller\nVERIFIED OWNER,"28,500",750,2,No Deposit,2 bathrooms,NaN,"Kandivali West, Mumbai",Atul Blue Arch,Unfurnished
4,Seller\nVERIFIED OWNER,"50,000",1400,3,No Deposit,3 bathrooms,East facing,"Chembur, Mumbai",Godrej Prime,Semi-Furnished
...,...,...,...,...,...,...,...,...,...,...
22891,Melange Consultancy\nAGENT\n-,48000,1300,2,No Deposit,2 bathrooms,NaN,"Hadapsar, Pune",Marvel Arco,Furnished
22892,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,"Dhanori, Pune",Goel Ganga Ganga Newtown Ph 02,Semi-Furnished
22893,KDH REALITY\nAGENT\n-,24000,1250,2,No Deposit,2 bathrooms,NaN,"Wagholi, Pune",Kolte Patil Ivy Apartment E V And VI,Semi-Furnished
22894,FS Realty\nAGENT\n-,26000,950,2,No Deposit,2 bathrooms,East facing,"Dhanori, Pune",Raojee Palladium Homes,Unfurnished
22895,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3 bathrooms,NaN,"Hinjewadi, Pune",Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished

In [ ]:
movies['lead actor']=movies['actors'].str.split('|').apply(lambda x:x[0])

In [7]:
city['Address'].str.split(',').apply[lambda x:x[0]]

TypeError: 'StringMethods' object is not callable

In [ ]:
movies[(movies['genres'].str.split('|').apply(lambda x:'Action'in x))

In [10]:
city['City']=city['Address'].str.split(',').apply(lambda x:x[0])

In [11]:
city

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,main_city,City
0,Kasturi Developers\nBUILDER\n-,"20,000",1132,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",EV Castle,Unfurnished,Ulwe,Ulwe
1,Kasturi Developers\nBUILDER\n-,"20,000",1200,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Unfurnished,Ulwe,Ulwe
2,Kasturi Developers\nBUILDER\n-,"30,000",1700,3,No Deposit,3 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Semi-Furnished,Ulwe,Ulwe
3,Seller\nVERIFIED OWNER,"28,500",750,2,No Deposit,2 bathrooms,NaN,"Kandivali West, Mumbai",Atul Blue Arch,Unfurnished,Kandivali West,Kandivali West
4,Seller\nVERIFIED OWNER,"50,000",1400,3,No Deposit,3 bathrooms,East facing,"Chembur, Mumbai",Godrej Prime,Semi-Furnished,Chembur,Chembur
...,...,...,...,...,...,...,...,...,...,...,...,...
22891,Melange Consultancy\nAGENT\n-,48000,1300,2,No Deposit,2 bathrooms,NaN,"Hadapsar, Pune",Marvel Arco,Furnished,Hadapsar,Hadapsar
22892,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,"Dhanori, Pune",Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Dhanori,Dhanori
22893,KDH REALITY\nAGENT\n-,24000,1250,2,No Deposit,2 bathrooms,NaN,"Wagholi, Pune",Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Wagholi,Wagholi
22894,FS Realty\nAGENT\n-,26000,950,2,No Deposit,2 bathrooms,East facing,"Dhanori, Pune",Raojee Palladium Homes,Unfurnished,Dhanori,Dhanori
22895,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3 bathrooms,NaN,"Hinjewadi, Pune",Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished,Hinjewadi,Hinjewadi

In [12]:
city.drop(columns=['main_city','City'],inplace=True)

In [13]:
city

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
0,Kasturi Developers\nBUILDER\n-,"20,000",1132,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",EV Castle,Unfurnished
1,Kasturi Developers\nBUILDER\n-,"20,000",1200,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Unfurnished
2,Kasturi Developers\nBUILDER\n-,"30,000",1700,3,No Deposit,3 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Semi-Furnished
3,Seller\nVERIFIED OWNER,"28,500",750,2,No Deposit,2 bathrooms,NaN,"Kandivali West, Mumbai",Atul Blue Arch,Unfurnished
4,Seller\nVERIFIED OWNER,"50,000",1400,3,No Deposit,3 bathrooms,East facing,"Chembur, Mumbai",Godrej Prime,Semi-Furnished
...,...,...,...,...,...,...,...,...,...,...
22891,Melange Consultancy\nAGENT\n-,48000,1300,2,No Deposit,2 bathrooms,NaN,"Hadapsar, Pune",Marvel Arco,Furnished
22892,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,"Dhanori, Pune",Goel Ganga Ganga Newtown Ph 02,Semi-Furnished
22893,KDH REALITY\nAGENT\n-,24000,1250,2,No Deposit,2 bathrooms,NaN,"Wagholi, Pune",Kolte Patil Ivy Apartment E V And VI,Semi-Furnished
22894,FS Realty\nAGENT\n-,26000,950,2,No Deposit,2 bathrooms,East facing,"Dhanori, Pune",Raojee Palladium Homes,Unfurnished
22895,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3 bathrooms,NaN,"Hinjewadi, Pune",Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished

In [14]:
city['City']=city['Address'].str.split(',').apply(lambda x:x[1])

In [15]:
city

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,City
0,Kasturi Developers\nBUILDER\n-,"20,000",1132,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",EV Castle,Unfurnished,Mumbai
1,Kasturi Developers\nBUILDER\n-,"20,000",1200,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Unfurnished,Mumbai
2,Kasturi Developers\nBUILDER\n-,"30,000",1700,3,No Deposit,3 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Semi-Furnished,Mumbai
3,Seller\nVERIFIED OWNER,"28,500",750,2,No Deposit,2 bathrooms,NaN,"Kandivali West, Mumbai",Atul Blue Arch,Unfurnished,Mumbai
4,Seller\nVERIFIED OWNER,"50,000",1400,3,No Deposit,3 bathrooms,East facing,"Chembur, Mumbai",Godrej Prime,Semi-Furnished,Mumbai
...,...,...,...,...,...,...,...,...,...,...,...
22891,Melange Consultancy\nAGENT\n-,48000,1300,2,No Deposit,2 bathrooms,NaN,"Hadapsar, Pune",Marvel Arco,Furnished,Pune
22892,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,"Dhanori, Pune",Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Pune
22893,KDH REALITY\nAGENT\n-,24000,1250,2,No Deposit,2 bathrooms,NaN,"Wagholi, Pune",Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Pune
22894,FS Realty\nAGENT\n-,26000,950,2,No Deposit,2 bathrooms,East facing,"Dhanori, Pune",Raojee Palladium Homes,Unfurnished,Pune
22895,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3 bathrooms,NaN,"Hinjewadi, Pune",Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished,Pune

In [16]:
city['locality']=city['Address'].str.split(',').apply(lambda x:x[0])

In [17]:
city

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status,City,locality
0,Kasturi Developers\nBUILDER\n-,"20,000",1132,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",EV Castle,Unfurnished,Mumbai,Ulwe
1,Kasturi Developers\nBUILDER\n-,"20,000",1200,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Unfurnished,Mumbai,Ulwe
2,Kasturi Developers\nBUILDER\n-,"30,000",1700,3,No Deposit,3 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Semi-Furnished,Mumbai,Ulwe
3,Seller\nVERIFIED OWNER,"28,500",750,2,No Deposit,2 bathrooms,NaN,"Kandivali West, Mumbai",Atul Blue Arch,Unfurnished,Mumbai,Kandivali West
4,Seller\nVERIFIED OWNER,"50,000",1400,3,No Deposit,3 bathrooms,East facing,"Chembur, Mumbai",Godrej Prime,Semi-Furnished,Mumbai,Chembur
...,...,...,...,...,...,...,...,...,...,...,...,...
22891,Melange Consultancy\nAGENT\n-,48000,1300,2,No Deposit,2 bathrooms,NaN,"Hadapsar, Pune",Marvel Arco,Furnished,Pune,Hadapsar
22892,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,"Dhanori, Pune",Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Pune,Dhanori
22893,KDH REALITY\nAGENT\n-,24000,1250,2,No Deposit,2 bathrooms,NaN,"Wagholi, Pune",Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Pune,Wagholi
22894,FS Realty\nAGENT\n-,26000,950,2,No Deposit,2 bathrooms,East facing,"Dhanori, Pune",Raojee Palladium Homes,Unfurnished,Pune,Dhanori
22895,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3 bathrooms,NaN,"Hinjewadi, Pune",Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished,Pune,Hinjewadi

In [18]:
city.drop(columns=['Address'],inplace=True)

In [19]:
city

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,City,locality
0,Kasturi Developers\nBUILDER\n-,"20,000",1132,2,No Deposit,2 bathrooms,NorthEast facing,EV Castle,Unfurnished,Mumbai,Ulwe
1,Kasturi Developers\nBUILDER\n-,"20,000",1200,2,No Deposit,2 bathrooms,NorthEast facing,NaN,Unfurnished,Mumbai,Ulwe
2,Kasturi Developers\nBUILDER\n-,"30,000",1700,3,No Deposit,3 bathrooms,NorthEast facing,NaN,Semi-Furnished,Mumbai,Ulwe
3,Seller\nVERIFIED OWNER,"28,500",750,2,No Deposit,2 bathrooms,NaN,Atul Blue Arch,Unfurnished,Mumbai,Kandivali West
4,Seller\nVERIFIED OWNER,"50,000",1400,3,No Deposit,3 bathrooms,East facing,Godrej Prime,Semi-Furnished,Mumbai,Chembur
...,...,...,...,...,...,...,...,...,...,...,...
22891,Melange Consultancy\nAGENT\n-,48000,1300,2,No Deposit,2 bathrooms,NaN,Marvel Arco,Furnished,Pune,Hadapsar
22892,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2 bathrooms,West facing,Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Pune,Dhanori
22893,KDH REALITY\nAGENT\n-,24000,1250,2,No Deposit,2 bathrooms,NaN,Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Pune,Wagholi
22894,FS Realty\nAGENT\n-,26000,950,2,No Deposit,2 bathrooms,East facing,Raojee Palladium Homes,Unfurnished,Pune,Dhanori
22895,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3 bathrooms,NaN,Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished,Pune,Hinjewadi

In [20]:
city.sample(15)

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,City,locality
16287,MY HOMES GATEWAY\nAGENT\n0,36000,1560,3,No Deposit,3 bathrooms,East facing,Karan Madhupushpa,Semi-Furnished,Pune,Wakad
15049,Seller\nOWNER,"73,000",1400,2,No Deposit,2 bathrooms,NaN,NaN,Furnished,Mumbai,Mahim
17947,MY HOMES GATEWAY\nAGENT\n0,36000,1560,3,No Deposit,3 bathrooms,East facing,Karan Madhupushpa,Semi-Furnished,Pune,Wakad
18108,Sai Real Estate\nAGENT\n0,41000,1250,2,No Deposit,2 bathrooms,NaN,Vascon Forest County,Semi-Furnished,Pune,Kharadi
17262,Seller\nVERIFIED OWNER,15500,975,2,No Deposit,2 bathrooms,NaN,Legacy Twin Arcs,Semi-Furnished,Pune,Tathawade
456,Hari Om Estate\nAGENT\n-,"96,000",1600,3,No Deposit,3 bathrooms,SouthEast facing,Oberoi Sky City Tower F,Semi-Furnished,Mumbai,Borivali East
10421,Citizone Properties\nAGENT\n-,"26,000",971,2,1.25 L deposit,2 bathrooms,NaN,Siddhi Highland Haven,Semi-Furnished,Mumbai,Thane West
10568,Prema Housing\nAGENT\n-,"45,000",959,2,2 L deposit,2 bathrooms,NaN,Triumph Siddhivinayak,Unfurnished,Mumbai,Borivali East
5249,Avenue Properties\nAGENT\n-,"58,000",1600,4,No Deposit,4 bathrooms,NorthWest facing,Everest World Phase 3,Furnished,Mumbai,Thane West
19584,NISHA SINGH\nAGENT\n0,51000,2500,5,No Deposit,5 bathrooms,West facing,Pharande Puneville Phase I,Semi-Furnished,Pune,Tathawade
10821,Sai Kripa Real Estate Agency\nAGENT\n-,"50,000",1211,2,No Deposit,2 bathrooms,North facing,NaN,Furnished,Mumbai,Chembur
7734,SSC Consultant\nAGENT\n-,1.85 L,1600,3,No Deposit,2 bathrooms,South facing,Reputed Builder Marathon Era Apartment,Furnished,Mumbai,Lower Parel
13807,Property Solution\nAGENT\n-,"30,000",1400,2,1 L deposit,2 bathrooms,NaN,Raikar Yashodeep Height,Semi-Furnished,Mumbai,Airoli
1181,Nine Yards Lease Assist\nAGENT\n-,"11,000",666,1,No Deposit,1 bathrooms,SouthWest facing,Runwal Gardens,Unfurnished,Mumbai,Dombivali
8812,ANAND BHUSE\nAGENT\n-,"60,000",900,2,No Deposit,2 bathrooms,SouthWest facing,Srishti Complex,Furnished,Mumbai,Powai

In [22]:
city['Bathrooms']=city['Bathrooms'].str.split(' ').apply(lambda x:float(x[0]))

TypeError: 'float' object is not subscriptable

In [23]:
city['Bathrooms'] = city['Bathrooms'].str.split(' ').apply(lambda x: float(x[0]))

TypeError: 'float' object is not subscriptable

In [26]:
def extract_first_number(x):
    if isinstance(x, str):
        # Split the string and convert the first part to float
        return float(x.split(' ')[0])
    elif isinstance(x, float):
        # If it's already a float, return it as is
        return x
    else:
        # Handle other cases (if any) or return NaN
        return float('nan')

city['Bathrooms'] = city['Bathrooms'].apply(extract_first_number)

ValueError: cannot convert float NaN to integer

In [25]:
city

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,City,locality
0,Kasturi Developers\nBUILDER\n-,"20,000",1132,2,No Deposit,2.0,NorthEast facing,EV Castle,Unfurnished,Mumbai,Ulwe
1,Kasturi Developers\nBUILDER\n-,"20,000",1200,2,No Deposit,2.0,NorthEast facing,NaN,Unfurnished,Mumbai,Ulwe
2,Kasturi Developers\nBUILDER\n-,"30,000",1700,3,No Deposit,3.0,NorthEast facing,NaN,Semi-Furnished,Mumbai,Ulwe
3,Seller\nVERIFIED OWNER,"28,500",750,2,No Deposit,2.0,NaN,Atul Blue Arch,Unfurnished,Mumbai,Kandivali West
4,Seller\nVERIFIED OWNER,"50,000",1400,3,No Deposit,3.0,East facing,Godrej Prime,Semi-Furnished,Mumbai,Chembur
...,...,...,...,...,...,...,...,...,...,...,...
22891,Melange Consultancy\nAGENT\n-,48000,1300,2,No Deposit,2.0,NaN,Marvel Arco,Furnished,Pune,Hadapsar
22892,A Realities\nAGENT\n-,23000,1000,2,No Deposit,2.0,West facing,Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Pune,Dhanori
22893,KDH REALITY\nAGENT\n-,24000,1250,2,No Deposit,2.0,NaN,Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Pune,Wagholi
22894,FS Realty\nAGENT\n-,26000,950,2,No Deposit,2.0,East facing,Raojee Palladium Homes,Unfurnished,Pune,Dhanori
22895,Envision Realty\nAGENT\n-,37000,1100,3,No Deposit,3.0,NaN,Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished,Pune,Hinjewadi

In [27]:
city.shape[0]

22896

In [30]:
for i in range (len(city['Deposit'])):
    if city['Deposit'][i]=="No Deposit":
        city['Deposit'][i]=0
    elif 'L'in city['Deposit'][i]:
        city['Deposit'][i].str.split('L').apply(lambda x:(x[0]*100000))
        
    else:
        city['Deposit'][i]=0

        

def convert_deposit(deposit):
    if deposit == "No Deposit":
        return 0
    elif isinstance(deposit, str) and 'L' in deposit:
        # Split on 'L', take the first part, convert to float, and multiply by 100000
        return float(deposit.split('L')[0]) * 100000
    else:
        # Handle other cases as needed
        return deposit

city['Deposit'] = city['Deposit'].apply(convert_deposit)

TypeError: argument of type 'int' is not iterable

In [ ]:
city['Bathrooms'] = city['Bathrooms'].str.split(' ').apply(lambda x: float(x[0]))

In [31]:
def convert_deposit(deposit):
    if deposit == "No Deposit":
        return 0
    elif isinstance(deposit, str) and 'L' in deposit:
        # Split on 'L', take the first part, convert to float, and multiply by 100000
        return float(deposit.split('L')[0]) * 100000
    else:
        # Handle other cases as needed
        return deposit

city['Deposit'] = city['Deposit'].apply(convert_deposit)

In [32]:
city

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,City,locality
0,Kasturi Developers\nBUILDER\n-,"20,000",1132,2,0,2.0,NorthEast facing,EV Castle,Unfurnished,Mumbai,Ulwe
1,Kasturi Developers\nBUILDER\n-,"20,000",1200,2,0,2.0,NorthEast facing,NaN,Unfurnished,Mumbai,Ulwe
2,Kasturi Developers\nBUILDER\n-,"30,000",1700,3,0,3.0,NorthEast facing,NaN,Semi-Furnished,Mumbai,Ulwe
3,Seller\nVERIFIED OWNER,"28,500",750,2,0,2.0,NaN,Atul Blue Arch,Unfurnished,Mumbai,Kandivali West
4,Seller\nVERIFIED OWNER,"50,000",1400,3,0,3.0,East facing,Godrej Prime,Semi-Furnished,Mumbai,Chembur
...,...,...,...,...,...,...,...,...,...,...,...
22891,Melange Consultancy\nAGENT\n-,48000,1300,2,0,2.0,NaN,Marvel Arco,Furnished,Pune,Hadapsar
22892,A Realities\nAGENT\n-,23000,1000,2,0,2.0,West facing,Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Pune,Dhanori
22893,KDH REALITY\nAGENT\n-,24000,1250,2,0,2.0,NaN,Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Pune,Wagholi
22894,FS Realty\nAGENT\n-,26000,950,2,0,2.0,East facing,Raojee Palladium Homes,Unfurnished,Pune,Dhanori
22895,Envision Realty\nAGENT\n-,37000,1100,3,0,3.0,NaN,Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished,Pune,Hinjewadi

In [33]:
city.sample(50)

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,City,locality
17254,FS Realty\nAGENT\n0,26000,950,2,0,2.0,East facing,Raojee Palladium Homes,Unfurnished,Pune,Dhanori
21477,Seller\nVERIFIED OWNER,12000,906,2,0,2.0,NaN,Jayshree Boulevard,Unfurnished,Pune,Lohegaon
9140,Anjali Estate Agency\nAGENT\n-,"60,000",1200,2,0,1.0,East facing,Kanakia Kanakia Sevens,Unfurnished,Mumbai,Andheri East
14869,Seller\nOWNER,2.75 L,2250,4,0,4.0,East facing,NaN,Semi-Furnished,Mumbai,Juhu
3010,Shree Aniruddha Real Estate\nAGENT\n-,"37,000",1000,2,0,2.0,East facing,Laxmi Aangan,Furnished,Mumbai,Kharghar
10242,Jugyah\nAGENT\n-,"10,473",300,1,0,1.0,NaN,NaN,Unfurnished,Mumbai,Dombivli (West)
20027,MY HOMES GATEWAY\nAGENT\n0,36000,1560,3,0,3.0,East facing,Karan Madhupushpa,Semi-Furnished,Pune,Wakad
2160,UK Reality\nAGENT\n-,"80,000",600,1,0,2.0,NaN,NaN,Furnished,Mumbai,Worli
6477,Saproperties\nAGENT\n-,1.6 L,2100,4,0,4.0,East facing,DB Woods,Furnished,Mumbai,Goregaon East
18907,MY HOMES GATEWAY\nAGENT\n0,36000,1560,3,0,3.0,East facing,Karan Madhupushpa,Semi-Furnished,Pune,Wakad
11098,Prema Housing\nAGENT\n-,"40,000",1000,2,200000.0,2.0,NaN,Krishiv Heritage,Unfurnished,Mumbai,Borivali East
8825,Mahalaxmi Properties\nAGENT\n-,1.4 L,1500,3,0,3.0,East facing,Godrej The Trees,Unfurnished,Mumbai,Vikhroli
15300,Amresh Property Ghansoli\nBUILDER\n-,"11,390",670,1,0,2.0,NaN,Mag Mallhar Ghansoli Navi Mumbai,Unfurnished,Mumbai,Ghansoli
7663,Rupali Property Consultancy\nAGENT\n-,"27,000",530,1,0,2.0,NaN,Swaraj Homes Kannamwar Nagar Matoshree CHS,Semi-Furnished,Mumbai,Vikhroli
4885,Vishal Estate\nAGENT\n-,"25,000",500,1,0,1.0,East facing,Mayfair Marve Queen,Furnished,Mumbai,Malad West
13641,Western Property Consultants\nAGENT\n-,"25,000",650,1,100000.0,2.0,NaN,Aashiyana Tower,Unfurnished,Mumbai,Jogeshwari West
2133,Seller\nVERIFIED OWNER,"8,500",650,1,0,2.0,East facing,Platinum Frenny Platinum Tower,Semi-Furnished,Mumbai,Vasai
17114,FS Realty\nAGENT\n-,26000,950,2,0,2.0,East facing,Raojee Palladium Homes,Unfurnished,Pune,Dhanori
723,Sales Office\nAGENT\n-,"56,000",1550,3,0,3.0,East facing,Tricity Panache,Semi-Furnished,Mumbai,Seawoods
8584,Indramani Pandey\nAGENT\n-,"13,966",705,1,0,2.0,NorthWest facing,JVM Shubham,Semi-Furnished,Mumbai,Thane West
511,Mihir Desai\nAGENT\n-,1.2 L,1282,2,0,2.0,NaN,Hiranandani Castle Rock C And D Wing,Semi-Furnished,Mumbai,Powai
19669,Happiness Realtors\nAGENT\n0,18000,950,2,0,2.0,NaN,Majestique Manhattan Wing C,Semi-Furnished,Pune,Wagholi
1743,Aarya Enterprises\nAGENT\n-,"24,000",560,1,0,1.0,North facing,NaN,Unfurnished,Mumbai,Ghansoli
14700,Seller\nOWNER,"25,000",1200,2,0,2.0,NaN,Godrej The Trees,Semi-Furnished,Mumbai,Vikhroli
9353,Mumbai Space\nAGENT\n-,"67,000",850,2,0,2.0,East facing,Shapoorji Pallonji Vicinia,Semi-Furnished,Mumbai,Powai
20232,A Realities\nAGENT\n0,23000,1000,2,0,2.0,West facing,Goel Ganga Ganga Newtown Ph 02,Semi-Furnished,Pune,Dhanori
11371,Nidhi Realtors\nAGENT\n-,"8,000",360,1,0,1.0,NaN,NaN,Unfurnished,Mumbai,Dombivli (West)
6810,Jeet Realtors\nAGENT\n-,"85,000",1950,4,0,3.0,NaN,Shah Mahavir Ornate,Semi-Furnished,Mumbai,Koper Khairane
609,Rana Enterprises\nAGENT\n-,"10,700",950,2,0,2.0,NaN,NaN,Semi-Furnished,Mumbai,Antarli
10515,Prema Housing\nAGENT\n-,"45,000",1200,2,100000.0,2.0,NaN,Ekta Woods,Unfurnished,Mumbai,Borivali East
19924,NISHA SINGH\nAGENT\n0,51000,2500,5,0,5.0,West facing,Pharande Puneville Phase I,Semi-Furnished,Pune,Tathawade
19264,NISHA SINGH\nAGENT\n0,51000,2500,5,0,5.0,West facing,Pharande Puneville Phase I,Semi-Furnished,Pune,Tathawade
14887,Seller\nOWNER,2.75 L,2250,4,0,4.0,East facing,NaN,Semi-Furnished,Mumbai,Juhu
5596,Right Properties\nAGENT\n-,3 L,2000,3,0,3.0,West facing,NaN,Furnished,Mumbai,Bandra West
17834,FS Realty\nAGENT\n-,26000,950,2,0,2.0,East facing,Raojee Palladium Homes,Unfurnished,Pune,Dhanori
12848,Ugam Property\nAGENT\n-,"30,000",1017,3,100000.0,3.0,NaN,Bhagwati Greens 3,Semi-Furnished,Mumbai,Kharghar
19153,KDH REALITY\nAGENT\n0,24000,1250,2,0,2.0,NaN,Kolte Patil Ivy Apartment E V And VI,Semi-Furnished,Pune,Wagholi
7189,Ansh Realty Govind Gupta\nAGENT\n-,1.7 L,1950,3,0,3.0,NaN,Piramal Aranya Ahan 2,Furnished,Mumbai,Byculla
8297,BEST DEAL Real Estate VIRAR\nAGENT\n-,"8,990",580,1,0,2.0,East facing,NaN,Semi-Furnished,Mumbai,Virar West
12578,Makaan\nAGENT\n-,"32,000",700,2,0,1.0,West facing,NaN,Semi-Furnished,Mumbai,Bhandup East
6851,Mars Properties\nAGENT\n-,"35,000",700,2,0,2.0,NorthEast facing,Piramal Vaikunth Cluster 2,Semi-Furnished,Mumbai,Thane West
6528,Naina Enterprises\nAGENT\n-,"16,000",600,1,0,1.0,North facing,Lodha Casa Bella Gold,Semi-Furnished,Mumbai,Dombivali
5063,Seller\nVERIFIED OWNER,"10,000",700,1,0,1.0,NaN,NaN,Unfurnished,Mumbai,Kalamboli
22808,Sai Real Estate\nAGENT\n0,41000,1250,2,0,2.0,NaN,Vascon Forest County,Semi-Furnished,Pune,Kharadi
13632,DREAM PROPERTIES\nAGENT\n-,"47,000",600,1,0,2.0,West facing,Spark Shree Madhusudan CHSL,Unfurnished,Mumbai,Ville Parle East
20654,FS Realty\nAGENT\n0,26000,950,2,0,2.0,East facing,Raojee Palladium Homes,Unfurnished,Pune,Dhanori
19911,Melange Consultancy\nAGENT\n0,48000,1300,2,0,2.0,NaN,Marvel Arco,Furnished,Pune,Hadapsar
7571,Nest Properties\nAGENT\n-,"65,000",1200,3,0,2.0,NaN,Neelam Solstice Phase I,Unfurnished,Mumbai,Ghatkopar East
17101,Seller\nVERIFIED OWNER,1.1 L,5000,5,0,5.0,NaN,NaN,Unfurnished,Pune,Wadgaon Sheri
7966,EASY TO MOVE IN\nAGENT\n-,2.08 L,1150,3,0,2.0,NorthEast facing,Lodha Park,Unfurnished,Mumbai,Lower Parel