# problem statement

### 1.IMPORT REQUIRED LIBRARYS

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

###  2.READING THE DATA

In [221]:
def get_data():

    #Noida  city csv file:
    jaipur=pd.read_csv('jaipur.csv')
    
    #Noida  city csv file:
    bhopal=pd.read_csv('bhopal.csv')

    
    #Noida  city csv file:
    vadodara=pd.read_csv('vadodara.csv')

    
    #Noida  city csv file:
    surat=pd.read_csv('surat.csv')

    
    #Noida  city csv file:
    kanpur=pd.read_csv('kanpur.csv')

    
    #Noida  city csv file:
    Guwahati=pd.read_csv('Guwahati.csv')

     #Noida  city csv file:
    Faridabad=pd.read_csv('Faridabad.csv')

    


    

    #Noida  city csv file:
    Lucknow=pd.read_csv('Lucknow.csv')

    #indore  city csv file:
    indore=pd.read_csv('indore.csv')

    #Noida  city csv file:
    Noida=pd.read_csv('Noida.csv')

    #Ghaziyabad  city csv file:
    Ghaziyabad=pd.read_csv('Ghaziyabad.csv')

    # Ahmadabad city csv file:
    Ahmadabad=pd.read_csv('Ahmadabad.csv')
    

    # kolkata city csv file:
    kolkata=pd.read_csv('kolkata.csv')

    
    # Hydrabadcity csv file:
    hyderabad=pd.read_csv('hyderabad.csv')
    
    
    # gurgaoncity csv file:
    gurgaon=pd.read_csv('gurgaon.csv')

    # Delhi city csv file:
    Delhi=pd.read_csv('Delhi.csv')
    
    # Chennai city csv file:
    Chennai=pd.read_csv('Chennai.csv')

    # Banglore city csv file:
    Banglore=pd.read_csv('Banglore.csv')
    
    # pune city csv file:
    pune=pd.read_csv('pune.csv')
    
    # mumbai city csv file:
    mumbai=pd.read_csv('mumbai.csv')

   ### merge alll above city into one dataframe:
    return  pd.concat([mumbai,pune,Banglore,Chennai,Delhi,gurgaon,hyderabad,kolkata,Ahmadabad,Ghaziyabad,Noida,indore,Lucknow,jaipur,bhopal,vadodara,surat,kanpur,Guwahati,Faridabad],ignore_index=True)

In [222]:
data=get_data()

In [223]:
data

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
0,Kasturi Developers\nBUILDER\n-,"20,000",1132,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",EV Castle,Unfurnished
1,Kasturi Developers\nBUILDER\n-,"20,000",1200,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Unfurnished
2,Kasturi Developers\nBUILDER\n-,"30,000",1700,3,No Deposit,3 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Semi-Furnished
3,Seller\nVERIFIED OWNER,"28,500",750,2,No Deposit,2 bathrooms,NaN,"Kandivali West, Mumbai",Atul Blue Arch,Unfurnished
4,Seller\nVERIFIED OWNER,"50,000",1400,3,No Deposit,3 bathrooms,East facing,"Chembur, Mumbai",Godrej Prime,Semi-Furnished
...,...,...,...,...,...,...,...,...,...,...
82011,Seller\nVERIFIED OWNER,"11,000",1100,2,"11,000 deposit",2 bathrooms,NaN,"Sector 2, Faridabad",NaN,Unfurnished
82012,Seller\nVERIFIED OWNER,"9,000",900,2,"9,000 deposit",2 bathrooms,NaN,"Sector 91, Faridabad",Gupta Surya Nagar 2,Semi-Furnished
82013,Seller\nVERIFIED OWNER,"22,000",2727,4,"22,000 deposit",4 bathrooms,NaN,"Sector 76, Faridabad",NaN,Semi-Furnished
82014,Seller\nVERIFIED OWNER,"11,000",600,2,No Deposit,2 bathrooms,NaN,"Sector 88, Faridabad",NaN,Semi-Furnished
82015,Seller\nVERIFIED OWNER,"40,000",1900,3,No Deposit,3 bathrooms,NorthEast facing,"Sector 79, Faridabad",Omaxe Royal Residency,Semi-Furnished

In [224]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82016 entries, 0 to 82015
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   broker_consultancy  82015 non-null  object
 1   Rent                82016 non-null  object
 2   Builtup Area        82016 non-null  int64
 3   appartment_type     82016 non-null  int64
 4   Deposit             82016 non-null  object
 5   Bathrooms           81672 non-null  object
 6   Facing              28451 non-null  object
 7   Address             82016 non-null  object
 8   Apartment Name      32734 non-null  object
 9   Status              82016 non-null  object
dtypes: int64(2), object(8)
memory usage: 6.3+ MB

-   The data set contains 82,016 rows and 10 features
-   column "Bathrooms ,Facing,Appartment_Name," have lots of  missing values
-   The data type of some features are not appropriate

### 3.PREMLINARY DATA ANALYSIS

#### 3.1Check for datatype

In [225]:
data.sample(150)

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
14862,Seller\nOWNER,2.75 L,2250,4,No Deposit,4 bathrooms,East facing,"Juhu, Mumbai",NaN,Semi-Furnished
40015,Adarsh Associates\nAGENT\n-,"67,000",1000,2,No Deposit,2 bathrooms,NaN,"Sarvodaya Enclave, Delhi",NaN,Furnished
67909,Seller\nVERIFIED OWNER,"15,000",1125,2,"30,000 deposit",2 bathrooms,NaN,"Hatkeshwar, Ahmedabad",NaN,Semi-Furnished
44203,Neon Properties\nAGENT\n-,"65,000",1500,2,No Deposit,2 bathrooms,NorthEast facing,"Neeti Bagh, Delhi",NaN,Semi-Furnished
31162,Seller\nVERIFIED OWNER,"18,000",1000,2,No Deposit,2 bathrooms,NaN,"byatarayanapura, Bangalore",NaN,Semi-Furnished
...,...,...,...,...,...,...,...,...,...,...
33138,Seller\nVERIFIED OWNER,"14,000",700,2,No Deposit,2 bathrooms,NaN,"Virugambakkam, Chennai",NaN,Semi-Furnished
74759,Seller\nVERIFIED OWNER,"60,000",3600,4,No Deposit,3 bathrooms,East facing,"Sector 92, Noida",NaN,Furnished
37892,CK Home Solutions\nAGENT\n-,"15,000",850,2,"15,000 deposit",2 bathrooms,NaN,"Shahdara, Delhi",NaN,Semi-Furnished
32789,GB Property\nAGENT\n-,"10,000",720,2,No Deposit,2 bathrooms,NaN,"Perumalpattu, Chennai",NaN,Unfurnished
58476,Seller\nVERIFIED OWNER,"9,000",600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished

In [226]:
data.dtypes

broker_consultancy    object
Rent                  object
Builtup Area           int64
appartment_type        int64
Deposit               object
Bathrooms             object
Facing                object
Address               object
Apartment Name        object
Status                object
dtype: object

#### 3.2Check For Duplicates

In [227]:
data.duplicated().sum()

68994

In [228]:
duplicated_rows=(
    data.loc[data.duplicated(keep=False)].sort_values(["Rent","Builtup Area","appartment_type","Bathrooms","Facing","Address","Apartment Name","Status"])
)

In [229]:
duplicated_rows.sample(150)

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
65137,Seller\nVERIFIED OWNER,"12,500",800,2,No Deposit,2 bathrooms,South facing,"Garia, Kolkata",NaN,Semi-Furnished
78061,Seller\nVERIFIED OWNER,"8,000",500,1,No Deposit,1 bathrooms,NaN,"Triveni Nagar, Lucknow",NaN,Semi-Furnished
21575,Envision Realty\nAGENT\n0,37000,1100,3,No Deposit,3 bathrooms,NaN,"Hinjewadi, Pune",Paranjape Blue Ridge Project E Land T24 And T25,Semi-Furnished
66895,Sagar Realty\nAGENT\n0,"30,000",1100,3,No Deposit,2 bathrooms,SouthEast facing,"Haltu, Kolkata",Reputed Builder Avishikta 2,Semi-Furnished
9737,Nandan Space Realty\nAGENT\n-,"38,000",840,2,No Deposit,2 bathrooms,West facing,"Goregaon East, Mumbai",Reputed Builder Gokuldham Complex,Semi-Furnished
...,...,...,...,...,...,...,...,...,...,...
33085,GL Reddy Home Enterprises\nAGENT\n0,"35,000",1800,3,No Deposit,3 bathrooms,NaN,"Palavakkam, Chennai",NaN,Semi-Furnished
17324,NISHA SINGH\nAGENT\n-,51000,2500,5,No Deposit,5 bathrooms,West facing,"Tathawade, Pune",Pharande Puneville Phase I,Semi-Furnished
43555,Adarsh Associates\nAGENT\n-,"67,000",1000,2,No Deposit,2 bathrooms,NaN,"Sarvodaya Enclave, Delhi",NaN,Furnished
41399,Seller\nVERIFIED OWNER,"11,000",750,3,No Deposit,1 bathrooms,NaN,"DLF Farms, Delhi",NaN,Semi-Furnished
57536,Seller\nVERIFIED OWNER,"9,000",600,3,No Deposit,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished

In [230]:
duplicated_rows.shape

(71650, 10)

In [231]:
82016-68994

13022

#### 3.3 Observations

- The type of `Rent`, `Deposit`, `bathroom`should be changed to numeric type.
- There're 6700 duplicates. These should be removed.

### 4.DETAILED ANALYSIS

#### broker_consultancy

In [232]:
data.broker_consultancy

0        Kasturi Developers\nBUILDER\n-
1        Kasturi Developers\nBUILDER\n-
2        Kasturi Developers\nBUILDER\n-
3                Seller\nVERIFIED OWNER
4                Seller\nVERIFIED OWNER
                      ...
82011            Seller\nVERIFIED OWNER
82012            Seller\nVERIFIED OWNER
82013            Seller\nVERIFIED OWNER
82014            Seller\nVERIFIED OWNER
82015            Seller\nVERIFIED OWNER
Name: broker_consultancy, Length: 82016, dtype: object

In [233]:
data.broker_consultancy.dtypes

dtype('O')

In [234]:
data.broker_consultancy.isna().sum()

1

In [235]:
data.broker_consultancy.unique()

array(['Kasturi Developers\nBUILDER\n-', 'Seller\nVERIFIED OWNER',
       'CHERRISH ESTATE CONSULTANTS\nAGENT\n-', ...,
       'ROYALTY SOLUTION SERVICES\nAGENT\n0',
       'NARAYAN REALTORS GUWAHATI\nAGENT\n0', 'DEBOJIT\nAGENT\n0'],
      dtype=object)

-   The data type of broker_consultancy is valid
-   broker_consultancy contain one null value
-   There is no used of this feature in model_trainng
-   we are going drop this in data_cleaning operation

#### Rent

In [236]:
data.Rent

0        20,000
1        20,000
2        30,000
3        28,500
4        50,000
          ...
82011    11,000
82012     9,000
82013    22,000
82014    11,000
82015    40,000
Name: Rent, Length: 82016, dtype: object

In [237]:
(
    data
    .Rent
    .loc[lambda ser: ser.str.contains("[^0-9,]")]
)

23       1.65 L
26        2.8 L
27        1.5 L
30        1.3 L
36        1.4 L
          ...
81255       1 L
81275       1 L
81295       1 L
81315       1 L
81335       1 L
Name: Rent, Length: 4822, dtype: object

In [238]:
data.Rent.isna().sum()

0

In [239]:
data.Rent.dtypes

dtype('O')

In [240]:
(
    data
    .Rent
    .loc[lambda ser: ser.str.contains("[^0-9,]")]
     .str.replace("L","")
     .astype(float)
      .mul(100000)
      .astype(int)
      
    
    
)

23       165000
26       280000
27       150000
30       130000
36       140000
          ...
81255    100000
81275    100000
81295    100000
81315    100000
81335    100000
Name: Rent, Length: 4822, dtype: int64

-   The data type of Rent  is not valid
-   In rent column data contain alphanumeric values like 1.5L,3.5L values
-   we need to convert this into the numeric value
-   This feature contain zero null value

#### Builtup_Area

-   The data type of Rent  is  valid
-   Does not contains any null value

#### Appartment_type

In [241]:
data.appartment_type.dtypes

dtype('int64')

In [242]:
data.appartment_type.isna().sum()

0

-   The data type of Rent  is  valid
-   Does not contains any null value

#### Deposit

In [243]:
data.Deposit.unique()

array(['No Deposit', '4 L deposit', '1.25 L deposit', '1 L deposit',
       '60,000 deposit', '70,000 deposit', '3 L deposit', '3.5 L deposit',
       '1.5 L deposit', '3.3 L deposit', '2 L deposit', '6 L deposit',
       '9.75 L deposit', '10 L deposit', '9 L deposit', '80,000 deposit',
       '42,000 deposit', '75,000 deposit', '5 L deposit',
       '40,000 deposit', '2.5 L deposit', '5.4 L deposit', '20 L deposit',
       '15 L deposit', '18 L deposit', '8.5 L deposit', '2.1 L deposit',
       '1.74 L deposit', '1.35 L deposit', '28,000 deposit',
       '1.67 L deposit', '1.2 L deposit', '1.16 L deposit',
       '9.9 L deposit', '3.6 L deposit', '6.2 L deposit', '2.2 L deposit',
       '4.8 L deposit', '1.6 L deposit', '2.6 L deposit', '1.7 L deposit',
       '1.3 L deposit', '81,000 deposit', '84,000 deposit',
       '69,000 deposit', '1.08 L deposit', '1.02 L deposit',
       '1.56 L deposit', '54,000 deposit', '1.05 L deposit',
       '50,000 deposit', '7,000 deposit', '30,000 deposit',
       '1.38 L deposit', '7.2 L deposit', '8 L deposit', '1.41 L deposit',
       '99,000 deposit', '51,000 deposit', '57,000 deposit',
       '96,000 deposit', '66,000 deposit', '1.95 L deposit',
       '63,000 deposit', '78,000 deposit', '87,000 deposit',
       '93,000 deposit', '1.11 L deposit', '2.25 L deposit',
       '1.29 L deposit', '4.5 L deposit', '20,000 deposit',
       '52,500 deposit', '85,000 deposit', '3.25 L deposit',
       '12,000 deposit', '35,000 deposit', '6.6 L deposit',
       '4.2 L deposit', '6.3 L deposit', '12 L deposit', '10,000 deposit',
       '90,000 deposit', '1.1 L deposit', '1.4 L deposit',
       '2.4 L deposit', '1.92 L deposit', '25 L deposit',
       '25,000 deposit', '2.7 L deposit', '1.26 L deposit',
       '1.32 L deposit', '2.94 L deposit', '2.64 L deposit',
       '1.8 L deposit', '24,200 deposit', '15,000 deposit',
       '2.3 L deposit', '3.2 L deposit', '7 L deposit', '68,000 deposit',
       '7.5 L deposit', '95,000 deposit', '21 L deposit',
       '45,000 deposit', '18,000 deposit', '1.75 L deposit',
       '55,000 deposit', '14,000 deposit', '14,500 deposit',
       '13,500 deposit', '13,000 deposit', '98,000 deposit',
       '2.75 L deposit', '5.5 L deposit', '30 L deposit', '42 L deposit',
       '8.7 L deposit', '11 L deposit', '65,000 deposit',
       '1.65 L deposit', '6.5 L deposit', '30,800 deposit',
       '30,200 deposit', '30,500 deposit', '30,600 deposit',
       '30,400 deposit', '1.12 L deposit', '9,000 deposit',
       '7.8 L deposit', '48,000 deposit', '5.1 L deposit',
       '22,000 deposit', '1.45 L deposit', '500 deposit', '17 L deposit',
       '1.55 L deposit', '21,000 deposit', '1.15 L deposit',
       '2,000 deposit', '24,000 deposit', '34,000 deposit',
       '16 L deposit', '1.85 L deposit', '2.15 L deposit',
       '3.75 L deposit', '1.23 L deposit', '3.9 L deposit',
       '13.2 L deposit', '8.85 L deposit', '3.76 L deposit',
       '72 L deposit', '1.14 L deposit', '16.5 L deposit',
       '8,000 deposit', '36,000 deposit', '13 L deposit',
       '2.73 L deposit', '16,000 deposit', '3,000 deposit',
       '11,000 deposit', '57,500 deposit', '82,000 deposit',
       '76,000 deposit', '17,500 deposit', '8.25 L deposit',
       '27,000 deposit', '17,000 deposit', '6,000 deposit',
       '5,000 deposit', '4,500 deposit', '61,000 deposit',
       '56,000 deposit', '4,000 deposit', '39,000 deposit',
       '26,000 deposit', '12,500 deposit', '28,500 deposit',
       '46,000 deposit', '3,800 deposit', '18,500 deposit',
       '23,000 deposit', '13,900 deposit', '9,999 deposit',
       '14,900 deposit', '7,500 deposit', '11,500 deposit'], dtype=object)

In [244]:
(
    data
    .Deposit
    .loc[lambda ser: ser.str.contains("[^No Deposit]")]
     .count()
    
)

12653

-   The data type of Deposit   is not  valid
-   This feature have lots of value as "no_Deposit"
-   because of that we are going to drop this feature

#### Bathrooms

In [245]:
data.Bathrooms

0        2 bathrooms
1        2 bathrooms
2        3 bathrooms
3        2 bathrooms
4        3 bathrooms
            ...
82011    2 bathrooms
82012    2 bathrooms
82013    4 bathrooms
82014    2 bathrooms
82015    3 bathrooms
Name: Bathrooms, Length: 82016, dtype: object

In [247]:
data.Bathrooms.isna().sum()

344

In [248]:
(
    data
    .Bathrooms
     .str.strip()
     .str.get(0)
      
     
     
    
)

0        2
1        2
2        3
3        2
4        3
        ..
82011    2
82012    2
82013    4
82014    2
82015    3
Name: Bathrooms, Length: 82016, dtype: object

-   The data type of Bathrooms is not  valid
-   it should be numeric
-   this feature contains 344 null value
-   in datacleaning operation the above problems are handle

#### Facing


-   This feature have lots of null value
-   because of that we are going to drop this feature

#### Address

In [249]:
data.Address

0                  Ulwe, Mumbai
1                  Ulwe, Mumbai
2                  Ulwe, Mumbai
3        Kandivali West, Mumbai
4               Chembur, Mumbai
                  ...
82011       Sector 2, Faridabad
82012      Sector 91, Faridabad
82013      Sector 76, Faridabad
82014      Sector 88, Faridabad
82015      Sector 79, Faridabad
Name: Address, Length: 82016, dtype: object

In [250]:
data.Address.isna().sum()

0

In [251]:
data['Address'].str.split(',').apply(lambda x:x[1]).unique()

array([' Mumbai', '', 'Thane west', ' Pune', ' Bangalore', ' Chennai',
       ' Delhi', ' Gurgaon', ' Hyderabad', ' Kolkata', ' Ahmedabad',
       ' Ghaziabad', ' Noida', ' Indore', ' Lucknow', ' Jaipur',
       ' Bhopal', ' Vadodara', ' Surat', ' Kanpur', ' Guwahati',
       ' Faridabad'], dtype=object)


-   This  Address feature have loction and city 
-   we have requirement of city name
-   because of that we have to seprate out the locality and city from address
-   add new feature as city and drop the feature address from dataframe
-   This feature does not contains missing values

#### Apartment Name

-   This feature have lots of null value
-   because of that we are going to drop this feature

#### Status

In [252]:
data.Status

0           Unfurnished
1           Unfurnished
2        Semi-Furnished
3           Unfurnished
4        Semi-Furnished
              ...
82011       Unfurnished
82012    Semi-Furnished
82013    Semi-Furnished
82014    Semi-Furnished
82015    Semi-Furnished
Name: Status, Length: 82016, dtype: object

In [253]:
data.Status.isna().sum()

0

In [254]:
data.Status.unique()

array(['Unfurnished', 'Semi-Furnished', 'Furnished'], dtype=object)

-   This Feature has valid datatype
-   Does not contains any null value
-   not required any cleaning opertion

### 5.DATACLEANING OPERATION

In [255]:
 def convert_rent(rent):
        if pd.isna(rent):  # Check for NaN values
            return np.nan
        if "L" in rent:
            return int(float(rent.replace('L', '').replace(',', '').strip()) * 100000)
        else:
            return int(float(rent.replace(',', '').strip()))

In [256]:
def clean_data(df):
    # Drop the 'broker_consultancy' column and rename columns to lowercase
    df_cleaned = (
        df
        .drop(columns="broker_consultancy")  # Drop the 'broker_consultancy','Deposit' column
        .drop(columns="Deposit")
        .drop(columns="Facing")
        .drop(columns="Apartment Name")
        .drop_duplicates()
        
        .rename(columns=str.lower)            # Rename columns to lowercase
        .assign
        ( bathrooms=lambda df_:
         (
            df_
            
         .bathrooms
         .str.strip()
          .str.get(0)   
             
         )
            
        )
   
    )

    

    

    # Apply the convert_rent function to the 'rent' column
    df_cleaned['rent'] = df_cleaned['rent'].apply(convert_rent)

    if 'bathrooms' in df_cleaned.columns:
        mode_bathrooms = df_cleaned['bathrooms'].mode()[0]  # Calculate mode
        df_cleaned['bathrooms'] = df_cleaned['bathrooms'].fillna(mode_bathrooms) 

    # Convert 'bathrooms' column to integer type
    df_cleaned['bathrooms'] = df_cleaned['bathrooms'].astype(int)

    df_cleaned['city']=df_cleaned['address'].str.split(',').apply(lambda x:x[1])
    df_cleaned = df_cleaned.drop(columns="address")
    
    # Rename columns by removing or replacing substrings
    df_cleaned.columns = df_cleaned.columns.str.replace('area', '')
    df_cleaned.columns = df_cleaned.columns.str.replace('builtup', 'area')
    df_cleaned.columns = df_cleaned.columns.str.replace('appartment_type', 'type')
    df_cleaned.columns = df_cleaned.columns.str.replace('status', 'furnished_type')
    




    

    return df_cleaned

In [257]:
clean_data(data)

        rent  area   type  bathrooms  furnished_type        city
0      20000   1132     2          2     Unfurnished      Mumbai
1      20000   1200     2          2     Unfurnished      Mumbai
2      30000   1700     3          3  Semi-Furnished      Mumbai
3      28500    750     2          2     Unfurnished      Mumbai
4      50000   1400     3          3  Semi-Furnished      Mumbai
...      ...    ...   ...        ...             ...         ...
81351  11000   1100     2          2     Unfurnished   Faridabad
81352   9000    900     2          2  Semi-Furnished   Faridabad
81353  22000   2727     4          4  Semi-Furnished   Faridabad
81354  11000    600     2          2  Semi-Furnished   Faridabad
81355  40000   1900     3          3  Semi-Furnished   Faridabad

[12218 rows x 6 columns]

In [258]:
data

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
0,Kasturi Developers\nBUILDER\n-,"20,000",1132,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",EV Castle,Unfurnished
1,Kasturi Developers\nBUILDER\n-,"20,000",1200,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Unfurnished
2,Kasturi Developers\nBUILDER\n-,"30,000",1700,3,No Deposit,3 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Semi-Furnished
3,Seller\nVERIFIED OWNER,"28,500",750,2,No Deposit,2 bathrooms,NaN,"Kandivali West, Mumbai",Atul Blue Arch,Unfurnished
4,Seller\nVERIFIED OWNER,"50,000",1400,3,No Deposit,3 bathrooms,East facing,"Chembur, Mumbai",Godrej Prime,Semi-Furnished
...,...,...,...,...,...,...,...,...,...,...
82011,Seller\nVERIFIED OWNER,"11,000",1100,2,"11,000 deposit",2 bathrooms,NaN,"Sector 2, Faridabad",NaN,Unfurnished
82012,Seller\nVERIFIED OWNER,"9,000",900,2,"9,000 deposit",2 bathrooms,NaN,"Sector 91, Faridabad",Gupta Surya Nagar 2,Semi-Furnished
82013,Seller\nVERIFIED OWNER,"22,000",2727,4,"22,000 deposit",4 bathrooms,NaN,"Sector 76, Faridabad",NaN,Semi-Furnished
82014,Seller\nVERIFIED OWNER,"11,000",600,2,No Deposit,2 bathrooms,NaN,"Sector 88, Faridabad",NaN,Semi-Furnished
82015,Seller\nVERIFIED OWNER,"40,000",1900,3,No Deposit,3 bathrooms,NorthEast facing,"Sector 79, Faridabad",Omaxe Royal Residency,Semi-Furnished